
#itemGallery .blog-slider-pager { display: none;}
#itemGallery .blog-slider {
	list-style: none;
	padding: 0;
	margin: 0;
}
#itemGallery .blog-slider:after {
	content: "";
	clear: both;
	display: block;
}
#itemGallery .blog-slider li {
	width: 100px;
	height: 100px;
	float:  left;
	margin-right: 10px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5)
}
#itemGallery .blog-slider li img {
	width: 100px !important;
	height: 100px !important;
}