/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
body#jsn-master.jsn-com-mijoshop .box_oc ul li {
	margin: 0;
	border-bottom: 1px dotted #ccc;
	padding: 7px 0;
}
.box_oc {
	margin-bottom: 20px;
}
.box_oc .box-heading,
.box_oc .box-content{
	border-radius:0;
	padding: 0;
	border: none;
	background: none;
}
.box_oc .box-heading {
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
	text-transform: uppercase;
	margin-bottom: 20px;
}
body.jsn-specialfont .box_oc .box-heading {
	font-family: 'Economica', sans-serif;
	font-size: 1.8em;
}
.box_oc ol,
.box_oc ul {
	list-style: none;
}
.box-product {
	margin: 0 ;
}
.box-product > div {
	text-align: center;
	width: auto;
	margin: 0 7px 20px;
	padding: 10px 0 20px 0;
	border: 1px solid transparent;
	transition:  0.3s ease-out;
	-moz-transition:  0.3s ease-out;
	-webkit-transition: 0.3s ease-out;
}
.box-product > div:hover {
	border: 1px solid #ddd;
}
.box-product .image img {
	border: none;
}
.product-info .image {
	margin-bottom: 10px;
}
.product-info .image-additional {
	width: auto;
}
#header_oc {
	margin-bottom: 20px;
	border: 1px solid #ddd;
	margin-top: -10px;
}
#currency {
	left: 0;
	top: 0;
	padding: 10px;
	background: #f4f4f4;
	height: 44px;
	border-right:1px solid #ddd;
	width: auto;
}
#currency a {
	margin-top: 5px;
}
a.button_oc,
input.button_oc,
body.jsn-joomla-30 a.btn,
body.jsn-joomla-30 input.btn {
	border-radius: 0;
	-webkit-border-radius: 0;
	border:none;
	transition:  0.3s ease-out;
	-moz-transition:  0.3s ease-out;
	-webkit-transition: 0.3s ease-out;
	box-shadow: none;
	height: auto;
	padding: 7px 20px;
}
body.jsn-specialfont.jsn-textstyle-business a.button_oc,
body.jsn-specialfont.jsn-textstyle-business input.button_oc,
body.jsn-specialfont.jsn-textstyle-business.jsn-joomla-30 a.btn,
body.jsn-specialfont.jsn-textstyle-business.jsn-joomla-30 input.btn{
	font-family: 'Economica', sans-serif;
	font-size: 1.4em;
}
body.jsn-specialfont.jsn-textstyle-personal a.button_oc,
body.jsn-specialfont.jsn-textstyle-personal input.button_oc,
body.jsn-specialfont.jsn-textstyle-personal.jsn-joomla-30 a.btn,
body.jsn-specialfont.jsn-textstyle-personal.jsn-joomla-30 input.btn{
	font-family:  'Bad Script', 'cursive', Georgia, serif;
	font-size: 1.4em;
}
body.jsn-specialfont.jsn-textstyle-news a.button_oc,
body.jsn-specialfont.jsn-textstyle-news input.button_oc,
body.jsn-specialfont.jsn-textstyle-news.jsn-joomla-30 a.btn,
body.jsn-specialfont.jsn-textstyle-news.jsn-joomla-30 input.btn{
	font-family: "Droid Serif", "Palatino Linotype", Palatino, serif;
	font-size: 1.4em;
}
.htabs {
	border: none;
	margin: 0 0 2px 0;
}
.htabs a {
	background: #f0f0f0;
	box-shadow: 0 1px 0 #fff inset;
	border: 1px solid #ddd;
}
.htabs a.selected {
	padding-bottom: 6px;
}
.tab-content {
	border-top: 1px solid #ddd;
}
#footer_oc .column ul li {
	margin: 0 0 5px 0;
}
#currency a {
	color: #999;
	height: 20px;
	width: 20px;
	padding: 0;
	text-align: center;
	background: #fff;
}
.box-product .name a {
	margin: 5px 0;
}
.box-product .price {
	margin: 0 0 10px 0;
}
.product-info .cart input[type="text"] {
	padding: 9px 5px 8px 5px;
}
body.jsn-specialfont .box-product .name a,
body.jsn-specialfont .box-product .price {
	font-family: 'Economica', sans-serif;
	font-size: 1.5em;
	line-height: 100%;
}
body.jsn-color-pink #currency a b { color: #cc3872}
body.jsn-color-blue #currency a b { color: #6ca8ff}
body.jsn-color-red #currency a b { color: #c71a1a}
body.jsn-color-green #currency a b { color: #72cca7}
body.jsn-color-brown #currency a b { color: #5a311f}
body.jsn-color-yellow #currency a b { color: #402113}
body.jsn-color-pink a.button_oc,
body.jsn-color-pink input.button_oc,
body.jsn-color-pink.jsn-joomla-30 a.btn,
body.jsn-color-pink.jsn-joomla-30 input.btn {
	background: #cc3872;
}
body.jsn-color-pink a.button_oc:hover,
body.jsn-color-pink input.button_oc:hover,
body.jsn-color-pink.jsn-joomla-30 a.btn:hover,
body.jsn-color-pink.jsn-joomla-30 input.btn:hover {
	background: #ab265a;
}
body.jsn-color-blue a.button_oc,
body.jsn-color-blue input.button_oc,
body.jsn-color-blue.jsn-joomla-30 a.btn,
body.jsn-color-blue.jsn-joomla-30 input.btn {
	background: #6ca8ff;
}
body.jsn-color-blue a.button_oc:hover,
body.jsn-color-blue input.button_oc:hover,
body.jsn-color-blue.jsn-joomla-30 a.btn:hover,
body.jsn-color-blue.jsn-joomla-30 input.btn:hover {
	background: #4482db;
}
body.jsn-color-red a.button_oc,
body.jsn-color-red input.button_oc,
body.jsn-color-red.jsn-joomla-30 a.btn,
body.jsn-color-red.jsn-joomla-30 input.btn {
	background: #c71a1a;
}
body.jsn-color-red a.button_oc:hover,
body.jsn-color-red input.button_oc:hover,
body.jsn-color-red.jsn-joomla-30 a.btn:hover,
body.jsn-color-red.jsn-joomla-30 input.btn:hover {
	background: #a51010;
}
body.jsn-color-green a.button_oc,
body.jsn-color-green input.button_oc,
body.jsn-color-green.jsn-joomla-30 a.btn,
body.jsn-color-green.jsn-joomla-30 input.btn {
	background: #72cca7;
}
body.jsn-color-green a.button_oc:hover,
body.jsn-color-green input.button_oc:hover,
body.jsn-color-green.jsn-joomla-30 a.btn:hover,
body.jsn-color-green.jsn-joomla-30 input.btn:hover {
	background: #4fae87;
}
body.jsn-color-brown a.button_oc,
body.jsn-color-brown input.button_oc,
body.jsn-color-brown.jsn-joomla-30 a.btn,
body.jsn-color-brown.jsn-joomla-30 input.btn {
	background: #5a311f;
}
body.jsn-color-brown a.button_oc:hover,
body.jsn-color-brown input.button_oc:hover,
body.jsn-color-brown.jsn-joomla-30 a.btn:hover,
body.jsn-color-brown.jsn-joomla-30 input.btn:hover {
	background: #402113;
}
body.jsn-color-yellow a.button_oc,
body.jsn-color-yellow input.button_oc,
body.jsn-color-yellow.jsn-joomla-30 a.btn,
body.jsn-color-yellow.jsn-joomla-30 input.btn {
	background: #F5B400;
}
body.jsn-color-yellow a.button_oc:hover,
body.jsn-color-yellow input.button_oc:hover,
body.jsn-color-yellow.jsn-joomla-30 a.btn:hover,
body.jsn-color-yellow.jsn-joomla-30 input.btn:hover {
	background: #F3645C;
}
#footer_oc .column ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#footer_oc .column ul li a {
	color: #666;
	font-size: 11px;
	background: url(ar.jpg) 0 6px no-repeat;
	padding: 0 0 0 10px;
	margin: 0 2px;
}
#header_oc #cart .heading {
	right:0;
	top: 0;
	padding: 23px 20px;
	margin: 0;
	float: none;
	text-align: right;
}
#header_oc #cart {
	right: 0;
	top: 0;
	left: auto;
}
#header_oc #cart .heading h4 {
	display: none;
}
#header_oc #cart .content_oc {
	border-radius:0;
	-webkit-border-radius:0;
	border: 5px solid #ddd;
	box-shadow: 0 0 2px rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.12);
	padding: 10px;
	top: 0;
	right: 0;
}
#header_oc #cart.active .heading {
	border: none;;
	margin: 0;
	padding: 23px 20px;
	border-radius:0;
	-webkit-border-radius:0;
	background: #ddd;
}
#header_oc #search_oc {
	left: 111px;
	top: 10px;
}
#header_oc #search_oc input {
	width: 300px;
	color: #999;
	font-size: 11px;
}
#header_oc .links {
	padding: 0;
	top: 42px;
	left: 106px;
	right: auto;
}
#header_oc .links a {
	font-size: 11px;
	color: #999;
}
#header_oc .links a:hover {
	text-decoration: underline;
}
.success {
	border-radius: 0;
	-webkit-border-radius: 0;
}
#footer_oc {
	padding: 20px 0 0 0;
	border-bottom: none;
	min-height: auto;
}
#footer_oc .column {
	min-height: auto;
}
#footer_oc h3 {
	font-size: 1.5em;
	line-height: 100%;
}
#module_cart .cart td {
	padding: 5px 3px;
	border-bottom: 1px solid #ddd;
}
#module_cart table.total td {
	padding: 5px 0;
}
#module_cart table.total {
	margin: 5px 0 10px 0;
	font-size: 11px;
}
.mini-cart-total {
	font-size: 11px;
}
.mini-cart-total tr td b,
#module_cart table.total tr td b {
	padding: 0 10px 0 0;
	font-weight: normal;
	color: #777;
}
.product-grid > div {
	text-align: center;
	margin: 0 7px 15px;
	padding: 10px;
	border: 1px solid transparent;
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
	    -ms-transition: all .3s ease-in-out;
	     -o-transition: all .3s ease-in-out;
	        transition: all .3s ease-in-out;
}
.product-grid > div:hover {
	border: 1px solid #e7e7e7;
}
.product-grid .image img {
	border: none;
}
body#jsn-master.jsn-com-mijoshop .sitemap-info ul li {
	margin: 0 10px;
}
.sitemap-info ul li ul {
	margin: 0 10px;
}
.sitemap-info ul li ul li:last-child {
	border-bottom: none !important;
}
/***************RTL LAYOUT*****************/
body.jsn-direction-rtl #currency {
	left: auto;
	right: 0;
	border-left: 1px solid #ddd;
	border-right: none;
}
body.jsn-direction-rtl #header_oc #cart .heading {
	text-align: left;
}
body.jsn-direction-rtl #header_oc #cart {
	left: 0;
	right: auto;
}
body.jsn-direction-rtl #header_oc #search_oc {
	left: auto;
	right: 111px;
	width: auto;
}
body.jsn-direction-rtl #header_oc .links {
	left: auto;
	right: 106px;
}
body.jsn-direction-rtl #header_oc .links a {
	padding: 0 7px 0 0;
}
body.jsn-direction-rtl #header_oc .links a {
	border-right: none;
	border-left: 1px solid #ccc;
	margin: 0;
	padding-left: 7px;
}
body.jsn-direction-rtl #footer_oc .column,
body.jsn-direction-rtl #content_oc {
	text-align: right;
}
body.jsn-direction-rtl .product-filter .display {
	float: right;
	margin: 0 0 0 15px;
}
body.jsn-direction-rtl .product-filter .limit {
	float: left;
	margin: 0 15px 0 0;
}
body.jsn-direction-rtl .product-filter .sort {
	float: left;
}
body.jsn-direction-rtl .product-list .image {
	float: right;
	margin: 0 0 0 10px;
}
body.jsn-direction-rtl .product-list .right {
	float: left;
	margin: 0 15px 0 0;
}
body.jsn-direction-rtl .product-list .price {
	float: left;
	text-align: left;
	margin: 0 8px 0 0;
}
body.jsn-direction-rtl .pagination .results {
	float: left;
}
body.jsn-direction-rtl #footer_oc .column ul li a {
	background: url(ar-2.jpg) right 6px no-repeat;
	padding: 0 10px 0 0;
}
/**Fix Joomla 3.0**/
.jsn-joomla-30 a.btn,
.jsn-joomla-30 input.btn {
	font-weight: bold;
	line-height: 12px;
}
.jsn-joomla-30.jsn-com-mijoshop select,
.jsn-joomla-30.jsn-com-mijoshop textarea,
.jsn-joomla-30.jsn-com-mijoshop input[type="text"],
.jsn-joomla-30.jsn-com-mijoshop input[type="password"],
.jsn-joomla-30.jsn-com-mijoshop input[type="datetime"],
.jsn-joomla-30.jsn-com-mijoshop input[type="datetime-local"],
.jsn-joomla-30.jsn-com-mijoshop input[type="date"],
.jsn-joomla-30.jsn-com-mijoshop input[type="month"],
.jsn-joomla-30.jsn-com-mijoshop input[type="time"],
.jsn-joomla-30.jsn-com-mijoshop input[type="week"],
.jsn-joomla-30.jsn-com-mijoshop input[type="number"],
.jsn-joomla-30.jsn-com-mijoshop input[type="email"],
.jsn-joomla-30.jsn-com-mijoshop input[type="url"],
.jsn-joomla-30.jsn-com-mijoshop input[type="search"],
.jsn-joomla-30.jsn-com-mijoshop input[type="tel"],
.jsn-joomla-30.jsn-com-mijoshop input[type="color"],
.jsn-joomla-30.jsn-com-mijoshop .uneditable-input {
	border-radius:0;
	-webkit-border-radius:0;
	margin-bottom: 0;
	height: auto;
}
.jsn-desktop-on-mobile.jsn-joomla-30.jsn-com-mijoshop select {
	width: auto;
}
@media only screen and (max-width: 960px),(max-device-width: 960px) {
	#header_oc {
		height: auto;
		border: none;
	}
	#currency {
		position: static;
		background: #fff;
		padding: 0 0 10px 0;
		border: none;
		border-bottom: 1px solid #ddd;
	}
	#header_oc #search_oc {
		position: static;
	}
	#header_oc .links {
		position: static;
		display: inline-block;
		margin: 10px 0 0 0;
		border-top: 1px solid #ddd;
		width: 100%;
		background: #f4f4f4;
	}
	#header_oc #cart .heading {
		padding: 10px 5px;
	}
	#header_oc #cart.active .heading {
		padding: 10px 5px;
	}
	#header_oc #search_oc input {
		width: 250px;
	}
	#header_oc .links a {
		margin: 10px 0;
	}
	.box-product > div,
	.box-product > div:hover {
		border-color: transparent;
	}
	.category-info .image {
		margin-bottom: 15px;
	}
}
@media only screen and (min-width: 640px) and (max-width: 767px), (min-device-width: 641px) and (max-device-width: 767px) {
	.product-info > .left {
		width: 45% !important;
	}
	.product-info > .right {
		width: 55% !important;
	}
}
@media only screen and (min-width: 481px) and (max-width: 639px), (min-device-width: 481px) and (max-device-width: 639px) {
	.box-product > div {
		width: 45%;
	}
	.product-info > .left,
	.product-info > .right {
		width: 100% !important;
	}
	.product-info .image {
		float: none;
	}
	.product-grid > div {
		width: 40%;
		padding: 10px;
		text-align: center;
		margin:0 0 5px 0;
	}
}	
@media only screen and (max-width: 480px), (max-device-width: 480px) {
	.box-product > div {
		width: 100%;
		margin: 0 0 20px 0;
		border-bottom: 1px dotted #ddd;
	}
	.box-product > div:hover {
		border-bottom: 1px dotted #ddd;
	}
	#footer_oc .column {
		margin-bottom: 20px;
		float: none;
		width: 100%;
	}
	.jsn-desktop-on-mobile #footer_oc .column {
		float: left;
		width: 25%;
	}
	.product-info > .left {
		float: none;
		clear: right;
	}
	.product-info > .right {
		float: none;
		clear: left;
		width: 100% !important;
	}
	.product-info .cart div {
		float: none;
	}
	.product-list .right {
		float: none;
		margin: 0 0 10px 0;
	}
	.product-list .price {
		float: none;
		text-align: left;
	}
	.product-list .image {
		margin-bottom: 10px;
	}
	.product-grid {
		text-align: center;
	}
	.product-grid > div {
		width: 40%;
		padding: 10px;
		text-align: center;
		margin:0 0 5px 0;
	}
	.product-grid .compare a,
	.product-grid .wishlist a {
		display: inline;
	}
	.product-grid .compare a
	.product-grid .image img {
		border-color: #fff;
	}
	input.large-field, select.large-field {
		width: 80%;
	}
	.product-info > .left {
		width: 100% !important;
		text-align: center;
	}
	.product-info .image {
		display: inline-block;;
		float: none;
	}
	.product-filter .sort {
	    clear: both;
	    float: left;
	    margin-top: 20px;
	}
	.product-list .right {
		display: inline-block;
		width: 100%;
	}
	.product-list .name {
		display: inline-block;
		width: 100%;
	}
	.product-list .wishlist,
	.product-list .compare {
		float: left;
		margin-right: 5px;
		margin-top: 10px;
	}
}