/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/************************************************************************************
 desktop layout (larger than 1200): common settings for wide desktop screen
*************************************************************************************/
@media only screen and (min-width: 1200px) {
	#jsn-page,
	#jsn-pos-topbar {
		width: 1170px;
	}
	#jsn-menu.jsn-menu-sticky {
		width: 1145px;
	}
	#jsn-pos-breadcrumbs {
		padding: 10px 0;
	}
	#jsn-maincontent.span12[class*="order"],
	#jsn-content.jsn-hasleft.jsn-hasright #jsn-maincontent.order2 {
		padding: 0;
	}

}