/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/************************************************************************************
 mobile layout (240 - 960): common settings for both smartphone and tablet
*************************************************************************************/
@media only screen and (max-width: 960px), (max-device-width: 960px) {
	body {
		font-size: 14px !important;
		-webkit-text-size-adjust: none;
	}
	img {
		max-width: 100%;
		height: auto;
		width: auto\9; /* ie8 */
	}
	#jsn-master #jsn-page {
		width: 100%;
		min-width: inherit;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		overflow: hidden;
		border-top: none;
	}
	#jsn-master.jsn-color-red #jsn-header {
		border-top: 4px solid #C71A1A;
	}
	#jsn-master.jsn-color-pink #jsn-header {
		border-top: 4px solid #CC3872;
	}
	#jsn-master.jsn-color-green #jsn-header {
		border-top: 4px solid #72CCA7;
	}
	#jsn-master.jsn-color-blue #jsn-header {
		border-top: 4px solid #6CA8FF;
	}
	#jsn-master.jsn-color-brown #jsn-header {
		border-top: 4px solid #5A311F;
	}
	#jsn-master.jsn-color-yellow #jsn-header {
		border-top: 4px solid #F5B400;
	}
	#jsn-menu.jsn-menu-sticky,
	#jsn-master #jsn-pos-topbar {
		width: 100%;		
	}
	#jsn-body {
		margin:0 10px;
	}
	#jsn-logo a {
		margin:0 10px;
	}
	#jsn-leftsidecontent div.jsn-modulecontainer,
	#jsn-rightsidecontent div.jsn-modulecontainer {
		border-bottom:1px solid #bbb;
	}
	[id*="jsn-content_inner"], [id*="jsn-maincontent_inner"] {
		left: auto;
		right: auto;
		background: #FFF;
	}
	#jsn-content.jsn-hasinnerleft #jsn-centercol_inner,
	#jsn-content.jsn-hasinnerright #jsn-centercol_inner {
		margin: 0;
	}
	a#jsn-gotoplink {
	    bottom: 10px;
	    right: 10px;
	}
	#jsn-footer {
		margin: 0;
	}
	/* =============== MAIN MENU =============== */
	#jsn-menu {
		clear: both;
		float: none;
		padding: 0;
		margin: 0;
		width: 100%;
		left: 0 !important;
	}
	#jsn-menu.jsn-menu-sticky {
		position: fixed;
		top: 0;
		-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
		background: rgba(0,0,0,0.85);
		margin: 0;
		padding: 0;
	}
	#jsn-pos-mainmenu,
	body.jsn-direction-rtl #jsn-pos-mainmenu {
		float: none;
	}
	ul.menu-topmenu {
		margin-right:10px;
	}
	#jsn-pos-content-top {
		margin: 0;
	}
	/* ----- MAIN TOGGLE ----- */
	#jsn-menu .jsn-menu-toggle {
		cursor: pointer;
		display: inline-block;
	}
	#jsn-menu .jsn-modulecontent > .jsn-menu-toggle {
		color: #fff;
		padding: 10px 12px;
		font-size: 1.3em;
		font-weight: bold;
		text-transform: uppercase;
	}
	body.jsn-textstyle-business #jsn-menu .jsn-modulecontent > .jsn-menu-toggle {
		padding: 12px 12px 7px;
	}
	body.jsn-textstyle-news #jsn-menu .jsn-modulecontent > .jsn-menu-toggle,
	body.jsn-textstyle-personal #jsn-menu .jsn-modulecontent > .jsn-menu-toggle {
		padding: 14px 12px 7px;
	}
	body.jsn-textstyle-news #jsn-desktopswitch,
	body.jsn-textstyle-personal #jsn-desktopswitch {
		padding: 14px 15px;
	}
	#jsn-menu .jsn-menu-toggle.active {
		background-color:rgba(0,0,0,0.2);
		color: #fff;
	}
	#jsn-menu ul.jsn-menu-mobile {
		position: absolute;
		width: 100%;
	}
	#jsn-menu #jsn-pos-mainmenu ul.jsn-menu-mobile {
		left: 0;
	}
	#jsn-menu #jsn-pos-toolbar ul.jsn-menu-mobile {
		right: 0;
	}
	#jsn-menu .jsn-menu-toggle + ul {
		display: none;
	}
	#jsn-menu .jsn-menu-toggle + ul.jsn-menu-mobile {
		display: block;
	}
	#jsn-menu .jsn-modulecontainer.display-dropdown .jsn-modulecontainer_inner:hover h3.jsn-moduletitle {
	    background: none;
	}
	#jsn-menu .jsn-modulecontainer.display-dropdown.jsn-dropdown-active .jsn-modulecontainer_inner h3.jsn-moduletitle {
	    color: #FFFFFF;
	}
	body.jsn-color-blue #jsn-menu .jsn-modulecontainer.display-dropdown.jsn-dropdown-active .jsn-modulecontainer_inner h3.jsn-moduletitle {
	    background: #4482DB;
	}
	body.jsn-color-red #jsn-menu .jsn-modulecontainer.display-dropdown.jsn-dropdown-active .jsn-modulecontainer_inner h3.jsn-moduletitle {
	    background: #A51010;
	}
	body.jsn-color-green #jsn-menu .jsn-modulecontainer.display-dropdown.jsn-dropdown-active .jsn-modulecontainer_inner h3.jsn-moduletitle {
	    background: #4FAE87;
	}
	body.jsn-color-pink #jsn-menu .jsn-modulecontainer.display-dropdown.jsn-dropdown-active .jsn-modulecontainer_inner h3.jsn-moduletitle {
	    background: #AB265A;
	}
	body.jsn-color-brown #jsn-menu .jsn-modulecontainer.display-dropdown.jsn-dropdown-active .jsn-modulecontainer_inner h3.jsn-moduletitle {
	    background: #402113;
	}
	body.jsn-color-yellow #jsn-menu .jsn-modulecontainer.display-dropdown.jsn-dropdown-active .jsn-modulecontainer_inner h3.jsn-moduletitle {
	    background: #F3645C;
	}
	#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontainer_inner h3.jsn-moduletitle > span {
	    padding: 16px 15px;
	}
	#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontainer_inner .jsn-modulecontent {
		visibility: visible;
		display:none;
	}
	#jsn-menu div.display-dropdown.jsn-dropdown-active.jsn-modulecontainer .jsn-modulecontainer_inner .jsn-modulecontent {
		display: block;
	}
	body.jsn-direction-rtl #jsn-menu #jsn-pos-mainmenu ul.jsn-menu-mobile {
		right: 0;
		left: auto;
	}
	body.jsn-direction-rtl #jsn-menu #jsn-pos-toolbar ul.jsn-menu-mobile {
		left: 0;
		right: auto;
	}
	body.jsn-direction-rtl #jsn-menu .jsn-menu-toggle + ul {
		right: 0;
	}
	body.jsn-direction-rtl div.jsn-modulecontainer ul.menu-mainmenu li.jsn-submenu-flipback a {
		text-align: right;
	}
	/* ----- LEVEL 1 ----- */
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu li {
		float: none;
		width: auto;
	}
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li {
		border-top: 1px solid #444;
		border-bottom: 1px solid #111;
		border-right: none;
		border-left: none;
		margin: 0;
	}
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li > a,
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li > a:hover {
		border: none;
		background: #333;
		color: #ddd;
		font-size: 1.1em;
		text-decoration: none;
		padding: 15px 10px;
	}
	#jsn-master.jsn-textstyle-business.jsn-specialfont #jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li > a,
	#jsn-master.jsn-textstyle-business.jsn-specialfont #jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li > a:hover,
	#jsn-master.jsn-textstyle-business.jsn-specialfont .jsn-moduletitle {
		font-size: 1.3em;
	}
	#jsn-pos-top div.search {
		text-align: center;
	}
	#jsn-pos-top div.search input#mod-search-searchword {
		width: 95%;
	}
	/* ----- ACTIVE STATE COLOR ----- */
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu li.active > a {
		color: #FFF;
	}
	body.jsn-color-blue #jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li.active > a {
		background-color: #6ca8ff;
	}
	body.jsn-color-green #jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li.active > a {
		background-color: #72cca7;
	}
	body.jsn-color-red #jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li.active > a {
		background-color: #c71a1a;
	}
	body.jsn-color-yellow #jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li.active > a {
		background-color: #F5B400;
	}
	body.jsn-color-pink #jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li.active > a {
		background-color: #cc3872;
	}
	body.jsn-color-brown #jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li.active > a {
		background-color: #5a311f;
	}
	div.jsn-modulecontainer ul.menu-mainmenu > li:hover > a {
		box-shadow: none !important;
	}
	/* ----- LEVEL 2 ----- */
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu.jsn-menu-mobile ul {
		width: auto;
		position: static;
		background-color: #222;
		visibility: visible;
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		margin: 0;
		padding: 0;
		box-shadow: none;
	}
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu > li > .jsn-menu-mobile {
		padding: 5px 15px;
	}
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu ul li {
		border: none;
		background: none;
	}
	#jsn-menu [id*="jsn-pos-"] div.jsn-modulecontainer ul.menu-mainmenu ul li a {
		border: none;
		background: none;
		color: #fff;
		padding: 15px 0 15px 24px;
		background: url(../../images/icons/icons-base.png) left -326px no-repeat;
	}
	#jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li a {
		text-align: left;
	}
	body.jsn-direction-rtl #jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li a {
		text-align: right;
	}
	body.jsn-direction-rtl #jsn-menu [id*="jsn-pos-"] div.jsn-modulecontainer ul.menu-mainmenu ul li a,
	body.jsn-direction-rtl #jsn-menu [id*="jsn-pos-"] div.jsn-modulecontainer ul.menu-mainmenu ul li.parent > a {
		padding-left: 0;
		padding-right: 24px;
		background-position: right -326px;
	}
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu li span.jsn-menu-toggle {
		top: 0;
		padding: 0;
		margin: 0;
		width: 48px;
		height: 48px;
		cursor: pointer;
		position: absolute;
		background: rgba(0,0,0,0.3) url(../../images/icons/icon-toggle-expand.png) center center no-repeat;
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#4c000000', EndColorStr='#4c000000');
		right: 0;
	}
	body.jsn-direction-rtl #jsn-menu div.jsn-modulecontainer ul.menu-mainmenu li span.jsn-menu-toggle {
		left: 0;
		right: auto;
	}
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu li span.jsn-menu-toggle.active {
		background-image: url(../../images/icons/icon-toggle-collapse.png);
	}
	body.jsn-direction-rtl #jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li a {
		border: none;
	}
	/* ----- LEVEL 3 ----- */
	#jsn-menu div.jsn-modulecontainer ul.menu-mainmenu ul ul li {
		margin-left: 20px;
		margin-right: 10px;
	}
	body.jsn-direction-rtl #jsn-menu div.jsn-modulecontainer ul.menu-mainmenu ul ul li {
		margin-left: 10px;
		margin-right: 20px;
	}
	/* =============== MOBILE SIDE MENU =============== */
	body div.jsn-modulecontainer ul.menu-sidemenu ul {
		display: none;
	}
	body div.jsn-modulecontainer ul.menu-sidemenu li.parent > a {
		padding-right: 8px;
		background-image: none;
	}
	/* ===============  SITETOOLS =============== */
	#jsn-sitetoolspanel {
		display: none;
	}
	#jsn-sitetoolspanel.jsn-include-color {
		display: block;
	}
	ul#jsn-sitetools-menu,
	ul#jsn-sitetools-inline,
	#jsn-menu.jsn-mobile-menu-sticky ul#jsn-sitetools-inline {
		margin:1px 0 0 0;
	}
	ul#jsn-sitetools-menu ul li.jsn-selector-size,
	ul#jsn-sitetools-inline ul li.jsn-selector-size {
		display: none;
	}
	ul#jsn-sitetools-menu li ul,
	ul#jsn-sitetools-inline li ul {
		margin-left: -108px;
	}
	ul#jsn-sitetools-inline li {
		padding: 0;
		margin: 0;
		background: url(../../images/icons/icons-uni-white.png) center -1354px no-repeat;
	}
	ul#jsn-sitetools-inline > li {
		display: inline-block;
	}
	ul#jsn-sitetools-menu > li {
		position: static;
		width: 46px;
		height: 46px;
		background-color:transparent;
	}
	ul#jsn-sitetools-menu > li > a,
	ul#jsn-sitetools-inline > li > a {
		margin: 0;
		padding: 0;
		display: block;
	}
	ul#jsn-sitetools-inline > li > a {
		width: 46px;
		height: 46px;
	}
	ul#jsn-sitetools-menu li ul {
		top: 47px;
		display: none;
		right: 0;
	}
	ul#jsn-sitetools-inline li ul {
		z-index: 90;
		right: 0;
		top: 47px;
		position: absolute;
		display: none;
		background: #222;
	}
	ul#jsn-sitetools-inline li.active ul,
	ul#jsn-sitetools-menu li.active ul {
		display: block;
		visibility: visible;
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	ul#jsn-sitetools-inline ul li {
		padding: 3px 6px;
		background: none;
	}
	ul#jsn-sitetools-inline ul li a {
		float: left;
		width: 35px;
		height: 35px;
		display: inline-block;
		margin: 5px;
	}
	#jsn-menu #jsn-pos-toolbar div.jsn-modulecontainer {
		margin-right:0;
		margin-left: 0;
	}
	ul#jsn-sitetools-inline li {
		transition: background 0.3s ease-out;
		-moz-transition: background 0.3s ease-out;
		-webkit-transition: background 0.3s ease-out;
	}
	#jsn-sitetools-inline #jsn-selector-blue,
	#jsn-sitetools-inline #jsn-selector-red,
	#jsn-sitetools-inline #jsn-selector-green,
	#jsn-sitetools-inline #jsn-selector-brown,
	#jsn-sitetools-inline #jsn-selector-pink,
	#jsn-sitetools-inline #jsn-selector-yellow,
	#jsn-sitetools-inline #jsn-selector-blue.current,
	#jsn-sitetools-inline #jsn-selector-blue:hover,
	#jsn-sitetools-inline #jsn-selector-red.current,
	#jsn-sitetools-inline #jsn-selector-red:hover,
	#jsn-sitetools-inline #jsn-selector-green.current,
	#jsn-sitetools-inline #jsn-selector-green:hover,
	#jsn-sitetools-inline #jsn-selector-brown.current,
	#jsn-sitetools-inline #jsn-selector-brown:hover,
	#jsn-sitetools-inline #jsn-selector-pink.current,
	#jsn-sitetools-inline #jsn-selector-pink:hover,
	#jsn-sitetools-inline #jsn-selector-yellow.current,
	#jsn-sitetools-inline #jsn-selector-yellow:hover {
		background-image: url(../../images/icons/icons-sitetools-color.png);
		background-repeat: no-repeat;
	}
	#jsn-sitetools-inline #jsn-selector-blue {
	background-position: 0 0;
	}
	#jsn-sitetools-inline #jsn-selector-red {
		background-position: -45px 0;
	}
	#jsn-sitetools-inline #jsn-selector-pink {
		background-position: -90px 0;
	}
	#jsn-sitetools-inline #jsn-selector-green {
		background-position: 0 -45px;
	}
	#jsn-sitetools-inline #jsn-selector-brown {
		background-position: -45px -45px;
	}
	#jsn-sitetools-inline #jsn-selector-yellow {
		background-position: -90px -45px;
	}
	#jsn-sitetools-inline #jsn-selector-blue.current,
	#jsn-sitetools-inline #jsn-selector-blue:hover {
		background-position: 0 -90px;
	}
	#jsn-sitetools-inline #jsn-selector-red.current,
	#jsn-sitetools-inline #jsn-selector-red:hover {
		background-position: -45px -90px;
	}
	#jsn-sitetools-inline #jsn-selector-pink.current,
	#jsn-sitetools-inline #jsn-selector-pink:hover {
		background-position: -90px -90px;
	}
	#jsn-sitetools-inline #jsn-selector-green.current,
	#jsn-sitetools-inline #jsn-selector-green:hover {
		background-position: 0 -135px;
	}
	#jsn-sitetools-inline #jsn-selector-brown.current,
	#jsn-sitetools-inline #jsn-selector-brown:hover {
		background-position: -45px -135px;
	}
	#jsn-sitetools-inline #jsn-selector-yellow.current,
	#jsn-sitetools-inline #jsn-selector-yellow:hover {
		background-position: -90px -135px;
	}
	/* -----  RTL Layout ----- */
	body.jsn-direction-rtl #jsn-sitetoolspanel {
		left: 0;
		right: auto;
	}
	body.jsn-direction-rtl ul#jsn-sitetools-menu > li {
		position: inherit;
	}
	body.jsn-direction-rtl ul#jsn-sitetools-menu li ul,
	body.jsn-direction-rtl ul#jsn-sitetools-inline li ul {
		margin-left: 0;
		left: 0;
		right: auto;
	}
	/* ===============  OTHER POSITIONS =============== */
	div[id*="jsn-pos-stick-left"],
	div[id*="jsn-pos-stick-right"] {
		display: none;
		height: 0;
	}
	#jsn-pos-promo {
		margin: 0;
		width: 100%;
	}
	#jsn-pos-promo-left,
	#jsn-pos-promo-right,
	#jsn-content #jsn-maincontent,
	#jsn-content #jsn-maincontent #jsn-centercol,
	#jsn-content #jsn-leftsidecontent,
	#jsn-content #jsn-rightsidecontent,
	#jsn-content #jsn-pos-innerleft,
	#jsn-content #jsn-pos-innerright {
		width: 100%;
		margin: 0;
	}
	#jsn-content #jsn-maincontent_inner,
	#jsn-promo #jsn-pos-promo div.jsn-modulecontainer {
		margin: 0 !important;
	}
	#jsn-pos-promo-left div.jsn-modulecontainer,
	#jsn-pos-promo-right div.jsn-modulecontainer {
		padding: 0 !important;
		margin: 0;
	}
	#jsn-pos-breadcrumbs {
		padding: 10px;
	}
	#jsn-content #jsn-maincontent {
		background-color: #fff;
	}
	#jsn-leftsidecontent_inner,
	#jsn-rightsidecontent_inner {
		padding: 0 !important;
	}
	#jsn-pos-content-bottom + #jsn-usermodules3 {
		padding-top: 0 !important;
	}
	#jsn-pos-innerright div.jsn-modulecontainer,
	#jsn-pos-innerleft div.jsn-modulecontainer {
		margin: 10px;
	}
	div#jsn-pos-breadcrumbs.display-mobile,
	div.jsn-modulecontainer.display-mobile {
		display: block;
	}
	div#jsn-pos-breadcrumbs.display-desktop,
	div.jsn-modulecontainer.display-desktop {
		display: none;
	}
	/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
	/* =============== JOOMLA! EXTENSIONS - COM_CONTACT =============== */
	/* ----- STANDARD CONTACT LAYOUT - CONTACT FORM INPUT BOXES ----- */
	.jsn-mailling-form {
		text-align: center;
	}
	.jsn-mailling-form p {
		text-align: left;
	}
	.jsn-mailling-form #contact_name,
	.jsn-mailling-form #contact_email,
	.jsn-mailling-form #contact_subject,
	.jsn-mailling-form #contact_text {
		width: 100%;
		padding: 3px 0;
	}
	/* =============== JOOMLA! EXTENSIONS - COM_SEARCH =============== */
	div.com-search #searchForm .search-phrase {
		margin-left: 0;
	}
	div.com-search #searchForm .search-keyword label,
	div.com-search #searchForm .search-ordering label,
	div.com-search #searchForm .search-field-title {
		float: none;
		display: inline;
		text-align: left;
		padding-bottom: 3px;
	}
	div.com-search #searchForm .search-keyword-result .search-field-title {
		display: inline;
	}
	div.com-search #searchForm .search-range label,
	div.com-search #searchForm  .search-range .search-field-title {
		float: left;
	}
	body.jsn-direction-rtl div.com-search #searchForm .search-range label,
	body.jsn-direction-rtl div.com-search #searchForm .search-range .search-field-title {
		float: right;
	}
	#jsn-pos-promo-right .jsn-modulecontainer_inner,
	#jsn-pos-promo-left .jsn-modulecontainer_inner  {
		margin: 10px;
	}
	#jsn-pos-user-top .jsn-modulecontainer div.jsn-modulecontainer_inner,
	#jsn-pos-user-bottom .jsn-modulecontainer div.jsn-modulecontainer_inner {
		margin: 10px !important;
	}
	#jsn-footer {
		padding-bottom: 60px;
	}
}

/************************************************************************************
smartphone layout (320 - 480): everything is layout in single column
*************************************************************************************/
@media only screen and (max-width: 480px), (max-device-width: 480px) {
	#jsn-logo #jsn-logo-mobile {
		display: block;
	}
	#jsn-logo #jsn-logo-mobile + #jsn-logo-desktop {
		display: none;
	}
	#jsn-logo {
		float: none;
		text-align:center;
	}
	ul.menu-topmenu {
		text-align:center;
	}
	#jsn-headerright {
		float: none;
		padding: 0 10px;
	}
	#jsn-social-icons ul {
		text-align: center;
		margin-bottom: 10px !important;
	}
	#jsn-social-icons,
	#jsn-social-icons ul,
	#jsn-social-icons ul li {
		float: none !important;
	}
	#jsn-social-icons ul li {
		display: inline-block;
	}
	#jsn-headerright #jsn-pos-top {
		float: none;
	}
	#jsn-headerright #jsn-pos-top div.jsn-modulecontainer {
		float: none;
		margin: 0 0 15px 0;
	}
	ul.menu-topmenu li {
		float: none;
		display: inline-block;
	}
	div.jsn-horizontallayout div.jsn-modulecontainer:first-child {
		margin-top: 0;
	}
	div#jsn-pos-breadcrumbs.display-tablet,
	div.jsn-modulecontainer.display-tablet {
		display: none;
	}
	div#jsn-pos-breadcrumbs.display-smartphone,
	div.jsn-modulecontainer.display-smartphone {
		display: block;
	}
	div.jsn-modulescontainer div[class*="box-"],
	div.jsn-modulescontainer div[class*="solid-"],
	div.jsn-modulescontainer2 div.jsn-modulecontainer {
		width: 100%;
	}
	div#jsn-content.jsn-hasright #jsn-content_inner2 {
		background: none;
	}
	div#jsn-content.jsn-hasleft #jsn-content_inner {
		background: none;
	}
	div[class*="jsn-modulescontainer"] div.jsn-modulecontainer,
	#jsn-pos-user1,
	#jsn-pos-user2,
	#jsn-pos-user3,
	#jsn-pos-user4,
	#jsn-pos-user5,
	#jsn-pos-user6,
	#jsn-pos-user7,
	#jsn-pos-footer,
	#jsn-pos-bottom {
		width: 100% !important;
	}
	#jsn-pos-user1 + #jsn-pos-user2,
	#jsn-pos-user3 + #jsn-pos-user4 {
		margin-top: 15px;
	}
	#jsn-pos-user5,
	#jsn-pos-user6,
	#jsn-pos-user7 {
		margin: 0;
		margin-top: 15px;
	}
	div.jsn-horizontallayout div.jsn-modulecontainer:first-child,
	#jsn-usermodules3 > div:first-child {
		margin-top: 0;
	}
	#jsn-pos-bottom {
		text-align: left;
	}
	div[class*="grid-layout"] div.grid-col {
		width: 100% !important;
	}
	div.grid-layout div.grid-col div.grid-col_inner {
		margin-right: 0;
	}
	body.jsn-direction-rtl div.grid-layout div.grid-col div.grid-col_inner {
		margin-left: 0;
	}
	#jsn-leftsidecontent_inner {
		padding-right:0;
	}
	#jsn-rightsidecontent_inner {
		padding-left:0;
	}
	#jsn-pos-promo-left .jsn-modulecontainer_inner {
		margin-left: 10px;
	}
	#jsn-pos-content-top,
	#jsn-content-bottom {
		padding: 10px 0;
	}
	#jsn-pos-content-top .jsn-modulecontainer_inner {
		margin-bottom: 20px;
	}
	/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
	/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
	/* ----- ARTICLE DETAILS ----- */
	p, pre, blockquote, form, dl, ul, ol, fieldset, address, table {
		word-wrap: break-word;
	}
	/* ----- SECTION / CATEGORY BLOG LAYOUT ----- */
	/* ARTICLE COLUMN CONTAINER */
	.jsn-articlecols {
		float: none;
		width: 100% !important;
	}
	.jsn-articlecols .jsn-article {
		padding: 0;
	}
	/* =============== JOOMLA! EXTENSIONS - COM_NEWSFEED =============== */
	.com-newsfeed table.jsn-infotable td.jsn-table-column-links,
	.com-newsfeed legend.hidelabeltxt {
		display: none;
	}
	.com-newsfeed div.display-limit {
		float: right;
	}
	.com-newsfeed table.category {
		width: 100%;
		border: none;
		border-collapse: collapse;
	}
	.com-newsfeed table.category thead th {
		padding: 10px;
	}
	.com-newsfeed table.category thead .item-title {
		text-align: left;
	}
	.com-newsfeed table.category thead {
		background-color: #999;
		text-shadow: 0 1px 0 rgba(0,0,0,0.5) ;
	}
	.com-newsfeed table.category thead th a {
		color: #FFF;
	}
	.com-newsfeed table.category .item-num-art {
		text-align: center;
	}
	.com-newsfeed table.category .item-link {
		display: none;
	}
	.com-newsfeed table.category tbody td {
		padding: 10px 5px;
		border-bottom: 1px solid #CCC;
	}
	.jsn-joomla-30 .com-newsfeed ul.category li {
		float: left;
		width: 100%;
	}
	.jsn-joomla-30 .com-newsfeed div.display-limit {
	    float: none;
	}
	/* =============== JOOMLA! EXTENSIONS - COM_CONTACT =============== */
	.com-contact table.jsn-infotable td.jsn-table-column-country,
	.com-contact table.jsn-infotable td.jsn-table-column-state,
	.com-contact table.jsn-infotable td.jsn-table-column-suburb,
	.com-contact table.jsn-infotable td.jsn-table-column-position {
		display: none;
	}
	/* =============== JOOMLA! EXTENSIONS - COM_USER =============== */
	/* ----- USER FORM LAYOUT ----- */
	div.com-user div.default-login {
		width: 90%;
	}
	div.com-user div.default-login .login-fields input {
		display: block;
		width: 95%;
	}
}

/************************************************************************************
 tablet wide layout (481 - 960): arrange modules in 3 columns and 1 side bar
*************************************************************************************/
@media only screen and (min-width: 481px) and (max-width: 960px), (min-device-width: 481px) and (max-device-width: 960px) {
	#jsn-content-top.jsn-haspromoleft.jsn-haspromoright #jsn-promo #jsn-pos-promo-left,
	#jsn-content-top.jsn-haspromoleft.jsn-haspromoright #jsn-promo #jsn-pos-promo-right,
	#jsn-content.jsn-hasleft.jsn-hasright #jsn-leftsidecontent,
	#jsn-content.jsn-hasleft.jsn-hasright #jsn-rightsidecontent,
	#jsn-content.jsn-hasinnerright #jsn-pos-innerleft,
	#jsn-content.jsn-hasinnerleft #jsn-pos-innerright {
		width: 49.95%;
		float: left;
	}
	#jsn-pos-promo,
	#jsn-pos-promo-left,
	#jsn-pos-promo-right,
	#jsn-maincontent,
	#jsn-leftsidecontent,
	#jsn-rightsidecontent,
	#jsn-pos-innerleft,
	#jsn-pos-innerright {
		margin: 0;
	}
	#jsn-maincontent {
		padding: 0 !important;
	}
	#jsn-pos-promo-left[class*="order"] div.jsn-modulecontainer,
	#jsn-pos-promo-right[class*="order"] div.jsn-modulecontainer {
		margin: 20px 10px;
	}
	#jsn-leftsidecontent div.jsn-modulecontainer:first-child,
	#jsn-rightsidecontent div.jsn-modulecontainer:first-child {
		margin-top: 0;
	}
	#jsn-pos-content-top,
	#jsn-pos-content-bottom,
	#jsn-pos-user-top,
	#jsn-pos-user-bottom,
	#jsn-pos-mainbody-top,
	#jsn-pos-mainbody-bottom {
		padding-top: 0 !important;
	}
	div#jsn-pos-breadcrumbs.display-smartphone,
	div.jsn-modulecontainer.display-smartphone {
		display: none;
	}
	div#jsn-pos-breadcrumbs.display-tablet,
	div.jsn-modulecontainer.display-tablet {
		display: block;
	}
	div.grid-layout4 div.grid-col,
	div.grid-layout5 div.grid-col,
	div.grid-layout6 div.grid-col {
		width: 33.3%;
	}
	div.jsn-modulescontainer3 #jsn-pos-user5 div.jsn-modulecontainer,
	div.jsn-modulescontainer3 #jsn-pos-user6 div.jsn-modulecontainer,
	div.jsn-modulescontainer3 #jsn-pos-user7 div.jsn-modulecontainer {
		width: 100%;
	}
	#jsn-pos-content-top .span2,
	#jsn-pos-content-top .span3,
	#jsn-pos-content-top .span4,
	#jsn-pos-content-bottom .span2,
	#jsn-pos-content-bottom .span3,
	#jsn-pos-content-bottom .span4,
	#jsn-pos-user-top .span2,
	#jsn-pos-user-top .span3,
	#jsn-pos-user-top .span4,
	#jsn-pos-user-bottom .span2,
	#jsn-pos-user-bottom .span3,
	#jsn-pos-user-bottom .span4,
	#jsn-usermodules3 .span2,
	#jsn-usermodules3 .span3,
	#jsn-usermodules3 .span4,
	#jsn-pos-mainbody-top .span2,
	#jsn-pos-mainbody-top .span3,
	#jsn-pos-mainbody-top .span4,
	#jsn-pos-mainbody-bottom .span2,
	#jsn-pos-mainbody-bottom .span3,
	#jsn-pos-mainbody-bottom .span4 {
		width: 31.491712707182323%;
		float: left;
	}
	#jsn-pos-content-top .span2:nth-child(4),
	#jsn-pos-content-top .span3:nth-child(4),
	#jsn-pos-content-bottom .span2:nth-child(4),
	#jsn-pos-content-bottom .span3:nth-child(4),
	#jsn-pos-user-top .span2:nth-child(4),
	#jsn-pos-user-top .span3:nth-child(4),
	#jsn-pos-user-bototm .span2:nth-child(4),
	#jsn-pos-user-bottom .span3:nth-child(4),
	#jsn-usermodules3 .span2:nth-child(4),
	#jsn-usermodules3 .span3:nth-child(4),
	#jsn-pos-mainbody-top .span2:nth-child(4),
	#jsn-pos-mainbody-top .span3:nth-child(4),
	#jsn-pos-mainbody-bottom .span2:nth-child(4),
	#jsn-pos-mainbody-bottom .span3:nth-child(4) {
		margin-left: 0;
	}
}
/************************************************************************************
 tablet narrow layout (481 - 767): arrange modules in 2 columns and 1 side bar
*************************************************************************************/
@media only screen and (min-width: 481px) and (max-width: 768px), (min-device-width: 481px) and (max-device-width: 768px) and (orientation:portrait) {
	#jsn-pos-content-top [class*="span"],
	#jsn-pos-content-bottom [class*="span"],
	#jsn-pos-user-top [class*="span"],
	#jsn-pos-user-bottom [class*="span"],
	#jsn-pos-mainbody-top [class*="span"],
	#jsn-pos-mainbody-bottom [class*="span"],
	#jsn-usermodules1 [class*="span"],
	#jsn-usermodules2 [class*="span"],
	#jsn-usermodules3 [class*="span"],
	#jsn-footermodules [class*="span"] {
		width: 48.93617021276595%;
		margin-left: 0;
		float: left;
	}
	.jsn-horizontallayout .span12,
	#jsn-usermodules1 .span12,
	#jsn-usermodules2 .span12,
	#jsn-usermodules3 .span12 {
		width: 100% !important;
	}
	#jsn-pos-content-top [class*="span"]:nth-child(2),
	#jsn-pos-content-top [class*="span"]:nth-child(4),
	#jsn-pos-content-top [class*="span"]:nth-child(6),
	#jsn-pos-content-bottom [class*="span"]:nth-child(2),
	#jsn-pos-content-bottom [class*="span"]:nth-child(4),
	#jsn-pos-content-bottom [class*="span"]:nth-child(6),
	#jsn-pos-user-top [class*="span"]:nth-child(2),
	#jsn-pos-user-top [class*="span"]:nth-child(4),
	#jsn-pos-user-top [class*="span"]:nth-child(6),
	#jsn-pos-user-bottom [class*="span"]:nth-child(4),
	#jsn-pos-user-bottom [class*="span"]:nth-child(6),
	#jsn-pos-mainbody-top [class*="span"]:nth-child(2),
	#jsn-pos-mainbody-top [class*="span"]:nth-child(4),
	#jsn-pos-mainbody-top [class*="span"]:nth-child(6),
	#jsn-pos-mainbody-bottom [class*="span"]:nth-child(2),
	#jsn-pos-mainbody-bottom [class*="span"]:nth-child(4),
	#jsn-pos-mainbody-bottom [class*="span"]:nth-child(6),
	#jsn-usermodules1 [class*="span"]:nth-child(2),
	#jsn-usermodules2 [class*="span"]:nth-child(2),
	#jsn-usermodules3 [class*="span"]:nth-child(2),
	#jsn-footermodules [class*="span"]:nth-child(2) {
		margin-left: 2.127659574468085%;
	}
	#jsn-usermodules3.jsn-modulescontainer3 .span4:last-child {
		margin-top: 20px;
	}
	#jsn-rightsidecontent_inner {
		padding-left:0;
	}
}