/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
@import url(https://fonts.googleapis.com/css?family=Economica);
body {
	font-family:Tahoma,Verdana,Arial,sans-serif;
	font-size: 75%;
}
h1,
h2,
h3,
h4,
h5,
h6,
#jsn-gotoplink,
.page-header,
.subheading-category,
#jsn-menu a,
#jsn-menu span,
.componentheading,
.contentheading {
	font-family: 'Economica', Arial, sans-serif;
}
#jsn-master.jsn-textstyle-business ul.menu-mainmenu li {
	font-size: 1em;
}
#jsn-master.jsn-textstyle-business ul.menu-mainmenu li a {
	font-size: 1.3em;
	line-height: 16px;
}
#jsn-master.jsn-textstyle-business .jsn-moduletitle {
	font-size: 1.5em;
}
#jsn-master.jsn-textstyle-business .contentheading,
#jsn-master.jsn-textstyle-business .componentheading,
#jsn-master.jsn-textstyle-business .subheading {
	font-weight: bold;
	text-shadow:none;
}
a#jsn-gotoplink,
.link-button {
	font-size: 1.3em;
}
h1 { font-size: 2.2em;}
h2 { font-size: 2em;}
h3 { font-size: 1.8em;}
h4 { font-size: 1.6em;}
h5 { font-size: 1.4em;}
h6 { font-size: 1.2em;}