/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:regular,bold);

body {
	font-family: "Times New Roman", Times, serif;
	font-size: 80%;
}
h1,
h2,
h3,
h4,
h5,
h6,
#jsn-gotoplink,
.page-header,
.subheading-category,
#jsn-menu a,
#jsn-menu span,
.componentheading,
.contentheading {
	font-family: "Droid Serif", "Palatino Linotype", Palatino, serif;
}
#jsn-master.jsn-textstyle-news div.jsn-modulecontainer ul.menu-mainmenu > li > a {
	padding: 13px 20px;
}
#jsn-master.jsn-textstyle-news ul.menu-mainmenu li {
	font-size: 1em;
	font-weight: normal;
}
#jsn-master.jsn-textstyle-news ul.menu-mainmenu > li > ul li a {
	font-weight: normal;
	font-size: 0.85em;
}
#jsn-master.jsn-textstyle-news .jsn-moduletitle {
	font-size: 1.05em;
}
#jsn-master.jsn-textstyle-news .contentheading,
#jsn-master.jsn-textstyle-news .componentheading,
#jsn-master.jsn-textstyle-news .subheading {
	font-weight: bold;
}