/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
@import url(https://fonts.googleapis.com/css?family=Bad+Script);
body {
	font-family:tahoma,verdana,arial,sans-serif;
	font-size: 75%;
}
h1,
h2,
h3,
h4,
h5,
h6,
#jsn-gotoplink,
.page-header,
.subheading-category,
#jsn-menu a,
#jsn-menu span,
.componentheading,
.contentheading {
	font-family: 'Bad Script', 'cursive', Georgia, serif;
}
#jsn-master.jsn-textstyle-personal div.jsn-modulecontainer ul.menu-mainmenu > li > a {
	padding: 12px 20px;
	text-transform: none;
}
#jsn-master.jsn-textstyle-personal ul.menu-mainmenu > li > a > span {
	font-weight: normal;
	font-size: 1.25em;
	line-height: 1.4em;
}
#jsn-master.jsn-textstyle-personal ul.menu-mainmenu > li > a span.jsn-menudescription {
	font-size: 0.95em;
}
#jsn-master.jsn-textstyle-personal ul.menu-mainmenu > li > ul li a {
	font-weight: normal;
	font-size: 1em;
}
#jsn-master.jsn-textstyle-personal .jsn-moduletitle {
	font-size: 1.3em;
	font-weight: normal;
}
#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontainer_inner h3.jsn-moduletitle > span {
	text-transform: none;
}
#jsn-master.jsn-textstyle-personal .contentheading,
#jsn-master.jsn-textstyle-personal .componentheading,
#jsn-master.jsn-textstyle-personal .subheading {
	font-size:1.6em;
}
#jsn-master.jsn-textstyle-personal h1 {
	font-size: 1.6em;
}
#jsn-master.jsn-textstyle-personal h2 {
	font-size: 1.5em;
}
#jsn-master.jsn-textstyle-personal h3 {
	font-size: 1.4em;
}
#jsn-master.jsn-textstyle-personal h4 {
	font-size: 1.3em;
}
#jsn-master.jsn-textstyle-personal h5,
#jsn-master.jsn-textstyle-personal h6 {
	font-size: 1.2em;
}
#jsn-master.jsn-textstyle-personal h1,
#jsn-master.jsn-textstyle-personal h2,
#jsn-master.jsn-textstyle-personal h3,
#jsn-master.jsn-textstyle-personal h4,
#jsn-master.jsn-textstyle-personal h5,
#jsn-master.jsn-textstyle-personal h6 {
	font-weight: normal;
}
a#jsn-gotoplink {
	font-size: 1.3em;
}
#jsn-master.jsn-textstyle-personal ul.menu-mainmenu.menu-iconmenu.menu-richmenu > li > a > span {
	min-height: 45px;
}