/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ============================== DEFAULT HTML ============================== */
a {
	color: #6ca8ff;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - HEADER AREA =============== */
#jsn-master {
	background: url(../../images/colors/blue/bg.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='templates/jsn_nuru_pro/images/colors/blue/bg.jpg',
    sizingMethod='scale');

    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='templates/jsn_nuru_pro/images/colors/blue/bg.jpg',
	sizingMethod='scale')";
}
#jsn-page {
	border-top: 4px solid #6ca8ff;
}
#jsn-menu,
#jsn-topbar {
	background: #6ca8ff;
}
/* =============== LAYOUT - CONTENT TOP AREA =============== */
#jsn-pos-content-top a.link-action:hover {
	background: #fff;
	color: #6ca8ff;
}
#jsn-footer {
	background: #6ca8ff;
	border-top: 5px solid #4482db;
}
/* ============================== TYPOGRAPHY ============================== */
/* =============== TYPOGRAPHY - LINK STYLES =============== */
/* ----- ACTION LINK ----- */
.link-action {
	border-bottom: 1px solid #6ca8ff;
}
.link-action:hover {
	background-color: #6ca8ff;
}
#jsn-promo .link-action:hover,
div[class*="solid-"] .link-action:hover {
	color: #6ca8ff;
}
#jsn-gotoplink {
	background:#6ca8ff;
	color:#fff;
}
/* =============== TYPOGRAPHY - TABLE STYLES =============== */
/* ----- COLOR HEADER TABLE ----- */
table.style-colorheader thead th {
	background-color: #6ca8ff;
	border-right: 1px groove #fff;
}
/* ----- COLOR STRIPES TABLE ----- */
table.style-colorstripes td,
table.style-colorstripes th {
	border-bottom: 1px solid #fff;
	border-right: 1px groove #fff;
}
table.style-colorstripes thead th {
	background-color: #6ca8ff;
}
table.style-colorstripes thead th.highlight {
	background-color: #4482db;
}
table.style-colorstripes tbody tr {
	background-color: #6ca8ff;
}
table.style-colorstripes tbody .highlight {
	background-color: #e9e9e9;
}
table.style-colorstripes tbody tr.odd {
	background-color: #4482db;
}
table.style-colorstripes tbody tr.odd .highlight {
	background-color: #f4f4f4;
}
table.style-colorstripes tbody tr:hover th,
table.style-colorstripes tbody tr:hover td {
	background-color: #6ca8ff;
}
table.style-colorstripes tbody tr:hover .highlight {
	background-color: #ddd;
}
table.style-colorstripes tfoot th,
table.style-colorstripes tfoot td {
	background-color: #6ca8ff;
}
.sectiontableheader {
	background-color: #6ca8ff;
}
/* ----- GREY STRIPES TABLE ----- */
table.style-greystripes thead th.highlight {
	background-color: #6ca8ff;
}
/* ============================== MENU ============================== */
/* =============== MENU - MAIN MENU =============== */
/* ----- 1st LEVEL ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul {
	background: #4482db;
}
div.jsn-modulecontainer ul.menu-mainmenu li.active > a,
div.jsn-modulecontainer ul.menu-mainmenu li:hover > a {
	background: #4482db;
}
body.jsn-mmtransparency div.jsn-modulecontainer ul.menu-mainmenu ul {
	background: url(../../images/colors/blue/bg-mainmenu.png);
}
div.jsn-modulecontainer ul.menu-mainmenu > li > ul > li.first > a {
	border-top: 1px solid #4482db;
}
div.jsn-modulecontainer ul.menu-mainmenu > li.active > ul > li.active >a.current {
	border-top: 1px solid #6CA8FF;
}
/* ----- HOVER STATE ----- */
#jsn-menu .jsn-modulecontainer.display-dropdown .jsn-modulecontainer_inner:hover h3.jsn-moduletitle,
#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontent {
	background-color: #4482db;
}
div.jsn-modulecontainer ul.menu-mainmenu ul li:hover > a,
#jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li:hover > a,
body.jsn-direction-rtl #jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li:hover > a {
	background-color: #6ca8ff;
}
div.jsn-modulecontainer ul.menu-mainmenu ul li a,
div.jsn-modulecontainer ul.menu-sidemenu ul li a,
div.solid-2 ul.menu-sidemenu > li,
div.solid-2 ul.menu-treemenu li {
	border-bottom: 1px solid #2f6dc5;
	border-top:1px solid #5492ed;
}
div.solid-2.jsn-modulecontainer ul.menu-treemenu > li ul {
	border-top:1px solid #2f6dc5;
}
div.jsn-modulecontainer ul.menu-mainmenu ul li.active > a,
#jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li.active > a,
body.jsn-direction-rtl #jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li.active > a {
	background-color: #6ca8ff;
	border-bottom:1px solid #2f6dc5;
	border-top: 1px solid #6CA8FF;
}
/* =============== MENU - TREE MENU =============== */
/* ----- CURRENT / HOVER STATE ----- */
div.solid-2 ul.menu-treemenu li a:hover,
div.solid-2 ul.menu-treemenu li a.current {
	background-color: #6ca8ff;
}
/* =============== MENU - SIDE MENU =============== */
/* ---------- 1st LEVEL ---------- */
div.jsn-modulecontainer ul.menu-sidemenu ul {
	background-color: #4482db;
}
body.jsn-smtransparency div.jsn-modulecontainer ul.menu-sidemenu ul {
	background: url(../../images/colors/blue/bg-mainmenu.png);
}
/* ----- HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-sidemenu ul li:hover > a,
div.jsn-modulecontainer ul.menu-sidemenu ul li.sfhover > a {
	background-color: #6ca8ff;
}
/* ----- HOVER STATE IN SPECIFIC MODULE BOXES ----- */
div.jsn-modulecontainer ul.menu-sidemenu > li:hover > a,
div.jsn-modulecontainer ul.menu-sidemenu > li.active > a  {
	background-color: #ddd;
}
div.solid-1 ul.menu-sidemenu > li:hover > a,
div.solid-1 ul.menu-sidemenu > li.active > a {
	background-color: #444;
}
div.solid-2 ul.menu-sidemenu > li:hover > a,
div.solid-2 ul.menu-sidemenu > li.sfhover > a {
	background-color: #6ca8ff;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-sidemenu ul li.active > a {
	background-color: #6ca8ff;
}
/* ----- ACTIVE STATE IN SPECIFIC MODULE BOXES ----- */
div.solid-2 ul.menu-sidemenu > li.active > a {
	background-color: #6ca8ff;
}
/* =============== MENU - TOP MENU =============== */
ul.menu-topmenu {
}
/* ============================== SITE TOOLS ============================== */
/* =============== SITE TOOLS - GENERAL PRESENTATION =============== */
/* ----- DROP DOWN ----- */
body.jsn-mmtransparency ul#jsn-sitetools-menu li ul {
	background: url(../../images/colors/blue/bg-mainmenu.png);
}
/* ============================== MODULE STYLES ============================== */
/* =============== MODULE STYLES - MODULE BOXES =============== */
/* ----- MODULE RICHBOX-2 ----- */
div.richbox-2 h3.jsn-moduletitle {
	background: #6ca8ff;
	border-bottom: 4px solid #2f6dc5;
}
div.richbox-2 div.jsn-modulecontent {
	color: #333333;
	background: #f4f4f4;
}
/* ----- MODULE SOLID-2 ----- */
div.solid-2 h3.jsn-moduletitle {
	background: #6ca8ff;
	border-bottom: 4px solid #2f6dc5;
}
div.solid-2 div.jsn-modulecontent {
	color: #fff;
	background: #4482db;
}
/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
/* =============== JOOMLA! EXTENSIONS - MOD_SEARCH =============== */
#jsn-pos-top div.search input#mod_search_searchword {
	border: 1px solid #4482db;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
/* ----- SECTION / CATEGORY BLOG LAYOUT ----- */
/* PAGE PAGINATION */
ul.jsn-pagination li.navigation-page span {
	background-color: #6ca8ff;
}
/* =============== JOOMLA! EXTENSIONS - MOD_BREADCRUMB =============== */
span.breadcrumbs span.current {
	color: #6ca8ff;
}
/* ============================== MOBILE VERSION ============================== */
/* ============================== MENU ============================== */
/* =============== MENU - MOBILE MAIN MENU =============== */
/* ----- GENERAL ----- */
/* ---------- 1st LEVEL ---------- */
body.jsn-mobile div.jsn-modulecontainer ul.menu-mainmenu ul li {
	border-top: none;
}