/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ============================== CUSTOM CSS ============================== */
h2.contentheading {
	text-transform: uppercase;
	font-size: 2em;
}
.light {
	background: #ddd;
	margin-top: -6px;
	height: 1px;
}
.jsn-demo-content {
	margin: 20px -10px 0 -10px;
}
.jsn-demo-content .jsn-template-featured {
	position: relative;
}
.jsn-demo-content .jsn-template-featured .hide {
	position: absolute;
	background: rgba(0,0,0,0.5);
	background: #ccc\9;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity:0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	visibility:hidden;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	display: block;
}
.jsn-demo-content .jsn-template-featured:hover .hide{
	opacity:1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	visibility:visible;
}
.jsn-demo-content .jsn-template-featured h4.title {
	color: #fff;
}
.jsn-demo-content .jsn-template-featured h5.price {
	color: #ff0000;
}
.jsn-demo-content .jsn-template-featured h4.title,
.jsn-demo-content .jsn-template-featured h5.price {
	background: rgba(0,0,0,0.8);
	background: #333\9;
	display: inline-block;
	padding: 10px 20px;
	font-size: 1.5em;
	line-height: 100%;
}
div.grid-layout.jsn-demo-content div.grid-col div.grid-col_inner {
	margin:0 10px 10px 10px;
}
.jsn-demo-content .jsn-template-featured a.link-button {
	position: absolute;
	bottom: 20px;
	display: block;
	left: 50%;
	margin-left: -45px;
}
ul.social li {
	float: left;
	margin: 0 5px 0 0;
	list-style: none;
}
ul.social li a {
	background: url("../images/icons/social.jpg");
	width: 45px;
	height: 45px;
	display: block;
	text-indent: -9999px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
ul.social li a.fb { background-position: 0 0}
ul.social li a.tw {background-position: -50px 0}
ul.social li a.gg{background-position: -100px 0}
ul.social li a.yt{background-position: -150px 0}
ul.social li a.pt {background-position: -200px 0}
ul.social li a.fb:hover { background-position: 0 -50px}
ul.social li a.tw:hover {background-position: -50px -50px}
ul.social li a.gg:hover {background-position: -100px -50px}
ul.social li a.yt:hover {background-position: -150px -50px}
ul.social li a.pt:hover {background-position: -200px -50px}
/**Fix Joomla3.0**/
.jsn-joomla-30 .page-header {
	padding: 0;
}
.jsn-joomla-30 .page-header h2 {
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 2em;
}
.jsn-joomla-30 .demo-sale img {
	max-width: inherit;
}
@media only screen and (max-width: 960px), (max-device-width: 960px) {
	.jsn-demo-content .jsn-template-featured .hide {
		height: 50%;
		top: 50%;
		opacity:1;
		filter: alpha(opacity=100);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		visibility:visible;
		background: none;
	}
	.jsn-demo-content .jsn-template-featured img {
		width: 100%;
	}
	div.grid-layout.jsn-demo-content div.grid-col div.grid-col_inner {
		margin-bottom: 20px;
	}
	.jsn-demo-content .jsn-template-featured h4.title,
	.jsn-demo-content .jsn-template-featured h5.price  {
		margin:10px 0;
		font-size: 1.3em;
		display: inline-block;
		padding: 5px 10px;
	}
	.jsn-demo-content .jsn-template-featured a.link-button {
		position: static;
		display: inline-block;
		margin: 0;
	}
}
@media only screen and (max-width: 480px), (max-device-width: 480px) {
	.jsn-demo-content .jsn-template-featured .hide {
		top: 80%;
	}

	.jsn-joomla-30 .demo-sale img {
		max-width: 100%;
	}
}
@media only screen and (min-width: 481px) and (max-width: 768px), (min-device-width: 481px) and (max-device-width: 768px) and (orientation:landscape) {
	.jsn-demo-content .jsn-template-featured .hide {
		top: 41%;
	}
}