/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ============================== DEFAULT HTML ============================== */
/* =============== DEFAULT HTML - GENERAL STYLES =============== */
#jsn-master.jsn-color-pink {
	background: url(../images/colors/pink/bg.jpg) fixed;
	background-size: 100%;
}
#jsn-master.jsn-color-blue {
	background: url(../images/colors/blue/bg.jpg) fixed;
	background-size: 100%;
}
#jsn-master.jsn-color-red {
	background: url(../images/colors/red/bg.jpg) fixed;
	background-size: 100%;
}
#jsn-master.jsn-color-green {
	background: url(../images/colors/green/bg.jpg) fixed;
	background-size: 100%;
}
#jsn-master.jsn-color-brown {
	background: url(../images/colors/brown/bg.jpg) fixed;
	background-size: 100%;
}
#jsn-master.jsn-color-yellow {
	background: url(../images/colors/yellow/bg.jpg) fixed;
	background-size: 100%;
}
html, body {
	line-height: 1.5;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
/* =============== DEFAULT HTML - TEXT STYLES =============== */
p, pre, blockquote, form, dl, ul, ol, fieldset, address {
	margin: 0.35em 0 0.8em 0;
	padding: 0;
}
fieldset {
	padding: .5em;
}
small {
	font-size: .85em;
}
sup {
	font-size: .8em;
	position: relative;
	bottom: 0.3em;
	vertical-align: baseline;
}
sup em {
	color: red;
}
acronym, abbr {
	border-bottom: 1px dashed;
	letter-spacing: 1px;
	cursor: help;
}
hr {
	height: 1px;
	border: none;
	margin: 0.75em 0;
	background-color: #999;
}
/* =============== DEFAULT HTML - HEADING STYLES =============== */
h1 {
	font-size: 1.4em;
	color: #000000;
}
h2 {
	font-size: 1.3em;
	color: #000000;
}
h3 {
	font-size: 1.15em;
	color: #666;
}
h4 {
	font-size: 1.1em;
	color: #CC8033;
}
h5, h6 {
	font-size: 1em;
	font-weight: bold;
	color: #333333;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0.8em 0 0.3em 0;
}
/* =============== DEFAULT HTML - LINK STYLES =============== */
a {
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
a img {
	border: none;
}
/* =============== DEFAULT HTML - LIST STYLES =============== */
ul li {
	margin: 0.3em 0 0.3em 1.6em;
	padding: 0;
}
ol li {
	margin: 0.3em 0 0.3em 2em;
	padding: 0;
}
/* =============== DEFAULT HTML - IMAGES STYLES =============== */
img {
	border: none;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - GENERAL LAYOUT =============== */
.clearafter:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}
.clearbreak {
	clear: both;
}
/* =============== LAYOUT - OVERALL PAGE =============== */
#jsn-master {
	background-color: #EFEFEF;
}
#jsn-page {
	color: #666;
	width: 750px;
	margin: 100px auto;
	background-color: #fff;
}
#jsn-logo {
	margin: 20px;
}
/* =============== LAYOUT - HEADER AREA =============== */
#jsn-header {
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	background: #fff;
}
#jsn-master.jsn-color-pink #jsn-header {
	border-top: 4px solid #CC3872;
}
#jsn-master.jsn-color-red #jsn-header {
	border-top: 4px solid #C71A1A;
}
#jsn-master.jsn-color-blue #jsn-header {
	border-top: 4px solid #6ca8ff;
}
#jsn-master.jsn-color-green #jsn-header {
	border-top: 4px solid #72cca7;
}
#jsn-master.jsn-color-brown #jsn-header {
	border-top: 4px solid #5a311f;
}
#jsn-master.jsn-color-yellow #jsn-header {
	border-top: 4px solid #f5b400;
}
#jsn-logo a {
	line-height: 100%;
	display: inline-block;
}
/* =============== LAYOUT - CONTENT AREA =============== */
#jsn-error-heading {
	float: left;
	width: 265px;
}
#jsn-error-heading h1 {
	margin: 18px 0;
	font-size: 7.5em;
	line-height: 1em;
	text-align: center;
}
#jsn-error-heading h1 .heading-medium,
#jsn-error-heading h1 .heading-small {
	display: block;
}
#jsn-error-heading h1 .heading-medium {
	font-size: 0.67em;
	line-height: 1.05em;
	margin-bottom: 15px;
}
#jsn-error-heading h1 .heading-small {
	color: #666;
	font-size: 38px;
	line-height: 1.4em;
}
#jsn-error-content {
	float: left;
	width: 483px;
}
#jsn-error-content_inner {
	padding: 12px;
	margin: 20px 20px 20px 10px;
	border: 1px solid #DDDDDD;
	background-color: #F3F3F3;
}
#jsn-error-content h3 {
	margin: 0;
	padding-left: 3px;
	font-weight: normal;
}
#jsn-error-content #mod-search-searchword {
	padding: 5px;
	width: 325px;
	border: 1px solid #CCCCCC;
}
#jsn-error-content ul {
	margin: 10px 0 15px 0;
}
#jsn-error-content ul li {
	font-size: 15px;
	line-height: 1.55em;
	margin: 0 0 0 1.5em;
}
#jsn-error-content .link-button {
	color: #333;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #999;
	font-family: Arial, Helvetica, sans-serif;
	background-image:linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-moz-linear-gradient(50% 0% -90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(216,216,216)));
	background-image:-webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffd8d8d8,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffd8d8d8,GradientType=0);
	-moz-transition: 0.3s ease-out;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
#jsn-error-content .link-button:hover {
	box-shadow: 0px 0px 3px #999;
	-moz-box-shadow: 0px 0px 3px #999;
	-webkit-box-shadow: 0px 0px 3px #999;
}
#jsn-error-content #search-form {
	margin: 0;
}
#jsn-error-content #link-goback {
	margin: 7px;
}
.link-action {
	font-size: 14px;
	padding: 1px 2px;
	font-weight: bold;
	text-decoration: none;
	-moz-transition: 0.3s ease-out;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
.link-action:hover {
	color: #ffffff;
	text-decoration: none;
}
/* ============================== TEMPLATE COLOR ============================== */
/* =============== TEMPLATE COLOR - BLUE STYLES =============== */
.jsn-color-blue h1,
.jsn-color-blue .link-action {
	color: #6ca8ff;
}
.jsn-color-blue .link-action {
	border-bottom: 1px solid #6ca8ff;
}
.jsn-color-blue .link-action:hover {
	color: #FFF;
	background: #6ca8ff;
}
/* =============== TEMPLATE COLOR - RED STYLES =============== */

.jsn-color-red h1,
.jsn-color-red .link-action {
	color: #C71A1A;
}
.jsn-color-red .link-action {
	border-bottom: 1px solid #C71A1A;
}
.jsn-color-red .link-action:hover {
	color: #FFF;
	background: #C71A1A;
}
/* =============== TEMPLATE COLOR - GREEN STYLES =============== */

.jsn-color-green h1,
.jsn-color-green .link-action {
	color: #72cca7;
}
.jsn-color-green .link-action {
	border-bottom: 1px solid #72cca7;
}
.jsn-color-green .link-action:hover {
	color: #FFF;
	background: #72cca7;
}
/* =============== TEMPLATE COLOR - YELLOW STYLES =============== */

.jsn-color-yellow h1,
.jsn-color-yellow .link-action {
	color: #f5b400;
}
.jsn-color-yellow .link-action {
	border-bottom: 1px solid #f5b400;
}
.jsn-color-yellow .link-action:hover {
	color: #FFF;
	background: #f5b400;
}
/* =============== TEMPLATE COLOR - pink STYLES =============== */

.jsn-color-pink h1,
.jsn-color-pink .link-action {
	color: #cc3872;
}
.jsn-color-pink .link-action {
	border-bottom: 1px solid #cc3872;
}
.jsn-color-pink .link-action:hover {
	color: #FFF;
	background: #cc3872;
}
/* =============== TEMPLATE COLOR - BROWN STYLES =============== */

.jsn-color-brown h1,
.jsn-color-brown .link-action {
	color: #5a311f;
}
.jsn-color-brown .link-action {
	border-bottom: 1px solid #5a311f;
}
.jsn-color-brown .link-action:hover {
	color: #FFF;
	background: #5a311f;
}
@media only screen and (max-width: 960px),
(max-device-width: 960px) {
	#jsn-page {
		width: auto;
	}
	#jsn-error-content_inner {
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 960px),
(min-device-width: 768px) and (max-device-width: 960px) {
	#jsn-page {
		margin-left: 20px;
		margin-right: 20px;
	}
	#jsn-error-heading {
		width: 35%;
	}
	#jsn-error-content {
		width: 64%;
	}
}
@media only screen and (max-width : 767px),
(max-device-width: 767px) {
	#jsn-page {
		margin-top: 0;
	}
	#jsn-error-heading,
	#jsn-error-content {
		width: 100%;
		float: none;
	}
	#jsn-error-heading img {
		margin-top: 50px;
	}
}
@media only screen and (max-width : 480px) and (orientation: portrait),
(max-device-width: 480px) and (orientation: portrait) {
	#jsn-page #jsn-error-content #mod-search-searchword {
		width: auto;
	}
}