/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ============================== DEFAULT HTML ============================== */
/* =============== DEFAULT HTML - GENERAL STYLES =============== */
html, body {
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
/* =============== DEFAULT HTML - TEXT STYLES =============== */
p, pre, blockquote, form, dl, ul, ol, fieldset, address, table {
	padding: 0;
	margin: 10px 0;
}
p:first-child,
blockquote:first-child,
form:first-child,
dl:first-child,
ul:first-child,
ol:first-child,
fieldset:first-child,
address:first-child,
table:first-child {
	margin-top: 5px;
}
p:last-child,
blockquote:last-child,
form:last-child,
dl:last-child,
ul:last-child,
ol:last-child,
fieldset:last-child,
address:last-child,
table:last-child {
	margin-bottom: 5px;
}
fieldset {
	padding: 10px;
}
.jsn-joomla-30 fieldset {
	padding: 0;
	margin: 0;
}
small {
	font-size: .85em;
}
sup {
	bottom: 0.3em;
	font-size: .8em;
	position: relative;
	vertical-align: baseline;
}
sup em {
	color: red;
}
acronym, abbr {
	cursor: help;
	letter-spacing: 1px;
	border-bottom: 1px dashed;
}
pre {
	padding: 1em;
	background: #FFFFD5;
	border-left: 5px solid #404040;
	font-family: "Courier New",Courier,monospace;
}
blockquote {
	color: #404040;
	min-height: 45px;
	font-style: italic;
	padding-left: 60px;
	background: url(../images/icons/icon-text-blockquote.png) no-repeat top left;
}
blockquote p {
	font-size: 1em;
	line-height: inherit;
}
/* =============== DEFAULT HTML - HEADING STYLES =============== */
h1 {
	color: #000000;
	font-size: 1.4em;
}
h2 {
	color: #000000;
	font-size: 1.3em;
}
h3 {
	color: #006699;
	font-size: 1.2em;
}
h4 {
	color: #663300;
	font-size: 1.1em;
}
h5 {
	color: #009900;
}
h6 {
	color: #CC7900;
}
h5, h6 {
	font-size: 1em;
	font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0.8em 0 0.3em 0;
}
/* =============== DEFAULT HTML - LINK STYLES =============== */
a {
	outline: none;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
a img {
	border: none;
}
/* =============== DEFAULT HTML - LIST STYLES =============== */
ul li {
	padding: 0;
	margin: 0.3em 0 0.3em 1.6em;
}
ol li {
	padding: 0;
	margin: 0.3em 0 0.3em 2em;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - GENERAL LAYOUT =============== */
.clearafter:after {
	height: 0;
	clear: both;
	content: ".";
	display: block;
	visibility: hidden;
}
.clearbreak {
	clear: both;
}
div.jsn-modulescontainer div.jsn-modulecontainer_inner {
	margin: 10px;
}
div.jsn-modulecontainer:first-child,
div.jsn-horizontallayout div.jsn-modulecontainer {
	margin-top: 0;
}
div.jsn-modulescontainer {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
div.jsn-modulescontainer5.jsn-horizontallayout div.jsn-modulecontainer {
	width: 23.404255319148934%;
	margin-left: 2.127659574468085%;
}
div.jsn-modulescontainer5.jsn-horizontallayout div.jsn-modulecontainer:first-child {
	margin-left: 0;
}
div.jsn-modulescontainer5.jsn-horizontallayout div.jsn-modulecontainer:last-child {
	margin-left: 0;
	margin-top: 2.127659574468085%;
	clear: left;
}
/* =============== LAYOUT - OVERALL PAGE =============== */
#jsn-page {
	color: #222;
	margin: 50px auto;
	background: #ddd8d1;
	padding: 0 20px;
	width: 960px;
}
/* ----- STICKLEFT / STICKRIGHT ----- */
div[id*=jsn-pos-stick-] {
	position: fixed;
	z-index: 888888;
}
div[id*=jsn-pos-stick-left] {
	left: 0;
}
div[id*=jsn-pos-stick-right] {
	right: 0;
}
#jsn-pos-stick-leftmiddle,
#jsn-pos-stick-rightmiddle {
	visibility: hidden;
}
#jsn-pos-stick-leftbottom,
#jsn-pos-stick-rightbottom {
	bottom: 0;
}
/* =============== LAYOUT - TOPBAR AREA =============== */
#jsn-topbar {
	padding: 5px 0;
}
#jsn-pos-topbar {
	color: #ffffff;
	margin: 0 auto;
	width: 960px;
}
#jsn-pos-topbar a {
	color: #ffffff;
}
#jsn-pos-topbar .jsn-modulecontainer {
	float: right;
}
/* =============== LAYOUT - LAYOUT CHANGING =============== */
/* ----- PROMO AREA ----- */

#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid  #jsn-pos-promo.order1 + #jsn-pos-promo-left.order3 .jsn-modulecontainer,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo-left.order2 #jsn-pos-promo-right.order3 .jsn-modulecontainer,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo-left.order2 + #jsn-pos-promo-right.order3 .jsn-modulecontainer {
	margin-right: 0;
	margin-left: -5px;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo-right.order1 .jsn-modulecontainer,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo:not(.order2) + #jsn-pos-promo-left.order1 .jsn-modulecontainer {
    margin-left: 0;
    margin-right: -5px;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo-left.order2[class*="offset-"] .jsn-modulecontainer,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo-left.order1 + #jsn-pos-promo-right.order2 .jsn-modulecontainer,
{
    margin-left: -5px;
    margin-right: 20px;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo-right.order2 .jsn-modulecontainer,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo-left.order2 .jsn-modulecontainer {
    margin-right: -5px;
    margin-left: 20px;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span1[class*="order"] > div {
    margin: 0 -33.3333%;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2[class*="order"] > div {
    margin: 0 -14.2857%;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3[class*="order"] > div {
    margin: 0 -9.0909%;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4[class*="order"] > div {
    margin: 0 -6.6667%;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5[class*="order"] > div {
    margin: 0 -5.2632%;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6[class*="order"] > div {
    margin: 0 -4.3478%;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7[class*="order"] > div {
    margin: 0 -3.7037%;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8[class*="order"] > div {
    margin: 0 -3.2258%;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span9 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order1 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order1 > div {
    margin: 0 -2.8571% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span10 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order10 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span10.order1 > div {
    margin: 0 -2.5641% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span8 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8.order1 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8.order1 > div {
    margin: 0 -3.2258% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span7 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7.order1 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7.order1 > div {
    margin: 0 -3.7037% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span6 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6.order1 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6.order1 > div {
    margin: 0 -4.3478% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span5 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5.order1 > div {
    margin: 0 -5.2632% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span4 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4.order1 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4.order1 > div {
    margin: 0 -6.6667% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span3 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3.order1 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3.order1 > div {
    margin: 0 -9.0909% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span2 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2.order1 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2.order1 > div {
    margin: 0 -14.2857% 0 0;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span9.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order3 > div {
    margin: 0 0 0 -2.8571%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span10 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span10.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span10.order3 > div {
    margin: 0 0 0 -2.5641%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span8.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8.order3 > div {
    margin: 0 0 0 -3.2258%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span7.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7.order3 > div {
    margin: 0 0 0 -3.7037%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span6.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6.order3 > div {
    margin: 0 0 0 -4.3478%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span5.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5.order3 > div {
    margin: 0 0 0 -5.2632%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span4.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4.order3 > div {
    margin: 0 0 0 -6.6667%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span3.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3.order3 > div {
    margin: 0 0 0 -9.0909%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span2.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2.order3 > div {
    margin: 0 0 0 -14.2857%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span1[class*="order"] > div {
    margin: 0 -42.8571%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2[class*="order"] > div {
    margin: 0 -17.6471%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3[class*="order"] > div {
    margin: 0 -11.1111%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4[class*="order"] > div {
    margin: 0 -8.1081%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5[class*="order"] > div {
    margin: 0 -6.383%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6[class*="order"] > div {
    margin: 0 -5.2632%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7[class*="order"] > div {
    margin: 0 -4.4776%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8[class*="order"] > div {
    margin: 0 -3.8961%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span9 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order1 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order1 > div {
    margin: 0 -3.4483% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span10 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order10 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span10.order1 > div {
    margin: 0 -3.0928% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span8 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8.order1 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8.order1 > div {
    margin: 0 -3.8961% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span7 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7.order1 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7.order1 > div {
    margin: 0 -4.4776% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span6 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6.order1 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6.order1 > div {
    margin: 0 -5.2632% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span5 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5.order1 > div {
    margin: 0 -6.383% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span4 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4.order1 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4.order1 > div {
    margin: 0 -8.1081% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span3 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3.order1 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3.order1 > div {
    margin: 0 -11.1111% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2.order1 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2.order1 > div {
    margin: 0 -17.6471% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span9.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order3 > div {
    margin: 0 0 0 -3.4483%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span10 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span10.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span10.order3 > div {
    margin: 0 0 0 -3.0928%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span8.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8.order3 > div {
    margin: 0 0 0 -3.8961%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span7.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7.order3 > div {
    margin: 0 0 0 -4.4776%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span6.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6.order3 > div {
    margin: 0 0 0 -5.2632%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span5.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5.order3 > div {
    margin: 0 0 0 -6.383%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span4.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4.order3 > div {
    margin: 0 0 0 -8.1081%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span3.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3.order3 > div {
    margin: 0 0 0 -11.1111%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span2.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2.order3 > div {
    margin: 0 0 0 -17.6471%;
}
/* ----- Maincontent Area ----- */
#jsn-content.jsn-hasleft.jsn-hasright #jsn-content_inner2.jsn-flip #jsn-leftsidecontent.order2 > div,
#jsn-content.jsn-hasleft.jsn-hasright #jsn-content_inner2.jsn-flip #jsn-rightsidecontent.order2 > div {
	margin-left: -30px;
}
#jsn-content.jsn-hasright.jsn-hasleft #jsn-content_inner.jsn-flip #jsn-rightsidecontent.order2 > div,
#jsn-content.jsn-hasright.jsn-hasleft #jsn-content_inner.jsn-flip #jsn-leftsidecontent.order2 > div {
	margin-right: -30px;
}
#jsn-content.jsn-hasleft.jsn-hasright #jsn-content_inner.jsn-flip #jsn-content_inner2 {
	background: none;
}
#jsn-content.jsn-hasleft.jsn-hasright #jsn-maincontent #jsn-maincontent_inner {
	margin-left: -20px;
	margin-right: -20px;
}
#jsn-content.jsn-hasright #jsn-maincontent_inner,
#jsn-content.jsn-hasleft.jsn-hasright #jsn-maincontent.order1 #jsn-maincontent_inner {
	margin-right: -20px;
	margin-left: 0;
}
#jsn-content.jsn-hasleft #jsn-maincontent_inner,
#jsn-content.jsn-hasleft.jsn-hasright #jsn-maincontent.order3 #jsn-maincontent_inner,
#jsn-content.jsn-hasright .order2 #jsn-maincontent_inner,
#jsn-content.jsn-hasleft.jsn-hasright #jsn-maincontent.order3 #jsn-maincontent_inner {
	margin-left: -20px;
	margin-right: 0;
}
#jsn-content.jsn-hasleft #jsn-maincontent.order1 #jsn-maincontent_inner {
	margin-left: 0;
	margin-right: -20px;
}
#jsn-maincontent.span12[class*="order"],
#jsn-content.jsn-hasleft.jsn-hasright #jsn-maincontent.order2 {
	padding: 0;
}
/* ----- Component Area ----- */
#jsn-content.jsn-hasinnerleft:not([class*="jsn-hasinnerright"]) #jsn-maincontent.span12 #jsn-centercol {
	padding-right: 15px;
}
#jsn-content.jsn-hasinnerright:not([class*="jsn-hasinnerleft"]) #jsn-maincontent.span12 #jsn-centercol {
	padding-left: 15px;
}
#jsn-content.jsn-hasinnerleft.jsn-hasinnerright #jsn-maincontent.span12 #jsn-centercol {
	padding: 0;
}
/* =============== LAYOUT - HEADER AREA =============== */
#jsn-header_inner1 {
	position: relative;
}
#jsn-logo {
    padding: 25px 0;
}
#jsn-logo a {
	line-height: 100%;
	display: inline-block;
}
#jsn-headerright {
	padding: 20px 0;
}
#jsn-pos-top form {
	margin: 4px 0;
}
#jsn-pos-top div.jsn-modulecontainer {
	float: left;
	margin: 0 0 0 50px;
}
#jsn-pos-top div.jsn-modulecontainer:first-child {
	margin-left: 0;
}
/* =============== LAYOUT - MENU AREA =============== */
#jsn-menu {
	z-index: 999;
	color: #000000;
	clear: both;
	position: relative;
	margin: 0 0 20px 0;
}
#jsn-pos-mainmenu {
	float: left;
}
#jsn-pos-toolbar {
	float: right;
}
#jsn-menu div.jsn-modulecontainer {
	float: left;
	margin:0;
}
/* =============== MENU SUFFIX =============== */
#jsn-menu #jsn-pos-toolbar div.jsn-modulecontainer {
	float: left;
	margin-left: 4px;
}
/* =============== MENU - TOOLBAR POSITION =============== */
#jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul {
	right: 0;
}
#jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li.parent > a {
    background: url("../images/icons/icon-arrow-white-rtl.png") no-repeat scroll 2% center;
    padding-left: 16px;
}
#jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li a {
    text-align: right;
}
/* =============== LAYOUT - CONTENT TOP AREA =============== */
#jsn-content-top #jsn-promo,
#jsn-promo #jsn-pos-promo,
#jsn-promo #jsn-pos-promo-left,
#jsn-promo #jsn-pos-promo-right {
	position: relative;
}
#jsn-content-top {
	margin-bottom: 20px;
}
#jsn-content-top .lightbox-2 h3.jsn-moduletitle{
	color: #333;
	text-shadow:none;
}
#jsn-promo {
	margin-top: 0;
}
#jsn-pos-promo-left h3.jsn-moduletitle,
#jsn-pos-promo-right h3.jsn-moduletitle {
	padding: 10px;
}
#jsn-promo div.lightbox-2 h3.jsn-moduletitle{
	color: #676154;
	box-shadow: none;
}
#jsn-pos-promo-left div.jsn-modulecontent,
#jsn-pos-promo-right div.jsn-modulecontent {
	padding: 10px;
}
#jsn-promo-left:not(.order1) .jsn-modulecontainer,
#jsn-pos-promo-right .jsn-modulecontainer {
	margin:0 0 20px 20px;
}
#jsn-pos-promo-right.order1 .jsn-modulecontainer,
#jsn-pos-promo-left .jsn-modulecontainer {
	margin: 0 20px 20px 0;
}
#jsn-pos-content-top {
	margin: 10px -10px -10px;
}
/* =============== LAYOUT - CONTENT AREA =============== */
#jsn-promo,
#jsn-content,
#jsn-content_inner,
#jsn-maincontent,
#jsn-centercol,
#jsn-pos-innerleft,
#jsn-pos-innerright,
#jsn-leftsidecontent,
#jsn-rightsidecontent {
	position: relative;
}
#jsn-content {
	margin-top: 10px;
}
#jsn-maincontent {
	margin-bottom: 10px;
}
#jsn-maincontent h3.jsn-moduletitle {
	text-shadow:none;
}
#jsn-leftsidecontent,
#jsn-rightsidecontent {
	z-index: 87;
}
#jsn-leftsidecontent div.jsn-modulecontainer,
#jsn-rightsidecontent div.jsn-modulecontainer {
	margin-bottom: 20px;
}
#jsn-pos-innerleft div.jsn-modulecontainer,
#jsn-pos-innerright div.jsn-modulecontainer {
	margin: 10px;
}
#jsn-leftside-middle.jsn-positionscontainer2 div#jsn-pos-left-2,
#jsn-rightside-middle.jsn-positionscontainer2 div#jsn-pos-right {
	float: left;
	width: 49.95%;
}
#jsn-leftside-middle.jsn-positionscontainer2 div#jsn-pos-left,
#jsn-rightside-middle.jsn-positionscontainer2 div#jsn-pos-right-2 {
	float: right;
	width: 49.95%;
}
div.jsn-positionscontainer2 #jsn-pos-left div.jsn-modulecontainer_inner,
div.jsn-positionscontainer2 #jsn-pos-right-2 div.jsn-modulecontainer_inner {
	margin-left: 5px;
}
div.jsn-positionscontainer2 #jsn-pos-left-2 div.jsn-modulecontainer_inner,
div.jsn-positionscontainer2 #jsn-pos-right div.jsn-modulecontainer_inner {
	margin-right: 5px;
}
#jsn-centercol_inner {
	padding: 0;
}
#jsn-mainbody {
	padding: 10px 0;
}
#jsn-pos-breadcrumbs {
	padding: 11px 0;
}
.jsn-joomla-30 #jsn-pos-breadcrumbs {
	padding:0;
}
#jsn-pos-user-top,
#jsn-usermodules1,
#jsn-pos-mainbody-top,
#jsn-pos-mainbody-bottom,
#jsn-usermodules2,
#jsn-pos-user-bottom,
#jsn-pos-content-bottom,
#jsn-usermodules3 {
	padding: 0;
}
#jsn-pos-breadcrumbs,
#jsn-pos-user-top,
#jsn-usermodules1,
#jsn-pos-mainbody-top {
	border-bottom: 1px solid #E4E4E4;
}
#jsn-pos-user-bottom,
#jsn-pos-banner,
#jsn-usermodules2,
#jsn-pos-mainbody-bottom {
	border-top: 1px solid #E4E4E4;
}
#jsn-usermodules1_inner_grid2,
#jsn-usermodules2_inner_grid2 {
	width: 100%;
}
#jsn-pos-banner {
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}
/* =============== LAYOUT - CONTENT BOTTOM AREA =============== */
#jsn-content-bottom {
	background: #ddd8d1;
	border-top: 1px solid #e4e4e4;
	padding: 10px 0;
}
/* =============== LAYOUT - FOOTER AREA =============== */
#jsn-footer {
	font-size: 0.9em;
	color: #000;
	margin: 20px -20px 0 -20px;
	padding: 20px;
}
#jsn-footer a {
	text-decoration: none;
	color: #000;
}
#jsn-footer a:hover {
	text-decoration: underline;
}
#jsn-pos-bottom {
	text-align: right;
}
#jsn-brand {
    display: block;
    color: #fff;
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 11px;
}
#jsn-brand a {
	color: #fff;
}
#jsn-brand a:hover {
	color: #fff;
	text-decoration: none;
}
/* ============================== TYPOGRAPHY ============================== */
/* =============== TYPOGRAPHY - GENERAL TYPOGRAPHY =============== */
.hd {
	display: none;
}
/* ----- PREDEFINED CONTENT ALIGN ----- */
.align-left {
	float: left;
}
.align-center {
	margin-left: auto;
	margin-right: auto;
}
.align-right {
	float: right;
}
.margin-left {
	margin-left: 1em;
	margin-right: 0;
}
.margin-right {
	margin-left: 0;
	margin-right: 1em;
}
.content-left {
	text-align: left;
}
.content-center {
	text-align: center;
}
.content-right {
	text-align: right;
}
/* =============== TYPOGRAPHY - CONTENT COLUMMNS =============== */
div.grid-layout2 div.grid-col {
	float: left;
	width: 49.95%;
}
div.grid-layout3 div.grid-col {
	float: left;
	width: 33.3%;
}
div.grid-layout4 div.grid-col {
	float: left;
	width: 24.96%;
}
div.grid-layout5 div.grid-col {
	float: left;
	width: 19.98%;
}
div.grid-layout6 div.grid-col {
	float: left;
	width: 16.65%;
}
div.grid-layout div.grid-col div.grid-col_inner {
	margin-right: 10px;
}
div.grid-layout div.grid-lastcol div.grid-col_inner {
	margin-right: 0;
}
/* =============== TYPOGRAPHY - TEXT STYLES =============== */
.text-box {
	padding: .8em;
	border: 1px solid #e5e5e5;
}
.text-box-highlight {
	padding: .8em;
	border: 1px solid transparent;
}
.text-box-highlight:hover {
	border-color: #d9d9d9;
	background-color: #f2f2f2;
}
.text-highlight {
	padding: .2em .5em;
	background: #FFFFAA;
}
.text-highlight.highlight-green {
	color: #fff;
	background: #48691b;
}
.text-highlight.highlight-light {
	color: #000;
	background: #e5e5e5;
}
.text-highlight.highlight-dark {
	color: #fff;
	background: #595959;
}
.text-dropcap p:first-child:first-letter,
p.text-dropcap:first-child:first-letter {
	color: #404040;
	font: 4em/.8em "Times New Roman", Times, serif;
	float: left;
}
.text-size-small {
	font-size: 0.9em;
}
.text-size-medium {
	font-size: 1em;
}
.text-size-large {
	font-size: 1.1em;
}
.text-size-xlarge {
	font-size: 1.2em;
}
.text-size-xxlarge {
	font-size: 1.3em;
}
hr.line-dots {
	border: none;
	padding: 0.5em 0;
	background: url(../images/dot.png) left center repeat-x;
}
hr.line-solid {}
/* ----- ACTION LINK ----- */
.link-action {
	font-weight: bold;
	padding: 1px 2px;
	text-decoration: none;
}
.link-action:hover {
	color: #000000;
	text-decoration: none;
}
/* ----- HIGHLIGHT LINK ----- */
.link-highlight {
	color: #595959;
	font-weight: bold;
	display: block;
	padding: 5px;
	border: 1px solid transparent;
}
.link-highlight:hover {
	color: #000;
	border-color: #d9d9d9;
	text-decoration: none;
	background-color: #f2f2f2;
}
/* ----- TOOLTIPS LINK ----- */
a.link-tooltip {
	position: relative;
}
a.link-tooltip:hover {
	z-index: 25;
}
a.link-tooltip span {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
}
a.link-tooltip:hover span {
	display: block;
}
/* =============== TYPOGRAPHY - LIST STYLES =============== */
/* ----- ARROW LIST ----- */
ul.list-arrow {
	list-style: none;
}
ul.list-arrow li {
	margin-left: 0;
	padding-left: 16px;
	position: relative;
	display: block;
}
ul.list-arrow li:after {
	content: '';
	height: 0;
	position: absolute;
	width: 0;
	border: 0.34em solid transparent;
	left: 5px;
	top: 4px;
}
ul.list-arrow.arrow-red li:after {
	border-left-color: #AE0000;
}
ul.list-arrow.arrow-blue li:after {
	border-left-color:#0060BF;
}
ul.list-arrow.arrow-green li:after {
	border-left-color: #3AA655;
}
/* =============== TYPOGRAPHY - IMAGES STYLES =============== */
img.image-left {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}
img.image-right {
	float: right;
	margin: 0.5em 0.5em 0.5em 1em;
}
img.image-border {
	padding: 3px;
	border: 1px solid #e5e5e5;
}
img.image-margin {
	margin: .5em;
}
/* ============================== MENU ============================== */
/* =============== MENU - GENERAL =============== */
/* ----- RICH MENU STYLE ----- */
.jsn-menutitle,
.jsn-menudescription {
	display: block;
}
.jsn-menudescription {
	font-size: 0.9em;
	font-weight: normal;
}
/* =============== MENU - MAIN MENU =============== */
/* ----- GENERAL ----- */
div[class*="box-"] ul.menu-treemenu,
div[class*="solid-"] ul.menu-treemenu,
div[class*="box-"] ul.menu-sidemenu,
div[class*="solid-"] ul.menu-sidemenu {
	margin:-10px ;
}
div.jsn-modulecontainer ul.menu-mainmenu {
	margin: 0;
	padding: 0;
	clear: both;
}
div.jsn-modulecontainer ul.menu-mainmenu li {
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	list-style-type: none;
}
div.jsn-modulecontainer ul.menu-mainmenu.menu-richmenu > li > a > span {
	min-height: 35px;
}
div.jsn-modulecontainer ul.menu-mainmenu li a {
	display: block;
	color: #000;
	cursor: pointer;
	padding: 15px 20px;
}
div.jsn-modulecontainer ul.menu-mainmenu > li > a {
	font-weight: bold;
}
div.jsn-modulecontainer ul.menu-mainmenu.menu-richmenu > li > a.jsn-nodescription {}
div.jsn-modulecontainer ul.menu-mainmenu > li > a {
	padding: 15px 20px;
}
div.jsn-modulecontainer ul.menu-mainmenu > li > a {
	text-transform: uppercase;
}
div.jsn-modulecontainer ul.menu-mainmenu li > a > span {
	display: block;
}
div.jsn-modulecontainer ul.menu-mainmenu ul {
	visibility: hidden;
	visibility: visible\9;
	display: none\9;
}
div.jsn-modulecontainer ul.menu-mainmenu li:hover > ul {
	visibility: visible;
	display: block\9;
}
/* ----- ICON MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-mainmenu.menu-iconmenu > li > a > span {
	line-height: 16px;
}
/* ----- RICH MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-mainmenu li a span.jsn-menudescription {
	display: none;
}
div.jsn-modulecontainer ul.menu-mainmenu.menu-richmenu li a span.jsn-menudescription {
	display: block;
	padding-top: 3px;
	text-transform: none;
}
/* ----- 1st LEVEL ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul {
	margin: 0;
	padding: 0;
	width: 185px;
	left: -999em;
	position: absolute;
}
div.jsn-modulecontainer ul.menu-mainmenu ul li {
	width: 185px;
}
div.jsn-modulecontainer ul.menu-mainmenu ul li a {
	padding: 10px 15px;
	font-size: 0.9em;
}
div.jsn-modulecontainer ul.menu-mainmenu ul ul {
	margin-left: 184px;
	top: 0;
}
/* ----- PARENT ITEMS / ADD ARROW TO ITEMS HAVE SUBLEVEL ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul li.parent > a {
	padding-right: 24px;
	background: url(../images/icons/icon-arrow-white.png) 95% center no-repeat;
}
/* ----- HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu li:hover > a {
	color: #000;
	text-decoration: none;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu li.active > a {
	color: #000;
	font-weight: bold;
	border:none;
}
/* ----- ROLLOVER STATE / DISPLAY SUB-MENU OF SELECTED MENU ITEM ----- */
div.jsn-modulecontainer ul.menu-mainmenu li:hover > ul {
	left: auto;
	right: auto;
}
/* =============== MENU - TREE MENU =============== */
/* ----- GENERAL ----- */
div.jsn-modulecontainer ul.menu-treemenu,
div.jsn-modulecontainer ul.menu-treemenu ul {
	padding: 0;
	list-style: none;
}
div.jsn-modulecontainer ul.menu-treemenu li {
	margin: 0;
	padding: 0;
	position: relative;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}
div.jsn-modulecontainer ul.menu-treemenu > li.first {
	border-top: none;
}
div.solid-1 ul.menu-treemenu li {
	border-top:1px solid #444;
	border-bottom:1px solid #222;
}
div.solid-1.jsn-modulecontainer ul.menu-treemenu > li ul {
	border-top:1px solid #222;
}
div.jsn-modulecontainer ul.menu-treemenu > li.last {
	border-bottom: none;
}
div.jsn-modulecontainer ul.menu-treemenu li a {
	padding: 8px 10px;
	display: block;
	color: #666;
	cursor: pointer;
	text-decoration: none;
}
div.jsn-modulecontainer ul.menu-treemenu > li ul {
	margin:0 0 -1px 0;
	border-top: 1px solid #fff;
}
div[class*="solid-"] ul.menu-treemenu li a {
	color: #fff;
}
ul.menu-treemenu li a span {
	display: block;
}
ul.menu-treemenu li > a > span {
	padding-left: 24px;
	background: url(../images/icons/icons-base.png) left -341px no-repeat;
}
div.jsn-modulecontainer ul.menu-treemenu ul li a {
	padding-left: 25px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul li a {
	padding-left: 40px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul ul li a {
	padding-left: 55px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul ul ul li a {
	padding-left: 70px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul ul ul ul li a {
	padding-left: 85px;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-treemenu li.active > a {
	font-weight: bold;
}
/* ----- CURRENT / HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-treemenu li a:hover,
div.jsn-modulecontainer ul.menu-treemenu li a.current {
	background-color: #ddd;
}
/* ----- CURRENT / HOVER STATE IN SPECIFIC MODULE BOXES ----- */
div[class*="solid-"] ul.menu-treemenu li a:hover,
div[class*="solid-"] ul.menu-treemenu li a.current {
	color: #FFF;
}
/* =============== MENU - DIV MENU =============== */
ul.menu-divmenu {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}
ul.menu-divmenu:after {
	height: 0;
	clear: both;
	content: ".";
	display: block;
	visibility: hidden;
}
ul.menu-divmenu li {
	margin: 0;
	padding: 0 0.8em;
	float: left;
	display: inline;
	border-right: 1px solid #B3B3B3;
}
ul.menu-divmenu li.first {
	padding-left: 0;
}
ul.menu-divmenu li.last {
	border-right-width: 0;
}
/* =============== MENU - TOP MENU =============== */
ul.menu-topmenu {
	margin:6px 0 0 0;
	padding: 0;
	list-style: none;
}
ul.menu-topmenu li {
	margin: 0;
	float: left;
	padding-bottom:0;
}
ul.menu-topmenu li a {
	padding: 5px 10px;
	display: block;
	font-size: 95%;
}
ul.menu-topmenu li a:hover {
	text-decoration: underline;
}
ul.menu-topmenu li a span {
	display: block;
}
/* ============================== MODULE STYLES ============================== */
h3.jsn-moduletitle {
	margin: 0;
	color: #000000;
	font-size: 1.1em;
	padding:0 0 5px 0;
}
h3.jsn-moduletitle span {
	display: block;
}
h3.jsn-moduletitle span.jsn-moduleicon {
	line-height: 16px;
}
/* =============== MODULE STYLES - MODULE BOXES =============== */
div[class*=richbox-] h3.jsn-moduletitle {
	padding: 10px;
	color: #666666;
}
div[class*=richbox-] div.jsn-modulecontent {
	padding: 10px;
}
/* ----- MODULE BOX RICHBOX-1 ----- */
div.richbox-1 h3.jsn-moduletitle {
	background:#666666;
	/*border-bottom: 4px solid #111;*/
}
div.richbox-1 div.jsn-modulecontent {
	color: #000000;
	background: #ddd8d1;
}
/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
/* =============== PAGEBREAK - TABS STYLE =============== */
dl.tabs {
	float: left;
	margin-bottom: -1px;
}
dl.tabs dt.tabs {
	float: left;
	margin-left: 3px;
	padding: 4px 10px;
	background-color: #F0F0F0;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
dl.tabs dt:hover {
	background-color: #F9F9F9;
}
dl.tabs dt.open {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
}
dl.tabs dt.tabs h3 {
	margin: 0;
	font-size: 1.1em;
}
dl.tabs dt.tabs h3 a {
	color: #666;
	font-weight: normal;
}
dl.tabs dt.open h3 a,
dl.tabs dt.tabs h3 a:hover {
	color: #000;
	text-decoration: none;
}
dl.tabs dt.open h3 a {
	font-weight: bold;
}
div.current dd.tabs {
	margin: 0;
	padding: 10px;
	clear: both;
	border: 1px solid #CCC;
	background-color: #FFF;
}
/* =============== PAGEBREAK - SLIDERS STYLE =============== */
div.panel {
	border: 1px solid #CCC;
	margin-bottom: 10px;
}
div.panel h3.title {
	margin: 0;
	cursor: pointer;
	font-size: 1.1em;
	padding: 8px 10px;
	border-bottom: 1px solid #CCC;
}
div.panel h3.title:hover,
div.panel h3.pane-toggler-down {
	background-color: #F0F0F0;
}
div.panel h3.title a {
	color: #666;
}
div.panel h3.title a:hover {
	text-decoration: none;
}
div.panel h3.pane-toggler-down {
	border-bottom: none;
}
div.panel h3.pane-toggler-down a {
	color: #000;
}
div.panel div.content > div,
div.panel div.content > p {
	margin: 15px;
}
/* =============== JOOMLA! EXTENSIONS - GENERAL =============== */
/* ----- HEADING ----- */
.contentheading,
.componentheading,
.subheading {
	margin-top: 0;
	font-size: 1.6em;
}
table.contentpaneopen {
	width: 100%;
}
/* ----- FORM ----- */
.jsn-formbuttons {
	text-align: center;
	padding-top: .45em;
}
table.paramlist td {
	padding: .3em;
}
table.paramlist td.paramlist_key {
	width: 150px;
}
.inputbox {
	border: 1px solid #d0d0d0;
	background-color: #fafafa;
	padding: 2px 4px;
	min-height: 22px;
}
.inputbox:active, .inputbox:focus {
	border-color: #b5b5b5;
	background-color: #f2f2f2;
}
select.inputbox {
	padding: 2px;
}
#jsn-page .button {
	display: inline-block;
	*display: inline;
	padding: 4px 10px;
	margin: 0 0 2px;
	font-size: 13px;
	line-height: 18px;
	*line-height: 20px;
	color: #eee;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	vertical-align: middle;
	cursor: pointer;
	background-color: #999;
}
.button:hover, .button:active {
	background-color: #777;
	color: #fff;
}
/* ----- TOOLTIPS ----- */
.jsn-joomla-25 .tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
	z-index: 88;
	position: relative;
}
.jsn-joomla-25 .tip-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}
.jsn-joomla-25 .tip-text {
	font-size: 100%;
	margin: 0;
}
/* ----- POP-UP / PRINT WINDOWS ----- */
body.contentpane {
	color: #000000;
	background: #FFFFFF;
}
body.contentpane div.com-content {
	padding: 1em;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
/* ----- ARTICLE METADATA ----- */
.jsn-article-metadata {
	margin-bottom: 15px;
}
.jsn-article-metadata > span {
	padding-right: 10px;
	border-right: 1px solid #ccc;
	margin-right: 10px;
}
.jsn-article-metadata > span:last-child {
	padding-right: 0;
	margin-right: 0;
	border: none;
}
.article-info {
	margin: 0;
	font-size: 0.9em;
	float: left;
}
.article-info-term {
	display: none;
}
.archive .article-info dd,
.article-info dd {
	margin: 2px 0 0;
	line-height: 1.5;
}
/* ----- ARTICLE TOOLBAR ----- */
.jsn-article-toolbar {
	margin-bottom: 15px;
	background-color: #f4f4f4;
}
.jsn-article-toolbar .btn-group.pull-right {
	padding: 5px;
}
.jsn-article-toolbar dl {
	padding: 5px;
}
#article-index {
    float: right;
    margin: 0 0 1em 1em;
    background-color: #F2F2F2;
    border: 1px solid #D9D9D9;
}
#article-index ul {
	margin: 0;
	list-style-type: none;
}
#article-index ul li {
	margin: 0;
	padding: 0.25em 0.6em;
}
/* ----- ARTICLE INFO ----- */
.jsn-article-info {
	padding: 10px;
}
.jsn-article-info p:first-child {
	margin-top: 0;
}
.jsn-article-info p:last-child {
	margin-bottom: 0;
}
.author,
.createdate,
.publishdate,
.hits {
	margin: 10px 0;
	color: #595959;
	font-size: 0.9em;
}
.author,
.createdate,
.publishdate {
	padding-left: 22px;
	background-image: url(../images/icons/icons-base.png);
	background-repeat: no-repeat;
}
.author {
	background-position: 0 0;
}
.createdate,
.publishdate {
	background-position: 0 -86px;
}
.modifydate {
	margin: 1em 0;
	text-align: right;
	color: #999999;
	font-style: italic;
}
/* ----- ARCHIVE ARTICLE  ----- */
div.archive .intro {
	clear: both;
}
/* ----- 2 BUTTON PRINT, EMAIL CONTAINER ----- */
ul.jsn-article-tools {
	margin: 10px;
	list-style: none;
}
ul.jsn-article-tools li {
	float: left;
	margin: 0 0 0 10px;
}
ul.jsn-article-tools li a {
	float: left;
	display: block;
	height: 16px;
	width: 16px;
	background: url(../images/icons/icons-base.png) left top no-repeat;
}
ul.jsn-article-tools li a.no-icon {
	background: none;
	width: auto;
	height: auto;
}
ul.jsn-article-tools li.jsn-article-icon-edit a {
	background: none;
}
ul.jsn-article-tools li a.jsn-article-print-button {
	background-position: 0 -430px;
}
ul.jsn-article-tools li a.jsn-article-email-button {
	background-position: 0 -516px;
}
ul.jsn-article-tools li a:hover {
	text-decoration: none;
}
.jsn-article-submit {
	margin-top: 0.8em;
}
.jsn-joomla-25 .item-title-entry .icon-edit,
.item-title-entry .jsn-icon-edit {
	display: inline-block;
}
/* ----- SUBMIT AN ARTICLE ----- */
.field-title {
	width: 120px;
	float: left;
}
.formelm, .formelm-area {
	margin: 5px 0;
	clear: both;
}
/* ----- READ MORE ----- */
a.readon {
	padding: 3px 6px;
	color: #404040;
	border: 1px solid #e5e5e5;
	background: #F4F4F4;
	display: inline-block;
}
a.readon:hover {
	background-color: #e5e5e5;
	text-decoration: none;
}
/* ----- TABLE OF CONTENT ----- */
table.contenttoc {
	margin: 0 0 1em 1em;
	border: 1px solid #D9D9D9;
	background: #f2f2f2;
	float: right;
}
table.contenttoc th {
	padding: .4em;
	background: url(../images/dot.png) bottom repeat-x;
	font-weight: bold;
	text-align: center;
}
table.contenttoc td {
	padding: .25em .6em;
}
/* PAGE LINK IN TOC */
a.toclink {
	font-size: .9em;
}
/* PAGE NUMBER SHOWING "PAGE 1 OF ..." UNDER TOC */
div.pagenavcounter {
	color: #595959;
	margin: .5em 0;
	font-size: .9em;
	font-weight: bold;
}
/* PAGE NAVIGATION */
div.pagenavbar div {
	color: #999999;
	font-weight: bold;
	font-size: .9em;
}
/* ----- SECTION / CATEGORY BLOG LAYOUT ----- */
/* SEPARATOR BETWEEN ARTICLES */
div.article_separator {
	height: 1em;
	clear: both;
}
div.row_separator {
	height: 1em;
	clear: both;
}
/* ARTICLE COLUMN CONTAINER */
.jsn-articlecols {
	float: left;
}
.jsn-articlecols .jsn-article {
	padding: 0 5px;
}
/* "MORE ARTICLES..." PANEL HEADING TEXT */
div.blog_more {
	padding: 10px 15px;
	margin: 0 0 1em 0;
	border: 1px solid #e5e5e5;
	background-color: #F4F4F4;
}
/* PAGE PAGINATION */
ul.pagenav,
div.pagination ul {
	list-style-type: none;
}
ul.pagenav {
	text-align: center;
}
ul.pagenav li,
div.pagination ul li {
	color: #999;
	margin: 0;
	display: inline-block;
	font-weight: bold;
}
div.pagination ul li {
	font-size: 0.9em;
}
ul.pagenav li a,
div.pagination ul li a {
	margin: 0 15px;
}
ul.jsn-pagination {
	list-style-type: none;
}
ul.jsn-pagination li {
	display: inline-block !important; /*override compression*/
	margin: 0;
}
ul.jsn-pagination li a,
ul.jsn-pagination li span {
	font-weight: bold;
	padding: 5px 10px;
	border: 1px solid #CCC;
	color: #999;
	display: inline-block;
}
ul.jsn-pagination li a:hover {
	color: #000;
	text-decoration: none;
}
ul.jsn-pagination li.navigation-page span {
	border: none;
	padding: 6px 10px;
	color: #fff;
}
ul.jsn-pagination,
p.jsn-pageinfo {
	font-size: 0.9em;
	text-align: center;
	margin: 20px 0 10px 0;
}
/* BLOG PAGES NAV LINK */
a.pagenav {
	text-transform: uppercase;
}
/* ----- CATEGORY LIST LAYOUT ----- */
/* DESCRIPTION IN CONTENT TABLE AND COMPONENT PAGE */
.categories-list ul {
	list-style-type: none;
}
.cat-children ul dl dt,
.cat-children ul dl dd,
dl.article-count dt,
dl.article-count dd {
	display: inline;
}
.categories-list dl dt,
.categories-list dl dd {
	margin: 0;
	padding: 0;
	display: inline;
}
/* TABLE IN CATEGORY TABLE PAGE */
.sectiontableheader {
	padding: 5px 8px;
	font-weight: bold;
	font-size: 1.1em;
	color: #FFFFFF;
}
.sectiontableheader img {
	margin: 0;
	vertical-align: text-top;
}
.sectiontableheader a {
	color: #ffffff;
	text-decoration: underline;
}
.sectiontableheader a:hover {
	text-decoration: none;
}
/* TABLE FILTER */
.jsn-infofilter {
	text-align: right;
}
.jsn-titlefilter {
	float: left;
}
.archived-article-list .jsn-infofilter {
	text-align: left;
}
/* TABLE'S ROW */
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
	padding: 6px 8px;
	border-bottom: 1px solid #e5e5e5;
}
/* TABLE'S ROW 2 */
tr.sectiontableentry2 td {
}
/* ----- SECTION LAYOUT ----- */
/* LINKS IN SECTION TABLE PAGE */
a.category {
	font-weight: bold;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTACT =============== */
/* ----- STANDARD CONTACT LAYOUT ----- */
div.com-contact .jsn-contact-image {
	float: right;
	margin: 10px 5px 0 0;
}
div.com-contact .contact-position {
	margin: 5px 0 0 0;
}
div.com-contact .contact-vcard {
	margin: 0 0 5px 0;
}
div.com-contact .jicons-icons {
	float: left;
}
div.com-contact .contact-address {
	margin-top: 5px;
}
div.com-contact .contact-address p {
	margin: 0;
	padding-left: 20px;
}
div.com-contact .contact-contactinfo p,
div.com-contact .contact-miscinfo p {
	margin: 5px 0;
}
div.com-contact .contact-contactinfo .jicons-icons,
div.com-contact .contact-miscinfo .jicons-icons {
	margin-right: 4px;
}
div.com-contact div.contact-form fieldset {
	padding: 0 10px;
}
div.com-contact div.contact-form dt {
	margin: 10px 0 5px 0;
}
div.com-contact div.contact-form dd {
	margin-left: 0;
}
div.com-contact .form-required {
	color: #EF593B;
	font-weight: bold;
	text-align: right;
}
div.contact .dl-horizontal dd {
	margin-left: 25px;
}
/* =============== JOOMLA! EXTENSIONS - COM_SEARCH =============== */
div.com-search #searchForm .search-phrase {
	margin-left: 95px;
}
div.com-search #searchForm .search-range input,
div.com-search #searchForm .search-phrase input {
	margin: 0 0 0 5px;
	vertical-align: middle;
}
div.com-search #searchForm [class*="search-"] label,
div.com-search #searchForm .search-field-title {
	width: 100px;
	line-height: 21px;
	text-align: left;
	padding-right: 3px;
	display: inline-block;
}
div.com-search #searchForm .search-range label,
div.com-search #searchForm .search-phrase label {
	width: auto;
}
div.com-search #searchForm .search-ordering select {
	padding: 2px 0;
}
div.com-search #searchForm .search-range label {
	line-height: 21px;
}
.jsn-joomla-30 div.search .inputbox {
	width: auto;
	max-width: 100%;
}
/* =============== JOOMLA! EXTENSIONS - COM_FINDER =============== */
.collapse {
	overflow: hidden;
}
/* ----- KEYWORD GIGHLIGHT IN SEARCH RESULT ----- */
span.highlight {
	padding: .2em;
	background: #FFFFAA;
}
/* =============== JOOMLA! EXTENSIONS - COM_WEBLINK =============== */
table.jsn-infotable .description p {
	margin: 0;
}
table.jsn-infotable ul.actions {
	display: inline;
}
table.jsn-infotable ul.actions li {
	display: inline;
	margin: 0 0 0 5px;
}
#editor-xtd-buttons {
	float: left;
}
/* =============== JOOMLA! EXTENSIONS - COM_NEWSFEED =============== */
div.com-newsfeed td.jsn-table-column-name {
	font-weight: bold;
}
div.com-newsfeed table {
	width: 100%;
	border-collapse: collapse;
}
div.com-newsfeed td {
	border: 1px solid #ccc;
	padding: 10px 5px;
	border-top: none;
}
div.com-newsfeed th {
	background: #999;
	padding: 10px 5px;
	border: 1px solid #999;
	border-bottom: none;
}
div.com-newsfeed th a {
	color: #fff;
}
div.com-newsfeed td.item-num-art {
	text-align: center;
}
/* =============== JOOMLA! EXTENSIONS - COM_USER =============== */
/* ----- USER FORM LAYOUT ----- */
div.com-user div.default-login {
	width: 350px;
	margin: 0 auto;
	padding: 10px;
	background-color: #F4F4F4;
	border: 1px solid #E5E5E5;
}
.login-fields {
	margin: 10px 0;
}
.login-fields label {
	width: 9em;
	float: left;
}
/* ----- REGISTER FORM ----- */
.jsn-formRow {
	margin: 8px 0;
}
.jsn-formRow .jsn-formRow-lable {
	float: left;
	width: 170px;
}
button#jform_profile_dob_img.btn {
	height: 30px;
}
/* =============== JOOMLA! EXTENSIONS - POPUP COMPONENT =============== */
#jsn-content-popup .com-content,
#jsn-content-popup #mailto-window {
	max-width: 1018px;
	margin: 1em auto;
}
#jsn-content-popup .com-content {
    padding-top: 0;
}
#mailto-window {
	padding: 15px;
	position: relative;
	background: #f5f5f5;
	border: solid 1px #ddd;
}
#mailto-window h2 {
	padding: 3px 0;
	margin: 0 0 10px;
	font: bold 1.2em "Times New Roman", Times, serif;
}
#mailto-window label {
	width: 8em;
	display: inline-block;
}
#mailto-window .mailto-close {
	right: 0;
	top: 5px;
	background: none;
	position: absolute;
}
#mailto-window .mailto-close a {
	display: block;
	min-width: 25px;
	min-height: 25px;
	overflow: visible;
	background: url(../images/icons/icon-close.png) 0 0 no-repeat;
}
#mailto-window .mailto-close a span {
	top: -3000px;
	left: -3000px;
	display: inline;
	position: absolute;
}
#mailto-window .inputbox {
	padding: 3px;
	border: 1px solid #ccc;
	background: #FFF url(../images/backgrounds/popup-bg.png) repeat-x 0 0;
}
#mailto-window p {
    margin: 20px 0 8px 0;
}
#mailto-window button {
	cursor: pointer;
	margin:0 5px 0 0;
	padding: 3px 10px;
	border: 1px solid #ccc;
	font: bold 1em "Times New Roman", Times, serif;
	background-image:-moz-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(216,216,216)));
	background-image:-webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffd8d8d8,GradientType=0)";
	/**filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffd8d8d8,GradientType=0);**/
}
#mailto-window .formelm,
#mailto-window .formelm-area {
    clear: both;
    margin: 5px 0;
}
/* =============== JOOMLA! EXTENSIONS - SYSTEM MESSAGES =============== */
/* ----- SYSTEM STANDARD MESSAGES ----- */
#system-message dd.message ul {
	text-indent: 0;
	padding-left: 40px;
	background: #c3d2e5 url(../../../media/system/images/notice-info.png) 4px center no-repeat;
}
#system-message ul li {
	margin-left: 0;
}
/* ----- SYSTEM ERROR MESSAGES ----- */
#system-message dd.error ul {
	background: #e6c0c0 url(../../../media/system/images/notice-alert.png) 4px center no-repeat;
}
/* ----- SYSTEM NOTICE MESSAGES ----- */
#system-message dd.notice ul {
	color: #cc0000;
	border-top: 3px solid #f0dc7e;
	border-bottom: 3px solid #f0dc7e;
	background: #efe7b8 url(../../../media/system/images/notice-note.png) 4px center no-repeat;
}
/* =============== JOOMLA! EXTENSIONS - MOD_BREADCRUMB =============== */
span.breadcrumbs {
	display: block;
	font-size: 0.9em;
}
span.breadcrumbs a,
span.breadcrumbs span {
	color: #999;
	padding-right: 18px;
	text-decoration: none;
	background: url(../images/icons/icon-arrow-black.png) right center no-repeat;
	font-weight:bold;
}
span.breadcrumbs a:hover {
	text-decoration: underline;
}
span.breadcrumbs span.current {
	background: none;
}
.breadcrumb {
	padding: 0;
	margin: 0;
	list-style: none;
	background: none;
}
.breadcrumb li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-shadow: 0 1px 0 #fff;
	margin: 0;
}
.breadcrumb li a,
.breadcrumb li span {
	color: #404040;
}
.breadcrumb li a,
.breadcrumb li span + span {
	display: inline-block;
}
.breadcrumb li span + span {
	font-weight: bold;
}
.breadcrumb a {
	padding: 0 20px 0 0;
	background: url("../images/icons/icon-arrow-black.png") no-repeat scroll right center;
}
.breadcrumb > li > .divider {
	padding: 0 !important;
}
.breadcrumb li.active:first-child span.divider {
	padding: 0 5px 0 0;
	background: none;
}
.breadcrumb .active {
	color: #999;
}
/* =============== JOOMLA! EXTENSIONS - MOD_LOGIN =============== */
#form-login fieldset.input {
	border: none;
	padding: 0;
}
#form-login div.button-wrapper {
	text-align: center;
	margin-top: 0.5em;
}
#form-login [id^="form-login-"] {
	margin: 0 0 6px 0;
}
form#login-form a.btn {
	min-height: 15px;
}
form#login-form .icon-arrow-right {
	background-position: -458px -73px;
}
/* =============== JOOMLA! EXTENSIONS - MOD_SEARCH =============== */
#jsn-pos-top div.search input#mod-search-searchword {
	padding: 4px 0 4px 5px;
	background: #FFF url(../images/icons/icons-base.png) 98% -167px no-repeat;
	border: 1px solid #ccc;
	width: 410px;
	margin: 0 10px 0 0;
}
/* =============== JOOMLA! EXTENSIONS - MOD_NEWSFLASH =============== */
.jsn-mod-newsflash.jsn-horizontal-container .jsn-article {
	padding: 0 1em;
}
.jsn-mod-newsflash .contentheading {
	margin: 0 0 0.3em 0;
}
.jsn-mod-newsflash .article-separator {
	display: block;
    height: 0.5em;
}
/* ============================== JOOMLA! 3.x CORE COMPONENT LAYOUT ============================== */
.img-fulltext-left {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.img-intro-left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.img-fulltext-right {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}
.img-intro-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
.pull-right.collapsed .icon-minus,
.pull-right .icon-plus {
	display: none;
}
.pull-right .icon-minus,
.pull-right.collapsed .icon-plus {
	display: block;
}
/* ---------- OVERRIDE ----------- */
.jsn-joomla-30 blockquote {
	border-left: none;
}
.jsn-joomla-30 hr {
	margin: 0.5em 0;
}
.jsn-joomla-30 .form-horizontal .control-label {
	text-align: left;
}
.jsn-joomla-30 .calendar tbody td,
.jsn-joomla-30 .calendar tbody td.hilite,
.jsn-joomla-30 .calendar tbody td.selected {
    border: none;
    padding: 5px;
	text-align: center;
}
.jsn-joomla-30 .input-append .btn {
	padding: 7px 14px 6px;
	outline: none;
}
.jsn-joomla-30 label,
.jsn-joomla-30 input,
.jsn-joomla-30 button,
.jsn-joomla-30 select,
.jsn-joomla-30 textarea,
.jsn-joomla-30 .btn,
.jsn-joomla-30 .uneditable-input {
	font-size: 13px;
}
.jsn-joomla-30 .icon-location {
    background-position: -24px -73px;
}
.jsn-joomla-30 div.tooltip {
	background: none;
	border: none;
}
.jsn-joomla-30 #form-login-remember .control-label,
.jsn-joomla-30 #modlgn-remember {
	vertical-align: middle;
}
.jsn-joomla-30 .dropdown-menu li,
.jsn-joomla-30 .category li {
	margin: 0;
}
.jsn-joomla-30 .page-header {
    border-bottom: none;
	margin: 0;
}
.jsn-joomla-30 .page-header h2 {
	margin-top: 0;
	line-height: 100%;
}
.jsn-joomla-30 #searchForm button.btn {
	padding: 7px 15px;
}
.jsn-joomla-30 .btn-group > .dropdown-toggle {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
/**CUSTOM CSS**/
h2.contentheading {
	text-transform: uppercase;
	font-size: 2em;
}
.light {
	background: #ddd;
	margin-top: -6px;
	height: 1px;
}
.jsn-demo-content {
	margin: 20px -10px 0 -10px;
}
.jsn-demo-content .jsn-template-featured {
	position: relative;
}
.jsn-demo-content .jsn-template-featured .hide {
	position: absolute;
	background: rgba(0,0,0,0.5);
	background: #ccc\9;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity:0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	visibility:hidden;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	display: block;
}
.jsn-demo-content .jsn-template-featured:hover .hide{
	opacity:1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	visibility:visible;
}
.jsn-demo-content .jsn-template-featured h4.title {
	color: #fff;
}
.jsn-demo-content .jsn-template-featured h5.price {
	color: #ff0000;
}
.jsn-demo-content .jsn-template-featured h4.title,
.jsn-demo-content .jsn-template-featured h5.price {
	background: rgba(0,0,0,0.8);
	background: #333\9;
	display: inline-block;
	padding: 10px 20px;
	font-size: 1.5em;
	line-height: 100%;
}
div.grid-layout.jsn-demo-content div.grid-col div.grid-col_inner {
	margin:0 10px 10px 10px;
}
.jsn-demo-content .jsn-template-featured a.link-button {
	position: absolute;
	bottom: 20px;
	display: block;
	left: 50%;
	margin-left: -45px;
}
ul.social li {
	float: left;
	margin: 0 5px 0 0;
	list-style: none;
}
ul.social li a {
	background: url("../images/icons/social.jpg");
	width: 45px;
	height: 45px;
	display: block;
	text-indent: -9999px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
ul.social li a.fb { background-position: 0 0}
ul.social li a.tw {background-position: -50px 0}
ul.social li a.gg{background-position: -100px 0}
ul.social li a.yt{background-position: -150px 0}
ul.social li a.pt {background-position: -200px 0}
ul.social li a.fb:hover { background-position: 0 -50px}
ul.social li a.tw:hover {background-position: -50px -50px}
ul.social li a.gg:hover {background-position: -100px -50px}
ul.social li a.yt:hover {background-position: -150px -50px}
ul.social li a.pt:hover {background-position: -200px -50px}
/**Fix Joomla3.0**/
.jsn-joomla-30 .page-header {
	padding: 0;
}
.jsn-joomla-30 .page-header h2 {
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 2em;
}
.jsn-joomla-30 .demo-sale img {
	max-width: inherit;
}
@media only screen and (max-width: 960px),
(max-device-width: 960px) {
	.jsn-demo-content .jsn-template-featured .hide {
		height: 50%;
		top: 50%;
		opacity:1;
		filter: alpha(opacity=100);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		visibility:visible;
		background: none;
	}
	.jsn-demo-content .jsn-template-featured img {
		width: 100%;
	}
	div.grid-layout.jsn-demo-content div.grid-col div.grid-col_inner {
		margin-bottom: 20px;
	}
	.jsn-demo-content .jsn-template-featured h4.title,
	.jsn-demo-content .jsn-template-featured h5.price  {
		margin:10px 0;
		font-size: 1.3em;
		display: inline-block;
		padding: 5px 10px;
	}
	.jsn-demo-content .jsn-template-featured a.link-button {
		position: static;
		display: inline-block;
		margin: 0;
	}
}
@media only screen and (max-width: 480px), (max-device-width: 480px) {
	.jsn-demo-content .jsn-template-featured .hide {
		top: 80%;
	}
}
@media only screen and (min-width: 481px) and (max-width: 768px), (min-device-width: 481px) and (max-device-width: 768px) and (orientation:landscape) {
	.jsn-demo-content .jsn-template-featured .hide {
		top: 41%;
	}
}