/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ============================== MIJO SHOP SUPPORTING STYLE ============================== */
@import url(../ext/mijo_shop/jsn_ext_mijo_shop.css);
/* ============================== DEFAULT HTML ============================== */
/* =============== DEFAULT HTML - HEADING STYLES =============== */
h2 {
	line-height: inherit;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - GENERAL LAYOUT =============== */
#jsn-page {
	transition: width 0.3s ease-in-out;
	-moz-transition: width 0.3s ease-in-out;
	-webkit-transition: width 0.3s ease-in-out;
}
body.jsn-desktop-on-mobile #jsn-page {
	overflow: hidden;
}
div.jsn-modulecontainer:first-child,
div.jsn-horizontallayout div.jsn-modulecontainer {
	margin-top: 0;
}
div#jsn-pos-breadcrumbs.display-mobile,
div.jsn-modulecontainer.display-mobile,
div#jsn-pos-breadcrumbs.display-tablet,
div.jsn-modulecontainer.display-tablet,
div#jsn-pos-breadcrumbs.display-smartphone,
div.jsn-modulecontainer.display-smartphone {
	display: none;
}
div#jsn-pos-breadcrumbs.display-desktop,
div.jsn-modulecontainer.display-desktop {
	display: block;
}
div.jsn-modulescontainer div.jsn-modulecontainer_inner {
	margin:10px;
}
#jsn-pos-user-top .jsn-modulecontainer div.jsn-modulecontainer_inner,
#jsn-pos-user-bottom .jsn-modulecontainer div.jsn-modulecontainer_inner {
	margin: 10px 0 10px 10px;
}
#jsn-pos-user-top .jsn-modulecontainer:first-child div.jsn-modulecontainer_inner,
#jsn-pos-user-bottom .jsn-modulecontainer:first-child div.jsn-modulecontainer_inner {
	margin-left:0;
}
div#jsn-pos-content-bottom,
div#jsn-usermodules3 {
	padding:0;
}
div#jsn-pos-content-bottom div.jsn-modulecontainer div.jsn-modulecontainer_inner h3.jsn-moduletitle,
div#jsn-usermodules3 div.jsn-modulecontainer div.jsn-modulecontainer_inner h3.jsn-moduletitle {
	text-shadow:none;
}
/* =============== LAYOUT - OVERALL PAGE =============== */
#jsn-page {
	position: relative;
	z-index: 9;
}
body.jsn-desktop-on-mobile #jsn-page {
	width: 96%;
}
/* =============== LAYOUT - HEADER AREA =============== */
#jsn-logo #jsn-logo-mobile {
	display: none;
}
#jsn-logo .jsn-topheading {
	display: none;
}
/* =============== LAYOUT - MENU AREA =============== */
#jsn-menu {
	padding-right: 46px;
}
#jsn-menu div.jsn-modulecontainer {
	float: left;
	margin:0;
}
/* =============== MENU SUFFIX =============== */
#jsn-menu #jsn-pos-toolbar div.jsn-modulecontainer {
	float: left;
	margin: 0;
}
#jsn-pos-toolbar form {
	margin: 10px 0 0 0;
}
#jsn-pos-toolbar form .inputbox {
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
}
#jsn-menu div.display-inline.jsn-modulecontainer {
	margin: 0;
}
#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontent {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	top: 46px;
	right: 0;
	z-index: 200;
	padding: 10px;
	min-width: 200px;
}
#jsn-menu #jsn-pos-mainmenu div.display-dropdown.jsn-modulecontainer .jsn-modulecontent {
	left: 0;
}
#jsn-menu .jsn-modulecontainer.display-dropdown .jsn-modulecontainer_inner {
	position: relative;
	margin: 0;
}
#jsn-menu .jsn-modulecontainer[class*="display-"] .jsn-modulecontainer_inner h3.jsn-moduletitle {
	color: #fff;
	text-shadow: none;
	padding: 0;
}
#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontainer_inner h3.jsn-moduletitle > span {
	padding:15px;
	text-transform: uppercase;
}
#jsn-menu .jsn-modulecontainer.display-dropdown .jsn-modulecontainer_inner:hover h3.jsn-moduletitle,
#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontent a {
	color: #fff;
}
#jsn-menu .jsn-modulecontainer.display-dropdown .jsn-modulecontainer_inner:hover .jsn-modulecontent {
	visibility: visible;
}
#jsn-menu div.display-dropdown.menu-richmenu.jsn-modulecontainer .jsn-modulecontent {
	top: 55px;
}
#jsn-menu div.display-dropdown.menu-richmenu.jsn-modulecontainer .jsn-modulecontainer_inner h3.jsn-moduletitle > span {
	padding: 10px 15px 28px;
}
/* =============== LAYOUT - CONTENT AREA =============== */
#jsn-pos-innerleft div.jsn-modulecontainer {
	margin: 0 20px 10px 0;
}
#jsn-pos-innerright div.jsn-modulecontainer {
	margin: 0 0 10px 20px;
}
.jsn-joomla-30 #jsn-pos-breadcrumbs {
	padding: 5px 15px;
}
#jsn-pos-breadcrumbs,
#jsn-pos-user-top,
#jsn-usermodules1,
#jsn-pos-mainbody-top {
	padding: 10px 0;
}
#jsn-pos-user-bottom,
#jsn-pos-banner,
#jsn-usermodules2,
#jsn-pos-mainbody-bottom {
	padding: 10px 0 0 0;
}
#jsn-gotoplink {
	color: #999;
	z-index: 999;
	padding: 8px 12px;
	display: block;
	background-color: #fff;
	position: fixed;
	left: 50%;
	bottom: 0;
}
#jsn-gotoplink:hover {
	background-color: #F2f2f2;
	text-decoration: none;
	color: #000;
}
#jsn-gotoplink a span {
	font-size: 12px;
	padding-left: 16px;
	background: url(../images/icons/icons-base.png) -1px -258px no-repeat;
}
a#jsn-gotoplink {
	margin: 0;
	right: 50px;
	left: auto;
	bottom: 50px;
}
/* =============== BACKGROUND POSITION =============== */
#jsn-pos-background {
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    top: 0;
	text-align: center;
    width: 100%;
    z-index: -100;
}
#jsn-pos-background p {
	margin: 0;
}
#jsn-pos-background img {
	width: 100%;
}
/* =============== LAYOUT - FOOTER AREA =============== */
#jsn-footer {
	margin: 10px -20px 0 -20px;;
}
/* ============================== TYPOGRAPHY ============================== */
/* =============== TYPOGRAPHY - TEXT STYLES =============== */
.text-alert {
	border: 1px solid #FEABAB;
	background: #FFDFDF url(../images/icons/icon-text-alert.png) no-repeat;
}
.text-info {
	border: 1px solid #B7D2F2;
	background: #DBE7F8 url(../images/icons/icon-text-info.png) no-repeat;
}
.text-download {
	border: 1px solid #DDEDBC;
	background: #F2F9E5 url(../images/icons/icon-text-download.png) no-repeat;
}
.text-comment {
	border: 1px solid #FEEBAB;
	background: #FEF8E1 url(../images/icons/icon-text-comment.png) no-repeat;
}
.text-tip {
	border: 1px solid #FEEBAB;
	background: #FFFFD5 url(../images/icons/icon-text-tip.png) no-repeat;
}
.text-attachment {
	border: 1px solid #e5e5e5;
	background: #f2f2f2 url(../images/icons/icon-text-attachment.png) no-repeat;
}
.text-video {
	border: 1px solid #e5e5e5;
	background: #f2f2f2 url(../images/icons/icon-text-video.png) no-repeat;
}
.text-audio {
	border: 1px solid #e5e5e5;
	background: #f2f2f2 url(../images/icons/icon-text-audio.png) no-repeat;
}
.text-tip,
.text-info,
.text-alert,
.text-audio,
.text-video,
.text-comment,
.text-download,
.text-attachment {
	background-position: 18px center;
	padding: 0.8em 0.8em 0.8em 5em;
	min-height: 20px;
}
/* =============== TYPOGRAPHY - LINK STYLES =============== */
/* ----- BUTTON LINK ----- */
.link-button {
	cursor: pointer;
	font-size: 1.1em;
	padding: 10px 25px;
	display: inline-block;
	text-decoration: none;
}
.link-button:hover {
}
a.link-button:hover,
.link-button a:hover {
	text-decoration: none;
}
a.link-button,
.link-button a {
	font-weight: bold;
	color: #fff !important;
}
.link-button.button-light,
.link-button.button-light a {
	color: #333 !important;
}
.link-button .link-icon {
	margin: 3px 0;
	line-height: 16px;
}
.link-button.button-light{
	background:#eee;
}
.link-button.button-light:hover {
	background:#ccc;
}
.link-button.button-dark {
	background:#333;
}
.link-button.button-dark:hover {
	background:#111;
}
.link-button.button-green {
	background:#72cca7;
}
.link-button.button-green:hover {
	background:#569a7e;
}
.link-button.button-pink {
	background:#cc3872;
}
.link-button.button-pink:hover {
	background:#9a2a56;
}
.link-button.button-blue {
	background:#6ca8ff;
}
.link-button.button-blue:hover {
	background:#527fc1;
}
.link-button.button-red {
	background:#C71A1A;
}
.link-button.button-red:hover {
	background:#A51010;
}
/* ----- ICON LINK ----- */
.link-icon {
	display: inline-block;
	padding-left: 24px;
}
/* ----- EXTENDED LINK ----- */
.link-icon-ext {
	display: inline-block;
	padding-right: 24px;
	background: url(../images/icons/icons-ext.png) no-repeat right 0;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-aim,
.link-icon-ext.jsn-icon-ext-aim {
	background-position: right 0;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-archive,
.link-icon-ext.jsn-icon-ext-archive {
	background-position: right -86px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-mobile,
.link-icon-ext.jsn-icon-ext-mobile {
	background-position: right -172px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-css,
.link-icon-ext.jsn-icon-ext-css {
	background-position: right -258px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-application,
.link-icon-ext.jsn-icon-ext-application {
	background-position: right -344px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-doc,
.link-icon-ext.jsn-icon-ext-doc {
	background-position: right -430px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-feed,
.link-icon-ext.jsn-icon-ext-feed {
	background-position: right -516px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-movie,
.link-icon-ext.jsn-icon-ext-movie {
	background-position: right -602px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-flash,
.link-icon-ext.jsn-icon-ext-flash {
	background-position: right -688px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-calendar,
.link-icon-ext.jsn-icon-ext-calendar {
	background-position: right -774px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-mail,
.link-icon-ext.jsn-icon-ext-mail {
	background-position: right -860px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-quicktime,
.link-icon-ext.jsn-icon-ext-quicktime {
	background-position: right -946px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-msn,
.link-icon-ext.jsn-icon-ext-msn {
	background-position: right -1032px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-music,
.link-icon-ext.jsn-icon-ext-music {
	background-position: right -1118px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-pdf,
.link-icon-ext.jsn-icon-ext-pdf {
	background-position: right -1204px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-powerpoint,
.link-icon-ext.jsn-icon-ext-powerpoint {
	background-position: right -1290px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-skype,
.link-icon-ext.jsn-icon-ext-skype {
	background-position: right -1376px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-torrent,
.link-icon-ext.jsn-icon-ext-torrent {
	background-position: right -1462px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-font,
.link-icon-ext.jsn-icon-ext-font {
	background-position: right -1548px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-text,
.link-icon-ext.jsn-icon-ext-text {
	background-position: right -1634px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-vcard,
.link-icon-ext.jsn-icon-ext-vcard {
	background-position: right -1720px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-windowsmedia,
.link-icon-ext.jsn-icon-ext-windowsmedia {
	background-position: right -1806px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-xls,
.link-icon-ext.jsn-icon-ext-xls {
	background-position: right -1892px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-yahoo,
.link-icon-ext.jsn-icon-ext-yahoo {
	background-position: right -1978px;
}
/* ----- ACTION LINK ----- */
#jsn-promo .link-action,
div[class*="solid-"] .link-action {
	color: #FFF;
	border-bottom: 1px solid #FFF;
}
#jsn-promo .link-action:hover,
div[class*="solid-"] .link-action:hover {
	background-color: #FFF;
	border-bottom: none;
}
div[class*="solid-"] a,
div[class*="solid-"] .createdate,
div[class*="solid-"] .author,
div[class*="solid-"] .publishdate{
	color: #fff ;
}
/* =============== TYPOGRAPHY - TABLE STYLES =============== */
table.table-style {
	background: #ffffff;
	border-collapse: collapse;
	border-spacing: 0;
	color: #404040;
}
table.table-style caption {
	padding: 6px 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}
table.table-style td,
table.table-style th {
	padding: 10px;
	border-bottom: 1px solid #fff;
}
table.table-style th {
	text-align: left;
}
table.table-style .highlight {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
table.table-style thead th {
	font-size: 1.1em;
	border-top: 6px solid #fff;
	color: #ffffff;
	background: #484848;
	border-left: 1px solid #fff;
}
table.table-style thead th.highlight {
	border-top: none;
}
table.table-style tbody th,
table.table-style tbody td {
	vertical-align: top;
	text-align: left;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
table.table-style tbody .highlight {
	background-color: #999;
}
table.table-style tbody tr.odd {
	background: #f2f2f2;
}
table.table-style tbody tr.odd .highlight {
	background-color: #7E7E7E;
}
table.table-style tbody tr:hover th,
table.table-style tbody tr:hover td {
	background: #E4E4E4;
}
table.table-style tbody tr:hover .highlight {
	background: #737373;
}
table.table-style tfoot {
	border: 1px solid #fff;
}
table.table-style tfoot th,
table.table-style tfoot td {
	border: none;
	padding: 4px 10px;
	background-color: #d9d9d9;
}
table.table-style tfoot td {
	text-align: right;
}
/* ----- COLOR HEADER TABLE ----- */
table.style-colorheader thead th.highlight {
	background-color: #484848;
}
/* ----- COLOR STRIPES TABLE ----- */
table.style-colorstripes {
	color: #fff;
}
table.style-colorstripes thead,
table.style-colorstripes tfoot {
	border: 1px solid #fff;
}
table.style-colorstripes tbody .highlight {
	color: #333;
	border-bottom: none;
	border-top: 1px solid #fff;
}
/* ----- YELLOW STRIPES TABLE ----- */
table.style-yellowstripes thead th {
	background: #404040;
	border-right: 1px groove #999999;
}
/* =============== TYPOGRAPHY - LIST STYLES =============== */
/* ----- ICON LIST ----- */
ul.list-icon {
	list-style-type: none;
}
ul.list-icon li {
	margin: 5px 0;
	position: relative;
	padding-left: 24px;
}
ul.list-icon li .jsn-listbullet {
	top: 0;
	left: 0;
	width: 17px;
	height: 16px;
	position: absolute;
}
/* ----- BULLET NUMBER LIST ----- */
ul.list-number-bullet {
	list-style: none;
}
ul.list-number-bullet li {
	margin-left: 0;
	position: relative;
	padding: 10px 0 10px 40px;
}
ul.list-number-bullet li .jsn-listbullet {
	color: #fff;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	margin: 0;
	left: 0;
	top: 3px;
	width: 32px;
	display: block;
	font-weight: bold;
	position: absolute;
}
ul.list-number-bullet.bullet-blue li .jsn-listbullet {
	background-color: #6ca8ff;
}
ul.list-number-bullet.bullet-green li .jsn-listbullet {
	background-color: #72cca7;
}
ul.list-number-bullet.bullet-yellow li .jsn-listbullet {
	background-color: #ffe300;
}
ul.list-number-bullet.bullet-pink li .jsn-listbullet {
	background-color: #cc3872;
}
ul.list-number-bullet.bullet-red li .jsn-listbullet {
	background-color: #ff0000;
}
ul.list-number-bullet.bullet-brown li .jsn-listbullet {
	background-color: #5a311f;
}
/* ----- DIGIT NUMBER LIST ----- */
ul.list-number-digit {
	list-style: none;
}
ul.list-number-digit li {
	margin-left: 0;
	position: relative;
	padding: 8px 0 8px 42px;
}
ul.list-number-digit li .jsn-listbullet {
	top: 0;
	left: 0;
	width: 32px;
	display: block;
	font-size: 32px;
	line-height: 100%;
	text-align: right;
	font-weight: bold;
	position: absolute;
}
ul.list-number-digit.digit-blue li .jsn-listbullet {
	color: #6ca8ff;
}
ul.list-number-digit.digit-green li .jsn-listbullet {
	color: #72cca7;
}
ul.list-number-digit.digit-yellow li .jsn-listbullet {
	color: #ffe300;
}
ul.list-number-digit.digit-pink li .jsn-listbullet {
	color: #cc3872;
}
ul.list-number-digit.digit-red li .jsn-listbullet {
	color: #ff0000;
}
ul.list-number-digit.digit-brown li .jsn-listbullet {
	color: #5a311f;
}
/* ----- HORIZONTAL LIST ----- */
ul.list-horizontal {
	margin: 0;
	list-style: none;
}
ul.list-horizontal li {
	display: inline;
	margin: 0 .5em;
}
/* ----- NOBULLET LIST ----- */
ul.list-nobullet {
	margin: 0;
	list-style: none;
}
ul.list-nobullet li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
/* ============================== MENU ============================== */
/* =============== MENU - GENERAL =============== */
/* ----- RICH MENU STYLE ----- */
.jsn-menudescription {
	font-style: italic;
	opacity: 0.7;
	filter: alpha(opacity=70);
	text-transform: none;
}
/* ----- ICONS MENU STYLE ----- */
.menu-iconmenu li[class*="icon-"] > a > span,
.menu-iconmenu li[class*="jsn-icon-"] > a > span {
	padding-left: 24px;
}
.jsn-menu-toggle {
	display: none;
}
/* =============== MENU - MAIN MENU =============== */
ul.menu-mainmenu.menu-iconmenu.menu-richmenu > li > a > span {
	min-height: 35px;
}
ul.menu-mainmenu.jsn-desktop-on-mobile ul {
	display: none;
}
ul.menu-mainmenu.jsn-desktop-on-mobile li:hover > ul {
	display: block;
}
/* ----- 1st LEVEL ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul {
	left: auto;
}
div.jsn-modulecontainer ul.menu-mainmenu ul li a {
	padding: 15px 20px;
}
div.jsn-modulecontainer ul.menu-mainmenu ul {
	left: auto;
}
#jsn-menu {
	transition: padding all 0.3s ease 0s;
	-moz-transition: padding all 0.3s ease 0s;
	-webkit-transition: padding all 0.3s ease 0s;
}
#jsn-menu.jsn-menu-sticky {
	position: fixed;
	top: 0;
	width: 960px;
	margin-left: -20px;
	padding-right: 40px;
}
body.jsn-desktop-on-mobile #jsn-menu.jsn-menu-sticky {
	width: 940px;
}
/* ========= MENU - FLIPBACK ========= */
div.jsn-modulecontainer ul.menu-mainmenu li.jsn-submenu-flipback > ul {
	right: 0;
}
div.jsn-modulecontainer ul.menu-mainmenu li.jsn-submenu-flipback a {
	text-align: right;
}
div.jsn-modulecontainer ul.menu-mainmenu li.jsn-submenu-flipback ul li.parent > a {
    background-image: url("../images/icons/icon-arrow-white-rtl.png");
    background-position: 5% center;
}
div.jsn-modulecontainer ul.menu-mainmenu li.jsn-submenu-flipback ul ul {
    right: 199px;
    margin-left: 0;
}
/* =============== MENU - TREE MENU =============== */
div.solid-1 ul.menu-sidemenu > li {
	border-top:1px solid #444;
	border-bottom:1px solid #222;
}
/* ----- ICON MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-treemenu.menu-iconmenu > li > a {
	padding: 8px 10px;
}
div.jsn-modulecontainer ul.menu-treemenu.menu-iconmenu ul li {
}
/* ----- RICH MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-treemenu li a span.jsn-menudescription {
	display: none;
}
div.jsn-modulecontainer ul.menu-treemenu.menu-richmenu li a span.jsn-menudescription {
	display: block;
}
/* ---------- NORMAL STATE ---------- */
div.jsn-modulecontainer ul.menu-treemenu ul li {
	margin: 0;
}
div.solid-1 ul.menu-treemenu li a:hover,
div.solid-1 ul.menu-treemenu li a.current,
div.solid-1 ul.menu-sidemenu > li:hover > a,
div.solid-1 ul.menu-sidemenu > li.active > a {
	background-color: #444;
}
/* =============== MENU - SIDE MENU =============== */
/* ----- GENERAL ----- */
div.jsn-modulecontainer ul.menu-sidemenu,
div.jsn-modulecontainer ul.menu-sidemenu ul {
	padding: 0;
	list-style-type: none;
}
div.jsn-modulecontainer ul.menu-sidemenu li {
	margin: 0;
	padding: 0;
	position: relative;
}
div.jsn-modulecontainer ul.menu-sidemenu li ul {
	position: absolute;
	top: -1px;
	margin:0;
}
.jsn-modulecontainer ul.menu-sidemenu > li {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #ccc;
}
div.jsn-modulecontainer ul.menu-sidemenu > li.last {
	border-bottom: none;
}
div.jsn-modulecontainer ul.menu-sidemenu li a {
	padding: 11px 10px;
	display: block;
	color: #666;
	cursor: pointer;
	text-decoration: none;
}
div[class*="solid-"] ul.menu-sidemenu li a {
	color: #fff;
}
ul.menu-sidemenu li a span {
	display: block;
}
div.jsn-modulecontainer ul.menu-sidemenu > li.parent > a {
	padding-right: 16px;
	background: url(../images/icons/icon-arrow-black.png) 98% center no-repeat;
}
div[class*="solid-"] ul.menu-sidemenu > li.parent > a {
	padding-right: 16px;
	background: url(../images/icons/icon-arrow-white.png) 98% center no-repeat;
}
ul.menu-sidemenu li > a > span {
	display: block;
}
ul.menu-sidemenu > li > a > span {
	padding-left: 24px;
	background: url(../images/icons/icons-base.png) left -341px no-repeat;
}
div.jsn-modulecontainer ul.menu-sidemenu ul {
	visibility: hidden;
	visibility: visible\9;
	display: none\9;
}
div.jsn-modulecontainer ul.menu-sidemenu li:hover > ul {
	visibility: visible;
	display: block\9;
}
/* ----- ICON MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-sidemenu > li > a > span,
div.jsn-modulecontainer ul.menu-sidemenu.menu-iconmenu > li > a > span {
	line-height: 16px;
}
/* ----- RICH MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-sidemenu li a span.jsn-menudescription {
	display: none;
}
div.jsn-modulecontainer ul.menu-sidemenu.menu-richmenu li a span.jsn-menudescription {
	display: block;
}
/* ---------- 1st LEVEL ---------- */
div.jsn-modulecontainer ul.menu-sidemenu ul {
	top: 0;
	position: absolute;
}
div.jsn-modulecontainer ul.menu-sidemenu ul li a {
	color: #FFF;
	font-size: 1em;
	padding: 10px;
}
div.jsn-modulecontainer ul.menu-sidemenu ul li.parent > a {
	padding-right: 16px;
	background: url(../images/icons/icon-arrow-white.png) 98% center no-repeat;
}
div.jsn-modulecontainer ul.menu-sidemenu ul ul {
	top: 0;
}
/* ----- PARENT ITEMS / ADD ARROW TO ITEMS HAVE SUBLEVEL ----- */
/* 1st LEVEL */
/* 1st LEVEL - CUSTOM MODULE */
div[class*="richbox-"] ul.menu-sidemenu > li.parent > a {
	background: url(../images/icons/icon-arrow-black.png) 98% center no-repeat;
}
/* ----- HOVER STATE ----- */
/* ----- HOVER STATE IN SPECIFIC MODULE BOXES ----- */
div[class*="solid-"] ul.menu-sidemenu > li:hover > a,
div[class*="solid-"] ul.menu-sidemenu > li.sfhover > a {
	color: #FFF;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-sidemenu li.active > a {
	font-weight: bold;
}
div.jsn-modulecontainer ul.menu-sidemenu > li.active > a {
	color: #000;
}
/* ----- ACTIVE STATE IN SPECIFIC MODULE BOXES ----- */
div[class*="solid-"] ul.menu-sidemenu > li.active > a {
	color: #FFF;
}
/* ----- ROLLOVER STATE / DISPLAY SUB-MENU OF SELECTED MENU ITEM ----- */
div.jsn-modulecontainer ul.menu-sidemenu li:hover > ul {
	left: auto;
}
/* =============== MENU - TOP MENU =============== */
ul.menu-topmenu {
	margin:6px 0 0 0;
	padding: 0;
	list-style: none;
}
ul.menu-topmenu li {
	margin: 0;
	float: left;
	padding-bottom:0;
}
ul.menu-topmenu li a {
	padding: 5px 10px;
	display: block;
	font-size: 95%;
}
ul.menu-topmenu li a:hover {
	text-decoration:none;
}
ul.menu-topmenu li a span {
	display: block;
}
/* ----- ICON MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-topmenu.menu-iconmenu > li > a {
	line-height: 16px;
}
/* ============================== MOBILE SWITCH ============================== */
#jsn-mobileswitch {
	display: none;
	padding: 14px 15px;
	float: right;
}
#jsn-mobileswitch a {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	background: url("../images/icons/icons-mobile.png") -16px 0 no-repeat;
}
#jsn-desktopswitch {
	display: none;
	padding: 14px 15px;
	float: right;
}
#jsn-desktopswitch a {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	background: url("../images/icons/icons-mobile.png") -32px 0 no-repeat;
}
@media only screen and (max-device-width: 960px) {
	body.jsn-mobile #jsn-desktopswitch {
		display: block;
	}
	body.jsn-desktop #jsn-mobileswitch {
		display: block;
	}
	body.jsn-desktop-on-mobile {
		-webkit-text-size-adjust: none;
	}
}
/* ============================== SITE TOOLS ============================== */
/* =============== SITE TOOLS - GENERAL PRESENTATION =============== */
#jsn-sitetoolspanel {
	float: right;
}
/* ----- DROP DOWN ----- */
ul#jsn-sitetools-menu,
ul#jsn-sitetools-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul#jsn-sitetools-menu li {
	padding: 0;
	margin: 0;
	background: url(../images/icons/icons-uni-white.png) center -1356px no-repeat;
	background-color: #222;
}
ul#jsn-sitetools-menu > li {
	position: absolute;
	right: 0;
	height: 100%;
}
ul#jsn-sitetools-menu li a {
	margin: 0;
	padding: 0;
	width: 46px;
	height: 100%;
	display: block;
}
ul#jsn-sitetools-menu li ul {
	z-index: 90;
	right: 0;
	position: absolute;
	visibility: hidden;
	visibility: visible\9;
	display: none\9;
	background: #222;
	width: 280px;
}
ul#jsn-sitetools-menu li:hover ul {
	visibility: visible;
	display: block\9;
}
ul#jsn-sitetools-menu.sitetool-desktop-on-mobile li ul {
	display: none;
}
ul#jsn-sitetools-menu.sitetool-desktop-on-mobile li:hover ul {
	display: block;
}
ul#jsn-sitetools-menu ul li {
	padding: 5px;
	background: none;
}
ul#jsn-sitetools-menu ul li a {
	float: left;
	width: 35px;
	height: 35px;
	display: inline-block;
	margin: 5px;
}
/* ----- INLINE ROW ----- */
ul#jsn-sitetools-inline {
	margin: 0;
	float: left;
	list-style: none;
	margin: 17px -35px 15px 0;
}
#jsn-menu.jsn-menu-sticky ul#jsn-sitetools-inline {
	margin: 17px -30px 15px 0;
}
ul#jsn-sitetools-inline ul {
	float:left;
	margin:0;
}
ul#jsn-sitetools-inline li {
	padding: 0;
	margin: 0;
	list-style:none;
}
ul#jsn-sitetools-inline li.jsn-selector-size {
	margin-bottom: 5px !important;
}
ul#jsn-sitetools-inline li a {
	float: left;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 0 0 0 10px;
}
/* =============== SITE TOOLS - TEXT SIZER =============== */
li.jsn-selector-size {
	margin: 0 0 -10px 0 !important;
}
#jsn-selector-small,
#jsn-selector-medium,
#jsn-selector-big,
#jsn-selector-small.current,
#jsn-selector-small:hover,
#jsn-selector-medium.current,
#jsn-selector-medium:hover,
#jsn-selector-big.current,
#jsn-selector-big:hover {
	background-image: url(../images/icons/icons-sitetools-text.png);
	background-repeat: no-repeat;
}
#jsn-selector-small {
	background-position: 0 0;
}
#jsn-selector-medium {
	background-position: -45px 0;
}
#jsn-selector-big {
	background-position: -90px 0;
}
#jsn-selector-small.current,
#jsn-selector-small:hover {
	background-position: 0 -45px;
}
#jsn-selector-medium.current,
#jsn-selector-medium:hover {
	background-position: -45px -45px;
}
#jsn-selector-big.current,
#jsn-selector-big:hover {
	background-position: -90px -45px;
}
/* =============== SITE TOOLS - WIDTH SELECTOR =============== */
#jsn-selector-narrow,
#jsn-selector-wide,
#jsn-selector-float,
#jsn-selector-narrow.current,
#jsn-selector-narrow:hover,
#jsn-selector-wide.current,
#jsn-selector-wide:hover,
#jsn-selector-float.current,
#jsn-selector-float:hover {
	background-image: url(../images/icons/icons-sitetools-width.png);
	background-repeat: no-repeat;
}
#jsn-selector-narrow {
	background-position: 0 0;
}
#jsn-selector-wide {
	background-position: -45px 0;
}
#jsn-selector-float {
	background-position: -90px 0;
}
#jsn-selector-narrow.current,
#jsn-selector-narrow:hover {
	background-position: 0 -45px;
}
#jsn-selector-wide.current,
#jsn-selector-wide:hover {
	background-position: -45px -45px;
}
#jsn-selector-float.current,
#jsn-selector-float:hover {
	background-position: -90px -45px;
}
/* =============== SITE TOOLS - COLOR SELECTOR =============== */
#jsn-selector-blue,
#jsn-selector-red,
#jsn-selector-green,
#jsn-selector-brown,
#jsn-selector-pink,
#jsn-selector-yellow,
#jsn-selector-blue.current,
#jsn-selector-blue:hover,
#jsn-selector-red.current,
#jsn-selector-red:hover,
#jsn-selector-green.current,
#jsn-selector-green:hover,
#jsn-selector-brown.current,
#jsn-selector-brown:hover,
#jsn-selector-pink.current,
#jsn-selector-pink:hover,
#jsn-selector-yellow.current,
#jsn-selector-yellow:hover {
	background-image: url(../images/icons/icons-sitetools-color.png);
	background-repeat: no-repeat;
}
#jsn-selector-blue {
	background-position: 0 0;
}
#jsn-selector-red {
	background-position: -45px 0;
}
#jsn-selector-pink {
	background-position: -90px 0;
}
#jsn-selector-green {
	background-position: 0 -45px;
}
#jsn-selector-brown {
	background-position: -45px -45px;
}
#jsn-selector-yellow {
	background-position: -90px -45px;
}
#jsn-selector-blue.current,
#jsn-selector-blue:hover {
	background-position: 0 -90px;
}
#jsn-selector-red.current,
#jsn-selector-red:hover {
	background-position: -45px -90px;
}
#jsn-selector-pink.current,
#jsn-selector-pink:hover {
	background-position: -90px -90px;
}
#jsn-selector-green.current,
#jsn-selector-green:hover {
	background-position: 0 -135px;
}
#jsn-selector-brown.current,
#jsn-selector-brown:hover {
	background-position: -45px -135px;
}
#jsn-selector-yellow.current,
#jsn-selector-yellow:hover {
	background-position: -90px -135px;
}
/**************Sitetoot inline***************/
#jsn-sitetools-inline #jsn-selector-small,
#jsn-sitetools-inline #jsn-selector-medium,
#jsn-sitetools-inline #jsn-selector-big,
#jsn-sitetools-inline #jsn-selector-small.current,
#jsn-sitetools-inline #jsn-selector-small:hover,
#jsn-sitetools-inline #jsn-selector-medium.current,
#jsn-sitetools-inline #jsn-selector-medium:hover,
#jsn-sitetools-inline #jsn-selector-big.current,
#jsn-sitetools-inline #jsn-selector-big:hover {
	background-image: url(../images/icons/icons-sitetools-inline-text.png);
	background-repeat: no-repeat;
}
#jsn-sitetools-inline #jsn-selector-small {
	background-position: 0 -25px;
}
#jsn-sitetools-inline #jsn-selector-medium {
	background-position: -25px -25px;
}
#jsn-sitetools-inline #jsn-selector-big {
	background-position: -50px -25px;
}
#jsn-sitetools-inline #jsn-selector-small.current,
#jsn-sitetools-inline #jsn-selector-small:hover {
	background-position: 0 0;
}
#jsn-sitetools-inline #jsn-selector-medium.current,
#jsn-sitetools-inline #jsn-selector-medium:hover {
	background-position:-25px 0;
}
#jsn-sitetools-inline #jsn-selector-big.current,
#jsn-sitetools-inline #jsn-selector-big:hover {
	background-position: -50px 0;
}
/**/
#jsn-sitetools-inline #jsn-selector-narrow,
#jsn-sitetools-inline #jsn-selector-wide,
#jsn-sitetools-inline #jsn-selector-float,
#jsn-sitetools-inline #jsn-selector-narrow.current,
#jsn-sitetools-inline #jsn-selector-narrow:hover,
#jsn-sitetools-inline #jsn-selector-wide.current,
#jsn-sitetools-inline #jsn-selector-wide:hover,
#jsn-sitetools-inline #jsn-selector-float.current,
#jsn-sitetools-inline #jsn-selector-float:hover {
	background-image: url(../images/icons/icons-sitetools-inline-width.png);
	background-repeat: no-repeat;
}
#jsn-sitetools-inline #jsn-selector-narrow {
	background-position: 0 -25px;
}
#jsn-sitetools-inline #jsn-selector-wide {
	background-position: -25px -25px;
}
#jsn-sitetools-inline #jsn-selector-float {
	background-position: -50px -25px;
}
#jsn-sitetools-inline #jsn-selector-narrow.current,
#jsn-sitetools-inline #jsn-selector-narrow:hover {
	background-position: 0 0;
}
#jsn-sitetools-inline #jsn-selector-wide.current,
#jsn-sitetools-inline #jsn-selector-wide:hover {
	background-position: -25px 0;
}
#jsn-sitetools-inline #jsn-selector-float.current,
#jsn-sitetools-inline #jsn-selector-float:hover {
	background-position: -50px 0;
}
/**/
#jsn-sitetools-inline #jsn-selector-blue,
#jsn-sitetools-inline #jsn-selector-red,
#jsn-sitetools-inline #jsn-selector-green,
#jsn-sitetools-inline #jsn-selector-brown,
#jsn-sitetools-inline #jsn-selector-pink,
#jsn-sitetools-inline #jsn-selector-yellow,
#jsn-sitetools-inline #jsn-selector-blue.current,
#jsn-sitetools-inline #jsn-selector-blue:hover,
#jsn-sitetools-inline #jsn-selector-red.current,
#jsn-sitetools-inline #jsn-selector-red:hover,
#jsn-sitetools-inline #jsn-selector-green.current,
#jsn-sitetools-inline #jsn-selector-green:hover,
#jsn-sitetools-inline #jsn-selector-brown.current,
#jsn-sitetools-inline #jsn-selector-brown:hover,
#jsn-sitetools-inline #jsn-selector-pink.current,
#jsn-sitetools-inline #jsn-selector-pink:hover,
#jsn-sitetools-inline #jsn-selector-yellow.current,
#jsn-sitetools-inline #jsn-selector-yellow:hover {
	background-image: url(../images/icons/icons-sitetools-inline-color.png);
	background-repeat: no-repeat;
}
#jsn-sitetools-inline #jsn-selector-blue {
	background-position: 0 0;
}
#jsn-sitetools-inline #jsn-selector-red {
	background-position: -25px 0;
}
#jsn-sitetools-inline #jsn-selector-pink {
	background-position: -50px 0;
}
#jsn-sitetools-inline #jsn-selector-green {
	background-position: -75px 0;
}
#jsn-sitetools-inline #jsn-selector-brown {
	background-position: -100px 0;
}
#jsn-sitetools-inline #jsn-selector-yellow {
	background-position: -125px -0;
}
#jsn-sitetools-inline #jsn-selector-blue.current,
#jsn-sitetools-inline #jsn-selector-blue:hover {
	background-position: 0 -25px;
}
#jsn-sitetools-inline #jsn-selector-red.current,
#jsn-sitetools-inline #jsn-selector-red:hover {
	background-position: -25px -25px;
}
#jsn-sitetools-inline #jsn-selector-pink.current,
#jsn-sitetools-inline #jsn-selector-pink:hover {
	background-position: -50px -25px;
}
#jsn-sitetools-inline #jsn-selector-green.current,
#jsn-sitetools-inline #jsn-selector-green:hover {
	background-position: -75px -25px;
}
#jsn-sitetools-inline #jsn-selector-brown.current,
#jsn-sitetools-inline #jsn-selector-brown:hover {
	background-position: -100px -25px;
}
#jsn-sitetools-inline #jsn-selector-yellow.current,
#jsn-sitetools-inline #jsn-selector-yellow:hover {
	background-position: -125px -25px;
}
/* ============================== MODULE STYLES ============================== */
div[class*=box-] h3.jsn-moduletitle,
div[class*=solid-] h3.jsn-moduletitle {
	padding: 10px;
	color: #fff;
}
div[class*=box-] div.jsn-modulecontent,
div[class*=solid-] div.jsn-modulecontent {
	padding:10px;
}
/* ----- MODULE BOX SOLID-1 ----- */
div.solid-1 h3.jsn-moduletitle {
	background:#444;
	border-bottom: 4px solid #222;
}
div.solid-1 div.jsn-modulecontent {
	color: #fff;
	background: #333;
}
/* ----- MODULE BOX LIGHTBOX-1 ----- */
div.lightbox-1 div.jsn-modulecontent,
div.lightbox-2 div.jsn-modulecontent {
	color: #333333;
	background: #F4f4f4;
}
div.lightbox-1 h3.jsn-moduletitle {
	background:#999;
	border-bottom: 4px solid #777;
}
/* ----- MODULE BOX LIGHTBOX-2 ----- */
div.lightbox-2 h3.jsn-moduletitle {
	color: #333;
	border-bottom: 4px #ddd solid;
	background: #FFF;
}
/* =============== MODULE STYLES - MODULE ICONS =============== */
div[class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
div[class*="jsn-icon-"] h3.jsn-moduletitle span.jsn-moduleicon {
	padding-left: 24px;
}
/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
div[class*="solid-"] .author,
div[class*="solid-"] .createdate,
div[class*="solid-"] .publishdate {
	padding-left: 22px;
	background-image: url(../images/icons/icons-base-2.png);
	background-repeat: no-repeat;
}
/* =============== JOOMLA! EXTENSIONS - MOD_SEARCH =============== */
#jsn-pos-top div.search input#mod-search-searchword {
	width: 420px;
	margin: 0;
	outline: none;
}
/* =============== JOOMLA! EXTENSIONS - MOD_STATISTICS =============== */
dl.stats-module dt {
	float: left;
	width: 65%;
}
dl.stats-module dd {
	margin: 0;
}
/* ============================== MISC ============================== */
/* =============== GENERAL ICON ASSIGNMENT =============== */
.jsn-joomla-25 div[class*="box-"] .menu-iconmenu [class*="icon-"] > a > span,
div[class*="box-"] .menu-iconmenu [class*="jsn-icon-"] > a > span,
.jsn-joomla-25 .link-icon[class*="icon-"],
.jsn-joomla-25 .list-icon[class*="icon-"] li .jsn-listbullet,
.link-icon[class*="jsn-icon-"],
.link-button.button-light .link-icon[class*="jsn-icon-"],
.lightbox-2[class*="jsn-icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
.jsn-joomla-25 .lightbox-2[class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
[class*="jsn-icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
.jsn-joomla-25 [class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
.list-icon[class*="jsn-icon-"] li .jsn-listbullet,
.jsn-joomla-25 .menu-topmenu.menu-iconmenu [class*="icon-"] > a > span,
.menu-topmenu.menu-iconmenu [class*="jsn-icon-"] > a > span,
.jsn-joomla-25 .menu-sidemenu.menu-iconmenu [class*="icon-"] > a > span,
.menu-sidemenu.menu-iconmenu [class*="jsn-icon-"] > a > span,
.jsn-joomla-25 .menu-treemenu.menu-iconmenu [class*="icon-"] > a > span,
.menu-sidemenu.menu-treemenu [class*="jsn-icon-"] > a > span {
	background-image: url(../images/icons/icons-uni.png);
	background-repeat: no-repeat;
}

.jsn-joomla-25 .menu-iconmenu [class*="icon-"] > a > span,
.menu-iconmenu [class*="jsn-icon-"] > a > span,
.link-button .link-icon[class*="jsn-icon-"],
div[class*="solid-"][class*="jsn-icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
.jsn-joomla-25 div[class*="solid-"][class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
div[class*="richbox-"][class*="jsn-icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
.jsn-joomla-25 div[class*="richbox-"][class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
div.lightbox-1[class*="jsn-icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
.jsn-joomla-25 div.lightbox-1[class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
#jsn-content-top [class*="jsn-icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
.jsn-joomla-25 div[class*="solid-"] .menu-sidemenu.menu-iconmenu [class*="icon-"] > a > span,
div[class*="solid-"] .menu-sidemenu.menu-iconmenu [class*="jsn-icon-"] > a > span,
.jsn-joomla-25 div[class*="solid-"] .menu-treemenu.menu-iconmenu [class*="icon-"] > a > span,
div[class*="solid-"] .menu-treemenu.menu-iconmenu [class*="jsn-icon-"] > a > span,
#jsn-topbar .menu-iconmenu [class*="jsn-icon-"] > a > span {
	background-image: url(../images/icons/icons-uni-white.png);
	background-repeat: no-repeat;
}
.jsn-joomla-25 .link-icon.icon-article,
.jsn-joomla-25 .menu-iconmenu .icon-article > a > span,
.jsn-joomla-25 .list-icon.icon-article li .jsn-listbullet,
.jsn-joomla-25 .icon-article h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-article,
.menu-iconmenu .jsn-icon-article > a > span,
.list-icon.jsn-icon-article li .jsn-listbullet,
.jsn-icon-article h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 1px;
}
.jsn-joomla-25 .link-icon.icon-calendar,
.jsn-joomla-25 .menu-iconmenu .icon-calendar > a > span,
.jsn-joomla-25 .list-icon.icon-calendar li .jsn-listbullet,
.jsn-joomla-25 .icon-calendar h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-calendar,
.menu-iconmenu .jsn-icon-calendar > a > span,
.list-icon.jsn-icon-calendar li .jsn-listbullet,
.jsn-icon-calendar h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -79px;
}
.jsn-joomla-25 .link-icon.icon-cart,
.jsn-joomla-25 .menu-iconmenu .icon-cart > a > span,
.jsn-joomla-25 .list-icon.icon-cart li .jsn-listbullet,
.jsn-joomla-25 .icon-cart h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-cart,
.menu-iconmenu .jsn-icon-cart > a > span,
.list-icon.jsn-icon-cart li .jsn-listbullet,
.jsn-icon-cart h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -166px;
}
.jsn-joomla-25 .link-icon.icon-comment,
.jsn-joomla-25 .menu-iconmenu .icon-comment > a > span,
.jsn-joomla-25 .list-icon.icon-comment li .jsn-listbullet,
.jsn-joomla-25 .icon-comment h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-comment,
.menu-iconmenu .jsn-icon-comment > a > span,
.list-icon.jsn-icon-comment li .jsn-listbullet,
.jsn-icon-comment h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -252px;
}
.jsn-joomla-25 .link-icon.icon-display,
.jsn-joomla-25 .menu-iconmenu .icon-display > a > span,
.jsn-joomla-25 .list-icon.icon-display li .jsn-listbullet,
.jsn-joomla-25 .icon-display h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-display,
.menu-iconmenu .jsn-icon-display > a > span,
.list-icon.jsn-icon-display li .jsn-listbullet,
.jsn-icon-display h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -338px;
}
.jsn-joomla-25 .link-icon.icon-download,
.jsn-joomla-25 .menu-iconmenu .icon-download > a > span,
.jsn-joomla-25 .list-icon.icon-download li .jsn-listbullet,
.jsn-joomla-25 .icon-download h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-download,
.menu-iconmenu .jsn-icon-download > a > span,
.list-icon.jsn-icon-download li .jsn-listbullet,
.jsn-icon-download h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -424px;
}
.jsn-joomla-25 .link-icon.icon-folder,
.jsn-joomla-25 .menu-iconmenu .icon-folder > a > span,
.jsn-joomla-25 .list-icon.icon-folder li .jsn-listbullet,
.jsn-joomla-25 .icon-folder h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-folder,
.menu-iconmenu .jsn-icon-folder > a > span,
.list-icon.jsn-icon-folder li .jsn-listbullet,
.jsn-icon-folder h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -511px;
}
.jsn-joomla-25 .link-icon.icon-help,
.jsn-joomla-25 .menu-iconmenu .icon-help > a > span,
.jsn-joomla-25 .list-icon.icon-help li .jsn-listbullet,
.jsn-joomla-25 .icon-help h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-help,
.menu-iconmenu .jsn-icon-help > a > span,
.list-icon.jsn-icon-help li .jsn-listbullet,
.jsn-icon-help h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -596px;
}
.jsn-joomla-25 .link-icon.icon-home,
.jsn-joomla-25 .menu-iconmenu .icon-home > a > span,
.jsn-joomla-25 .list-icon.icon-home li .jsn-listbullet,
.jsn-joomla-25 .icon-home h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-home,
.menu-iconmenu .jsn-icon-home > a > span,
.list-icon.jsn-icon-home li .jsn-listbullet,
.jsn-icon-home h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -682px;
}
.jsn-joomla-25 .link-icon.icon-image,
.jsn-joomla-25 .menu-iconmenu .icon-image > a > span,
.jsn-joomla-25 .list-icon.icon-image li .jsn-listbullet,
.jsn-joomla-25 .icon-image h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-image,
.menu-iconmenu .jsn-icon-image > a > span,
.list-icon.jsn-icon-image li .jsn-listbullet,
.jsn-icon-image h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -768px;
}
.jsn-joomla-25 .link-icon.icon-info,
.jsn-joomla-25 .menu-iconmenu .icon-info > a > span,
.jsn-joomla-25 .list-icon.icon-info li .jsn-listbullet,
.jsn-joomla-25 .icon-info h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-info,
.menu-iconmenu .jsn-icon-info > a > span,
.list-icon.jsn-icon-info li .jsn-listbullet,
.jsn-icon-info h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -854px;
}
.jsn-joomla-25 .link-icon.icon-mail,
.jsn-joomla-25 .menu-iconmenu .icon-mail > a > span,
.jsn-joomla-25 .list-icon.icon-mail li .jsn-listbullet,
.jsn-joomla-25 .icon-mail h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-mail,
.menu-iconmenu .jsn-icon-mail > a > span,
.list-icon.jsn-icon-mail li .jsn-listbullet,
.jsn-icon-mail h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -940px;
}
.jsn-joomla-25 .link-icon.icon-online,
.jsn-joomla-25 .menu-iconmenu .icon-online > a > span,
.jsn-joomla-25 .list-icon.icon-online li .jsn-listbullet,
.jsn-joomla-25 .icon-online h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-online,
.menu-iconmenu .jsn-icon-online > a > span,
.list-icon.jsn-icon-online li .jsn-listbullet,
.jsn-icon-online h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1026px;
}
.jsn-joomla-25 .link-icon.icon-rss,
.jsn-joomla-25 .menu-iconmenu .icon-rss > a > span,
.jsn-joomla-25 .list-icon.icon-rss li .jsn-listbullet,
.jsn-joomla-25 .icon-rss h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-rss,
.menu-iconmenu .jsn-icon-rss > a > span,
.list-icon.jsn-icon-rss li .jsn-listbullet,
.jsn-icon-rss h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1112px;
}
.jsn-joomla-25 .link-icon.icon-search,
.jsn-joomla-25 .menu-iconmenu .icon-search > a > span,
.jsn-joomla-25 .list-icon.icon-search li .jsn-listbullet,
.jsn-joomla-25 .icon-search h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-search,
.menu-iconmenu .jsn-icon-search > a > span,
.list-icon.jsn-icon-search li .jsn-listbullet,
.jsn-icon-search h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1199px;
}
.jsn-joomla-25 .link-icon.icon-selection,
.jsn-joomla-25 .menu-iconmenu .icon-selection > a > span,
.jsn-joomla-25 .list-icon.icon-selection li .jsn-listbullet,
.jsn-joomla-25 .icon-selection h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-selection,
.menu-iconmenu .jsn-icon-selection > a > span,
.list-icon.jsn-icon-selection li .jsn-listbullet,
.jsn-icon-selection h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1284px;
}
.jsn-joomla-25 .link-icon.icon-settings,
.jsn-joomla-25 .menu-iconmenu .icon-settings > a > span,
.jsn-joomla-25 .list-icon.icon-settings li .jsn-listbullet,
.jsn-joomla-25 .icon-settings h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-settings,
.menu-iconmenu .jsn-icon-settings > a > span,
.list-icon.jsn-icon-settings li .jsn-listbullet,
.jsn-icon-settings h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1370px;
}
.jsn-joomla-25 .link-icon.icon-star,
.jsn-joomla-25 .menu-iconmenu .icon-star > a > span,
.jsn-joomla-25 .list-icon.icon-star li .jsn-listbullet,
.jsn-joomla-25 .icon-star h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-star,
.menu-iconmenu .jsn-icon-star > a > span,
.list-icon.jsn-icon-star li .jsn-listbullet,
.jsn-icon-star h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1456px;
}
.jsn-joomla-25 .link-icon.icon-statistics,
.jsn-joomla-25 .menu-iconmenu .icon-statistics > a > span,
.jsn-joomla-25 .list-icon.icon-statistics li .jsn-listbullet,
.jsn-joomla-25 .icon-statistics h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-statistics,
.menu-iconmenu .jsn-icon-statistics > a > span,
.list-icon.jsn-icon-statistics li .jsn-listbullet,
.jsn-icon-statistics h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1542px;
}
.jsn-joomla-25 .link-icon.icon-user,
.jsn-joomla-25 .menu-iconmenu .icon-user > a > span,
.jsn-joomla-25 .list-icon.icon-user li .jsn-listbullet,
.jsn-joomla-25 .icon-user h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-user,
.menu-iconmenu .jsn-icon-user > a > span,
.list-icon.jsn-icon-user li .jsn-listbullet,
.jsn-icon-user h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1629px;
}
/* ============================== JOOMLA 3.0 CORE COMPONENT LAYOUT ============================== */
.jsn-joomla-30 .blog-featured .items-leading h2 {
	padding: 5px 0;
}
/* ============================== CSS3 EFFECTS ============================== */
/* ----- READ MORE ----- */
.readon {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-webkit-transition: 0.3s ease-out;
}
.readon:hover {
	box-shadow: 0px 0px 3px #333333;
	-moz-box-shadow: 0px 0px 3px #333333;
	-webkit-box-shadow: 0px 0px 3px #333333;
}
/* ----- GO TOP LINK ----- */
#jsn-gotoplink {
	transition: color 0.3s linear, background 0.3s ease-out;
	-moz-transition: color 0.3s linear, background 0.3s ease-out;
	-webkit-transition: color 0.3s linear, background 0.3s ease-out;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
/* ----- TYPOGRAPHY STYLE ----- */
/* TEXT STYLES */
.text-box {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 2px #999999;
	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
}
.text-box-highlight {
	transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-webkit-transition: 0.3s ease-out;
}
.text-box-highlight:hover {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 2px #999999;
	-moz-box-shadow: 0px 0px 2px #999999;
	-webkit-box-shadow: 0px 0px 2px #999999;
}
.text-highlight {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
/* LINK STYLES */
.link-button,
.link-action {
	transition:  0.3s ease-out;
	-moz-transition:  0.3s ease-out;
	-webkit-transition: 0.3s ease-out;
}
.link-highlight {
	transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-webkit-transition: 0.3s ease-out;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.link-highlight:hover {
	box-shadow: 0 0 2px #999;
}
/* TABLE STYLES */
table.table-style th,
table.table-style td {
	transition: background 0.3s ease-out;
	-moz-transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
}
/* FORM STYLE */
.inputbox {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	transition: color 0.1s linear, background 0.3s ease-out, border-color 0.3s;
	-moz-transition: color 0.1s linear, background 0.3s ease-out, border-color 0.3s;
	-webkit-transition: color 0.1s linear, background 0.3s ease-out, border-color 0.3s;
}
#jsn-page .button {
	background-image: -ms-linear-gradient(top, #999, #777);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#777));
	background-image: -webkit-linear-gradient(top, #999, #777);
	background-image: -o-linear-gradient(top, #999, #777);
	background-image: linear-gradient(top, #999, #777);
	background-image: -moz-linear-gradient(top, #999, #777);
	background-repeat: repeat-x;
	border: 1px solid #000;
	*border: 0;
	border-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
		  border-radius: 3px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#999', endColorstr='#777', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	 -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	transition: color 0.1s linear, background 0.3s ease-out;
	-moz-transition: color 0.1s linear, background 0.3s ease-out;
	-webkit-transition: color 0.1s linear, background 0.3s ease-out;
}
.button:hover,
.button:active {
	background-image: -ms-linear-gradient(top, #777, #555);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#777), to(#555));
	background-image: -webkit-linear-gradient(top, #777, #555);
	background-image: -o-linear-gradient(top, #777, #555);
	background-image: linear-gradient(top, #777, #555);
	background-image: -moz-linear-gradient(top, #777, #555);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#777', endColorstr='#555', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	transition: color 0.1s linear, background 0.3s ease-out, background-position 0.3s;
	-moz-transition: color 0.1s linear, background 0.3s ease-out, background-position 0.3s;
	-webkit-transition: color 0.1s linear, background 0.3s ease-out, background-position 0.3s;
}
/* ----- MENU STYLES ----- */
/* GENERAL */
div.jsn-modulecontainer ul.menu-mainmenu ul,
ul#jsn-sitetools-menu li ul,
div.jsn-modulecontainer ul.menu-sidemenu li ul{
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
#jsn-footer {
	box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 -50px 50px rgba(0, 0, 0, 0.2) inset;
}
div.jsn-modulecontainer ul.menu-mainmenu > li:hover > a{
	text-shadow:0 0 10px #fff;
}
#jsn-menu .jsn-modulecontainer.display-dropdown .jsn-modulecontainer_inner:hover h3.jsn-moduletitle {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
	text-shadow:0 0 10px #fff;
}
ul.menu-mainmenu li a,
ul.menu-sidemenu li a,
ul.menu-treemenu li a {
	transition: all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
}

#jsn-footer,
div.jsn-modulecontainer ul.menu-mainmenu li a {
	text-shadow:0 1px 0px rgba(0, 0, 0, 0.2);
}
ul.menu-topmenu li a {
	transition: background 0.3s ease-out;
	-moz-transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
}
ul.menu-topmenu li a:hover {
	background:#ddd;
	transition: background 0.3s ease-out;
	-moz-transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
}
/* MAIN MENU - SIDE MENU */
ul.menu-mainmenu li ul,
ul.menu-sidemenu li ul {
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
ul.menu-mainmenu li:hover > ul,
ul.menu-sidemenu li:hover > ul,
#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontainer_inner:hover .jsn-modulecontent {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/* Fix Hover Event on touch mobile devices */
@media only screen and (max-width: 960px), (max-device-width: 960px) {
     ul.menu-mainmenu li ul,
     ul.menu-sidemenu li ul {
         transition: none;
         -moz-transition: none;
         -webkit-transition: none;
         -ms-transition: none;
         -o-transition: none;
         }
}
/* ----- SITE TOOLS ----- */
ul#jsn-sitetools-menu li ul {
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
ul#jsn-sitetools-menu li:hover ul {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
ul#jsn-sitetools-menu li,
#jsn-menu .jsn-modulecontainer.display-dropdown .jsn-modulecontainer_inner h3,
#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontent {
	transition: background 0.3s ease-out;
	-moz-transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
}
/* ----- MOBILE TOOLS ----- */
#jsn-mobiletools ul li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
/* ----- MODULE STYLES ----- */
div[class*="box-"] div.jsn-modulecontainer_inner,
div[class*="solid-"] div.jsn-modulecontainer_inner,
div[class*="richbox-"] div.jsn-modulecontainer_inner,
div[class*="lightbox-"] div.jsn-modulecontainer_inner {
}
div#jsn-content-top div.jsn-modulecontainer:first-child div.jsn-modulecontainer_inner,
div#jsn-pos-content-bottom div.jsn-modulecontainer:first-child div.jsn-modulecontainer_inner,
div#jsn-usermodules3 div[id*="jsn-pos-user"]:first-child div.jsn-modulecontainer_inner {
	border:none;
}
/* ----- FONT STYLES ----- */
h3.jsn-moduletitle,
#jsn-content-top div[class*="box-"] h3.jsn-moduletitle,
#jsn-content-top div[class*="solid-"] h3.jsn-moduletitle,
#jsn-content-top div[class*="lightbox-"] h3.jsn-moduletitle,
.contentheading,
.componentheading,
.subheading {
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}
#jsn-centercol div[class*="solid-"] h3.jsn-moduletitle,
#jsn-centercol div[class*="richbox-"] h3.jsn-moduletitle,
#jsn-centercol div.lightbox-1 h3.jsn-moduletitle{
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}
div.lightbox-2 h3.jsn-moduletitle {
	text-shadow:none;
}
div.box-grey h3.jsn-moduletitle,
div[class*="richbox-"] h3.jsn-moduletitle,
#jsn-content-top h3.jsn-moduletitle,
#jsn-content-top div.box-grey h3.jsn-moduletitle,
#jsn-content-top div[class*="richbox-"] h3.jsn-moduletitle {
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}
/* ----- OVERRIDE JOOMLA 30 ----- */
.jsn-joomla-30 .calendar .button {
	border-radius: none;
	-moz-border-radius: none;
	-webkit-border-radius: none;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu li.active > a {
	text-shadow: 0 0 15px #FFF;
}
/****/
#jsn-pos-top div.search input#mod-search-searchword {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12) inset;
}