@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,regular");
@import url("http://fonts.googleapis.com/css?family=Oswald:300,regular");
@import url("http://fonts.googleapis.com/css?family=Lato:300,regular");
@import url('http://fonts.googleapis.com/css?family=Raleway:300,regular');	
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,regular');	
@import url('http://fonts.googleapis.com/css?family=PT+Sans:regular,italic');	
@import url('http://fonts.googleapis.com/css?family=Droid+Serif:700,regular" type="text/css');	
