
.hikashop_submodules {    padding-top: 0 !important;}
.hikashop_categories_listing_main { margin:0 !important}
.jv-module .hikashop_product_code_row, .gridItem .hikashop_product_code_list { display:none}


/*================ Hikashop Cpanel Main ================*/
.hikashop_cpanel_main ul { margin:0; padding:0; list-style:none}
.hikashop_uploader_image_empty,.hikashop_uploader_file_empty {	width:100%;	padding:30px 0px;	text-align:center;}
#hikashopcpanel div.icon a {	border:1px solid #F0F0F0;	display:block;	float:left;	border-radius:4px;	padding: 5px;	text-decoration:none;	vertical-align:middle;	width:94%;}
#hikashopcpanel div.icon:hover a {	border-color:#EEEEEE #CCCCCC #CCCCCC #EEEEEE;;	border-style:solid;	border-width:1px;	background:#F8F8F8;background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f8f8f8));background: -webkit-linear-gradient(top, #ffffff, #f8f8f8);background: -moz-linear-gradient(top, #ffffff, #f8f8f8);background: -o-linear-gradient(top, #ffffff, #f8f8f8);background: linear-gradient(top, #ffffff, #f8f8f8);}
#hikashopcpanel li {	list-style-type: none !important;}
#hikashopcpanel div.icon {	float:left;	margin-bottom:8px;	text-align:center;	width: 50%;}
#hikashopcpanel span {	display:block;	text-align:center;	color:#666;	background-repeat: no-repeat;	background-position: center;}
.hikashop_cpanel_icon_image_span{	background-repeat: no-repeat;	background-position: center;	height: 48px !important;	width: 48px !important;}
#hikashop_cpanel_title h1{color:#555; font-size:16px; font-weight:bold}
#hikashop_cpanel_title fieldset{border:none; border-bottom:1px solid #ddd }
.hikashop_cpanel_button_description{	color:#666; font-size:14px}
.hikashop_cpanel_button_text{display:none !important}
#hikashopcpanel td{	text-align: center;}
.hikashop_cpanel_icon_image{	width: 80px;}
.hikashop_cpanel_icon_table{	width: 100%;}
.hikashop_cpanel_icon_table:hover .hikashop_cpanel_button_description{color:#368AA9}
#hikashopcpanel img {	margin:0 auto;padding:10px 0;}
.hikashopcpanel{	margin:20px 0;}
.hikashop_header_buttons{ float: right; }

.icon-32-cancel {background-image:url(../images/hikashop/icons/icon-32-cancel.png) !important;}
.icon-32-back {background-image:url(../images/hikashop/icons/icon-32-back.png) !important;}
.icon-32-new {background-image:url(../images/hikashop/icons/icon-32-new.png) !important;}
.icon-32-apply {background-image:url(../images/hikashop/icons/icon-32-apply.png) !important;}
.icon-32-save {background-image:url(../images/hikashop/icons/icon-32-save.png) !important;}
.icon-32-print {background-image:url(../images/hikashop/icons/icon-32-print.png) !important;}
.icon-48-order {background-image:url(../images/hikashop/icons/icon-48-order.png) !important;}
.icon-48-category {background-image:url(../images/hikashop/icons/icon-48-category.png) !important;}
.icon-48-user {background-image:url(../images/hikashop/icons/icon-48-user.png) !important;}
.icon-48-user2 {background-image:url(../images/hikashop/icons/icon-48-account.png) !important;}
.icon-48-account {background-image:url(../images/hikashop/icons/icon-48-account.png) !important;}
.icon-48-address {background-image:url(../images/hikashop/icons/icon-48-address.png) !important;}
.icon-48-affiliate {background-image:url(../images/hikashop/icons/icon-48-affiliate.png) !important;}
.icon-48-subscription {background-image:url(../images/hikashop/icons/icon-48-subscription.png) !important;}
.icon-48-product {background-image:url(../images/hikashop/icons/icon-48-product.png) !important;}

.icon-48-cart {background-image:url(../images/hikashop/icons/icon-48-cart.png) !important;}
.icon-48-wishlist {background-image:url(../images/hikashop/icons/icon-48-wishlist.png) !important;}
.icon-48-downloads {background-image:url(../images/hikashop/icons/icon-48-downloads.png) !important;}
.icon-32-add_cart {background-image:url(../images/hikashop/icons/icon-32-add_cart.png) !important;}
.icon-32-show_cart {background-image:url(../images/hikashop/icons/icon-32-show_cart.png) !important;}
.icon-32-add_wishlist {background-image:url(../images/hikashop/icons/icon-32-add_wishlist.png) !important;}
.icon-32-show_wishlist {background-image:url(../images/hikashop/icons/icon-32-show_wishlist.png) !important;}
.icon-32-badge {background-image:url(../images/hikashop/icons/icon-32-badge.png) !important;}
.icon-32-badge2 {background-image:url(../images/hikashop/icons/icon-32-badge2.png) !important;}

	/*Hikashop Cpanel*/
	.hikashop_cpanel_icon_div a { margin-bottom: 20px;	display: block;	background-color: #fff;	cursor: pointer;	min-height: 70px;	border: 1px solid #dcdcdc;	border-radius: 5px;	padding: 10px;	display: block;}
	.hikashop_cpanel_icon_div a + div {	margin-bottom: 25px;}
	.hikashop_cpanel_icon_table:hover .hikashop_cpanel_button_description {	color: #000;}


#hikashop_cart_listing, #hikashop_affiliate_main, #hikashop_address_listing, #hikashop_order_listing{margin:0px; padding:0px;}
#hikashop_carts_listing .header, #hikashop_affiliate_main .header, #hikashop_address_listing .header, #hikashop_order_listing .header{margin:0px}
#hikashop_carts_listing .header h1, #hikashop_affiliate_main .header h1, #hikashop_address_listing .header h1, #hikashop_order_listing .header h1{margin:30px 0 0 0; color:#555; font-weight:bold; font-size:15px; padding:0px}
#hikashop_carts_listing fieldset, #hikashop_affiliate_main fieldset, #hikashop_address_listing fieldset, #hikashop_order_listing fieldset{border-bottom:1px solid #ddd; margin-bottom:30px}
#hikashop_carts_listing div.toolbar a, #hikashop_affiliate_main div.toolbar a, #hikashop_address_listing div.toolbar a, #hikashop_order_listing div.toolbar a{border:none; text-decoration:none; padding:5px}





#member-profile fieldset{border:1px solid #ddd; border-radius:3px; padding:10px; margin-bottom:10px}
#member-profile legend{font-weight:bold; font-size:12px; color:#333; margin:0px 5px; padding:0px 5px}
#member-profile input, #member-profile select{padding:4px; margin-bottom:5px}
#member-profile .validate, #member-profile a{-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F5F5F5;
	background-image: linear-gradient(to bottom, #FFFFFF, #EEEEEE);
	background-repeat: repeat-x;
	border-color: #EEEEEE #DDDDDD #DDDDDD #EEEEEE;
	border-image: none;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #777777;
	cursor: pointer;
	display: inline-block;
	line-height: 18px;
	padding: 3px 8px;
	text-align: center;
	text-decoration: none;}

#member-profile .validate:hover, #member-profile a:hover{
-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F5F5F5;
	background-image: linear-gradient(to bottom, #FFFFFF, #DDDDDD);
	background-repeat: repeat-x;
	border-color: #EEEEEE #DDDDDD #DDDDDD #EEEEEE;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #777777;
	cursor: pointer;
	display: inline-block;
	outline: medium none;}


.hikashop_address_listing_item_details{border:1px solid #ddd; padding:10px; border-radius:3px; color:#666}
.hikashop_header_buttons a{color:#666; font-size:11px; text-decoration:none}
.contentpane h1{font-size:14px; padding-bottom:4px; margin-bottom:20px; border-bottom:1px solid #ddd;}
.contentpane #hikashop_address_form_span_iframe td{padding:5px 0px;}
.contentpane #hikashop_address_form_span_iframe .key{padding-right:20px; color:#666}
.contentpane #hikashop_address_form_span_iframe select,  .contentpane #hikashop_address_form_span_iframe input{padding:2px; color:#666;}


#hikashop_order_listing .hikashop_no_border td{padding:0px}
#hikashop_order_listing .hikashop_no_border .btn{margin:0px; padding:3px 6px}
#hikashop_search{padding:2px; margin:0px}
#hikashop_order_listing table#hikashop_order_listing{margin-top:20px}
#hikashop_order_listing th{border-bottom: 1px solid #DDDDDD; padding: 10px 5px 5px;}
#hikashop_order_listing th a:hover{color:#2C8296}
#hikashop_order_listing td{padding:5px; border-bottom:1px solid #ddd}
#hikashop_order_listing .hikashop_no_border td{border:none}
.span.hikashop_order_listing_status .hikashop_order_status_created{color:#0088CC}
.span.hikashop_order_listing_status .hikashop_order_status_confirmed, .span.hikashop_order_listing_status .hikashop_order_status_shipped{color:#690}
.span.hikashop_order_listing_status .hikashop_order_status_cancelled, .span.hikashop_order_listing_status .hikashop_order_status_refunded{color:#C30}


.hikashop_order_number_value a{color:#2C8296; text-decoration:underline}
#hikashop_order_listing .row0:hover, #hikashop_order_listing .row1:hover {background-color:#fff}
#hikashop_order_listing .row0{background-color:#f9f9f9}
#hikashop_order_listing .row1{background-color:#f6f6f6}
#hikashop_order_listing table {border-collapse:collapse}

#hikashop_order_main fieldset{border:none}
#hikashop_order_main fieldset h1{color:#555; font-weight:bold; font-size:14px; padding-bottom:4px; border-bottom: 1px solid #ddd;}
#hikashop_order_main .hikashop_order_left_part{border:1px solid #ddd; border-radius:3px; padding:10px;}
#hikashop_order_main .hikashop_order_right_part{float: right; margin-right: 10px; padding-top: 10px;}

#hikashop_order_main #adminForm fieldset{border:1px solid #ddd; border-radius:3px; padding:15px;}
#hikashop_order_main #adminForm legend{font-weight:bold; font-size:14px; color:#555; margin:0px 5px; padding:0px 5px}
#htmlfieldset_products table{border-collapse:collapse}
#htmlfieldset_products th{color:#555; font-weight:bold; font-size:12px; border-bottom:1px solid #ddd; padding:5px 10px; text-align:left}
#htmlfieldset_products td{padding:10px}
#htmlfieldset_products .hikashop_order_product_name{font-size:12px; color:#555;}
#htmlfieldset_products .hikashop_order_product_name:hover{color:#2C8296;}
#htmlfieldset_products a{text-decoration:none; color:#555}
#htmlfieldset_products a:hover{text-decoration:none; color:#2C8296}
#htmlfieldset_products .row0:hover, #htmlfieldset_products .row1:hover{background-color:#f8f8f8}
#htmlfieldset_products .hikashop_order_item_total_value, #htmlfieldset_products .hikashop_order_subtotal_value, #htmlfieldset_products .hikashop_order_shipping_value{color:#2C8296; font-style:italic;}
#htmlfieldset_products .hikashop_order_total_title{font-weight:bold; color:#555}
#htmlfieldset_products .hikashop_order_total_value{font-weight:bold; color:#2C8296; font-style:italic;}

.hikashop_order_tax_value{color:#2C8296; font-style:italic}


#hikashop_carts_listing td {padding:0px}
#hikashop_cart_listing .hikashop_no_border .btn{margin:0px; padding:3px 6px}
#hikashop_cart_listing table{border-collapse:collapse}
#hikashop_cart_listing td {padding:10px}
#hikashop_cart_listing td a:hover{color:#2C8296;}
#hikashop_cart_listing .row0:hover, #hikashop_carts_listing .row1:hover{background-color:#f8f8f8}


#hikashop_cart_listing{margin-top:20px}
#hikashop_cart_listing table{border-collapse:collapse;}
#hikashop_cart_listing table.hikashop_no_border{margin:0px}
#hikashop_cart_listing fieldset{border:none}
#hikashop_cart_listing fieldset h1{color:#555; font-weight:bold; font-size:15px}
#hikashop_cart_product_listing th {color:#555; font-weight:bold; font-size:12px; border-bottom:1px solid #ddd; padding:5px}
#hikashop_cart_product_listing td {padding:5px}
#hikashop_cart_product_listing a {color:#555; font-size:12px; text-decoration:none}
#hikashop_cart_product_listing a:hover {color:#2C8296;}
#hikashop_cart_product_listing .row0:hover, #hikashop_cart_product_listing .row1:hover{background-color:#f8f8f8}
#hikashop_cart_product_listing .hika_show_cart_total_text{color:#555; font-weight:bold; font-size:12px;}
#hikashop_cart_product_listing .hika_show_cart_total_price{font-weight:bold; font-size:12px; color:#2C8296; font-style:italic}

.hikashop_showcart_infos td{padding:5px}
.hikashop_showcart_infos .key{text-align: right; color: #555; font-weight:bold; font-size:12px}
.hikashop_showcart_infos input, .hikashop_showcart_infos select{padding:2px;}
.hikashop_showcart_infos {border:1px solid #ddd; width:auto;}



#hikashop_affiliate_main #adminForm fieldset{border:1px solid #ddd; border-radius:3px; padding:10px; margin-bottom:10px}
#hikashop_affiliate_main #adminForm legend{color: #555555; font-size: 12px; font-weight: bold; margin-left: 10px; padding: 0 10px;}
.hikashop_affiliate_banners_table li{list-style-type:none; padding:3px 0px}
.hikashop_banner_row td{border-bottom:1px solid #ddd}
.hikashop_banner_row td:hover{background-color:#f8f8f8}
.hikashop_banner_row a{color:#2C8296; text-decoration:none}
.hikashop_banner_row a:hover{text-decoration:underline}
.hikashop_banner_row textarea{border:1px solid #ddd; border-radius:3px; padding:5px; margin:10px 0px}



#hikashop_checkout_page fieldset legend {color: #555555; font-size: 12px; font-weight: bold; margin: 15px 0px; padding: 0px; text-transform:uppercase}

.hikashop_checkout_address_left_part{width:45%; float:left;}
.hikashop_checkout_address_right_part{width:45%; float:left; margin-left:2%}
.hikashop_checkout_address_left_part table, .hikashop_checkout_address_right_part table {border-collapse:collapse; width:100%}
.hikashop_checkout_address_left_part td, .hikashop_checkout_address_right_part td{padding:10px;}
.hikashop_checkout_address_left_part .row0:hover, .hikashop_checkout_address_left_part .row1:hover, .hikashop_checkout_address_right_part .row0:hover, .hikashop_checkout_address_right_part .row1:hover{background-color:#f8f8f8}
.hikashop_checkout_address_right_part #same_address{margin: 10px;}

#hikashop_shipping_methods table {border-collapse:collapse; width:100%}
#hikashop_shipping_methods td {padding:10px 5px;}
#hikashop_shipping_methods tr{border-bottom:1px solid #eee}
#hikashop_shipping_methods .row0:hover, #hikashop_shipping_methods .row1:hover{background-color:#f8f8f8}
.hikashop_checkout_shipping_name{font-weight: bold; color:#333}
.hikashop_checkout_shipping_price_full, .hikashop_checkout_payment_description{color:#666}
.hikashop_checkout_cart_shipping{color:#2C8296; font-style:italic; font-family:"Times New Roman", Times, serif; font-size:14px}

#hikashop_payment_methods table {border-collapse:collapse; width:100%}
.hikashop_checkout_payment_description{margin-left:10px}
#hikashop_payment_methods td {padding:5px; background-color:#fff}
#hikashop_payment_methods .row0:hover, #hikashop_payment_methods .row1:hover{background-color:#f8f8f8}

#hikashop_payment_methods .hikashop_credit_card td{background-color:#f8f8f8}
#hikashop_checkout_cart { margin-bottom:30px;}
#hikashop_checkout_cart table{border-collapse:collapse}

#hikashop_checkout_additional_info .key label{margin-right:10px;}
#hikashop_checkout_additional_info input{margin:5px 0px;}


#hikashop_entries_info fieldset{border:1px solid #ddd; border-radius:3px; padding:10px; margin-bottom:10px}
#hikashop_entries_info legend{color: #333; font-size: 14px; font-weight: bold; margin-left: 10px; padding: 0 10px;}
#hikashop_entries_info input{margin-right:10px}
#hikashop_entries_info{color:#666; font-size:12px}
#hikashop_entries_info .key{font-weight:bold; color:#555; font-size:12px}
#hikashop_entries_info td{padding:4px}
#hikashop_entries_info label{margin-right:10px;}
#hikashop_entries_info a, #hikashop_new_entry a{color:#2C8296; text-decoration:none}
#hikashop_entries_info a:hover, #hikashop_new_entry a:hover{color:#2C8296; text-decoration:underline}
#hikashop_new_entry{margin:10px 0px}
#hikashop_entry_next_button.hikashop_cart_input_button{margin-left:0px}



#hikashop_download_listing fieldset{border:none}
#hikashop_download_listing fieldset h1{color:#555; font-weight:bold; font-size:14px; padding-bottom:4px; border-bottom: 1px solid #ddd;}
#hikashop_download_listing .hikashop_no_border .btn{margin:0px; padding:1px 4px}
#hikashop_download_listing table {border-collapse:collapse; width:100%; margin-bottom:10px}
#hikashop_download_listing th{color:#555; font-weight:bold; font-size:12px; border-bottom:1px solid #ddd; padding:10px 0px 5px; text-align:left}
#hikashop_download_listing a{color:#555; text-decoration:none;}
#hikashop_download_listing a:hover{color:#2C8296; text-decoration:none;}
#hikashop_download_listing th img{margin:0px 5px}
#hikashop_download_listing td{padding:4px 0px}
#hikashop_download_listing .pagination {text-align:center; margin-top:20px; font-size:11px; color:#666}



#hikashop_small_image_div{padding:5px 0px;}
#hikashop_product_price_with_options_main{margin:5px 0px; display:block}
.hikashop_option_price_title{color:#666}
.hikashop_option_price_value{color:#2C8296; font-weight:bold; font-size:14px; font-style:italic; font-family:"Times New Roman", Times, serif;}
#hikashop_product_characteristics, #hikashop_product_options {border:1px solid #ddd; padding:5px; border-radius:3px}
.hikashop_product_characteristics_table td, .hikashop_product_options_table td{padding:3px; color:#666}
.hikashop_product_characteristics_table select, .hikashop_product_options_table select{padding:2px; color:#666}
#hikashop_product_description_main{padding-top:20px}

.hikashop_subcategories .div_hikashop_category { margin: 0 !important;}
.hikashop_subcategories .div_hikashop_category .hikashop_category_name  a {
    border: 1px solid #ddd;
    padding: 10px;
    
    display:block; margin-bottom:10px;
}
.hikashop_category_desc {color:#666}


.hikashop_filter_title {color:#555; font-weight:bold; font-size:12px; margin-bottom:8px; display:block}
.hikashop_filter_checkbox input{margin-right:5px}
.hikashop_filter_Filtre select, .hikashop_filter_Filtre option{padding:3px;}

.hikashop_filter_Filter_by_all .hikashop_filter_title, .hikashop_filter_Filter_by_all  br { display:none}
.hikashop_filter_Filter_by_all  input { width:100%;}


#hikashop_checkout_page h1{font-size:14px; color:#555; font-weight:bold; border-bottom:1px solid #ddd; padding-bottom:4px; margin-bottom:10px;}
#hikashop_checkout_login_left_part fieldset{margin-right:20px}
#hikashop_checkout_login_left_part h2, #hikashop_checkout_login_right_part h2, #hikashop_checkout_login_right_part h3{color:#555; font-weight:bold; font-size:14px; margin-bottom:20px}
#hikashop_checkout_login_right_part h3{margin-top:20px}
#hikashop_checkout_login_left_part  #remember{margin-left:5px}
#hikashop_checkout_login_left_part li{list-style-type:none}
#hikashop_checkout_login_left_part ul{margin-top:10px;}
#hikashop_checkout_login_left_part .hikashop_cart_input_button{margin-top:10px}
#hikashop_checkout_login_left_part li a{font-size:11px; color:#555; text-decoration:none;}
#hikashop_checkout_login_left_part li a:hover{font-size:11px; color:#2C8296; text-decoration:none;}



legend{width:auto !important; line-height:normal !important; border:none !important}




.checkout_billing_address_radio, .checkout_shipping_address_radio {float:left}
.hika_edit{text-align:right}
.hika_edit span{display:none}
.hikashop_address_content{display:block; clear:both; color:#777777; margin:15px 0px 0px 0px}
#hikashop_checkout_billing_address_selection a{margin:0px}
.address_selection, #hikashop_checkout_selected_billing_address, #hikashop_checkout_selected_shipping_address{border:1px solid #ddd; border-radius:4px; padding:15px; margin:0px 0px 10px 0px; background:#F8F8F8;
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f8f8f8));
background: -webkit-linear-gradient(top, #ffffff, #f8f8f8);
background: -moz-linear-gradient(top, #ffffff, #f8f8f8);
background: -o-linear-gradient(top, #ffffff, #f8f8f8);
background: linear-gradient(top, #ffffff, #f8f8f8);}
.address_selection:hover, #hikashop_checkout_selected_billing_address:hover, #hikashop_checkout_selected_shipping_address:hover{background: #fff; box-shadow:0px 0px 4px #ddd}
.hikashop_field_required{float:right; margin-left:10px}
#hikashop_checkout_billing_address_zone select, #hikashop_checkout_shipping_address_zone select, #hikashop_checkout_billing_address_zone input, #hikashop_checkout_shipping_address_zone input{float:left; width:auto; max-width:190px; margin:0px}
.hika_edit{background-color:#f9f9f9; padding:4px}

#hikashop_checkout_address select { width: 100%; }

#hikashop_checkout_address_left_part #hikashop_checkout_selected_billing_address,  #hikashop_checkout_address_right_part #hikashop_checkout_selected_shipping_address{margin:0px}

#hikashop_checkout_address_left_part fieldset, #hikashop_checkout_address_right_part fieldset{border:none; padding:0px;}
#hikashop_checkout_address_left_part fieldset legend, #hikashop_checkout_address_right_part fieldset legend{padding:0px; margin:20px 0px 10px 0px}

#hikashop_checkout_address_shipping_selector, #hikashop_checkout_address_billing_selector{color:#2C8296; font-weight:bold; font-size:11px; border:1px solid #ddd}
#hikashop_checkout_address_shipping_selector option, #hikashop_checkout_address_billing_selector option{color:#666; font-weight:normal; font-size:12px;}

@media print { .hikashop_no_print:after { content: "" !important; } }



.hikashop_product_quantity_div{display: inline-block;}
.hikashop_product_quantity_field{text-align: center;}
.hikashop_product_stock .input-append, .hikashop_product_stock .input-prepend{margin: auto; vertical-align:bottom;}


.hikashop_product_quantity_input_div_default{vertical-align: middle;}
.hikashop_product_quantity_change_div_default{vertical-align: top;}


.hikashop_product_quantity_input_div_regrouped .hikashop_product_quantity_field{float: none; height:22px;}
.hikashop_product_quantity_change_div_regrouped div{line-height: 10px;}


.hikashop_product_quantity_change_div_leftright input{float: none;}
.hikashop_product_quantity_change_div_leftright .hikashop_product_quantity_field{height:22px;}


.hikashop_product_quantity_input_div_select .chzn-container, .hikashop_product_quantity_input_div_select select,
.hikashop_show_cart .chzn-container, .hikashop_show_cart select,
.hikashop_product_quantity_div select,
.hikashop_cart_module_product_quantity_value select{width: auto !important; vertical-align: top;}


.hikashop_product_quantity_input_div_simplified{vertical-align: middle;}


.hikashop_cart_product_quantity_value div{float: none !important; display: inline-block; margin: 0px !important;}
.hikashop_cart_product_quantity_value .chzn-container{width: auto !important; vertical-align: top;}


.hikashop_cart_module_product_quantity_value .chzn-container{width: auto !important;}
	



/*================ Product detail ================*/


.hikashop_previous_product, .hikashop_next_product, .hikashop_previous_product:hover, .hikashop_next_product:hover {	padding: 0;	margin: 0 0 20px;	background-image: none;	height: 30px;	width: 30px;	text-align: center;	line-height: 30px;}
.hikashop_next_product {	float: right;}
.shop-single { margin-bottom: 30px;}

.shop.shop-single .bx-wrapper {	position: relative;}
.shop.shop-single .bx-controls a {	font-size: 0;	text-indent: -9999em;	display: none;}
.shop.shop-single .bx-wrapper:hover .bx-controls a {	display: block;}

/*Images*/
.shop-content-item .hikashop_main_image_div {  margin:0 !important; padding:0 !important}
.shop-content-item .hikashop_small_image_div { overflow:hidden; margin:0 -10px !important; padding:0 !important}
.shop-single .shop-content-item {	margin: 0 auto;}

.shop-content-item .shop-slider-pager {  margin-top: 0;  padding-left: 0;  border: none;}
.shop-content-item .shop-slider-pager a {  padding: 10px !important;  width:25%;  float:left;}
.shop-content-item .shop-slider-pager a > img {  width:100%;}

.shop-content-item-container {  position: relative;  height: 457px;  max-width: 600px;}
.shop-content-item-container .shop-content-item {  padding-right: 1px;}
.shop-content-item-container:hover .shop-slider-container {  border-top: 1px solid #DCDCDC;  border-left: 1px solid #DCDCDC;  border-right: 1px solid #DCDCDC;  -webkit-transition: all 0 ease .2s;  -moz-transition: all 0 ease .2s;  transition: all 0 ease .2s;}
.shop-content-item:hover .shop-slider-container .bx-viewport > ul > li > img {  margin: 0px 0px 0 0px;}
.bx-viewport > ul > li {  display: block;}
.bx-viewport > ul > li > img {  max-width: 100%;  display: block;  height: auto;}

/*Price*/
#block-main .shop .price .last-price {	padding: 0;	margin: 0 !important;	padding-top: 13px;	line-height: 21px;}
.shop-single .price {	display: block;	clear: both; margin-bottom:20px;}
.shop-single .price .work-price {	clear: both;	display: block;	padding: 0;}
.shop-single .price .work-price span {	padding-left: 15px;}
.shop-single .hikashop_product_vote_mini { margin-bottom:15px;}
.content-item-description .hikashop_product_vote,.content-item-description .work-price { display: block; margin-bottom:5px;}

#block-main .shop .price .hikashop_product_price_before_discount {	color: #43474d;	font-size: 21px;	margin: 0 15px 0 0;	padding: 0;}
#block-main .shop .price .hikashop_product_price_before_discount + .hikashop_product_price_with_discount {	font-size: 28px;}



/*characteristics table*/

table.hikashop_product_characteristics_table, table.hikashop_product_characteristics_table tbody, table.hikashop_product_characteristics_table tbody tr, table.hikashop_product_characteristics_table tbody td, table.hikashop_product_characteristics_table tbody td .sbHolder {	display: block;	width: 100%;	padding: 0;}

table.hikashop_product_characteristics_table tbody tr td:first-child {	font-weight: bold;	display: block;	margin: 15px 0 15px 0;	color: #43474d;}

.shop-single table.hikashop_product_characteristics_table { border-bottom: 1px solid #dddddd; margin-bottom:20px; padding-bottom:20px;}
.hikashop_product_characteristics_table > tbody:after {
    clear: both;
    content: "";
    display: block;
}
.shop-single table.hikashop_product_characteristics_table tr { float:left;    margin-right: 20px !important;    width: 20% !important;}
.shop-single table.hikashop_product_characteristics_table tr .selectify,
.shop-single table.hikashop_product_characteristics_table tr .selectify .header-f, 
.shop-single table.hikashop_product_characteristics_table tr .selectify .options,
.shop-single table.hikashop_product_characteristics_table tr .selectify .option { min-width:80px !important}

 #hikashop_product_characteristics select {	border-radius: 4px;	border: 1px solid #dcdcdc;	height: 35px;	width: 100%;}
#hikashop_product_characteristics, #hikashop_product_options {	border: none !important;	padding: 0 !important;}


.gray-italic { color:#333; display:block; margin-bottom:5px;}
.gray-italic .margin-reset { color:#666;}


.shop-single  .btnOverflow { float:right; width:44px; position:relative; text-align:center; overflow:hidden; font-size:18px; }
.shop-single  .btnOverflow .hikashop_cart_input_button { position:absolute; top:0; left:0; width:100%; opacity:0; margin:0;}



/*Option*/
#hikashop_product_options.hikashop_product_options {	border-radius: 5px !important;	padding: 15px !important;}
#hikashop_product_options.hikashop_product_options .item {	margin-bottom: 15px;}
#hikashop_product_options.hikashop_product_options .item:last-child {	margin-bottom: 0;}
.hikashop_option_name {	font-weight: bold;	display: block;	margin-bottom: 5px;}
.hikashop_option_name .fa {	color: #428bca;}
.hikashop_product_price_with_options_main {	margin-bottom: 15px !important;}
.hikashop_option_price_value {		font-size: 18px;	font-weight: 100;	font-style: normal;}

/*quantity*/
.shop {	padding: 0 !important;}
.quantity-block { overflow:hidden; float:left;}
.quantity-block .hikashop_product_quantity_field {	width: 48px;border: none;	height: 48px;	 background:#f5f5f5; text-align:center; float:left; margin:0 1px;}
.quantity-block > a { background:#f5f5f5; display:inline-block; line-height:48px; padding:0 8px; float:left;  }


.hikashop_product_stock table {	float: left;}

#hikashop_add_wishlist,  div#hikashop_product_contact_main { 	position: relative; min-width:48px; padding:0 10px; width:auto;}



 div#hikashop_product_contact_main {	float: left;}

.hikashop_product_page .hikashop_category_information h2 {	margin-bottom: 15px;	border: none;}

.hikashop_product_page .hikashop_product_waitlist_main #hikashop_add_wishlist tr:last-child, .hikashop_product_page .hikashop_product_waitlist_main #hikashop_add_wishlist tr:first-child td:first-child, .hikashop_product_page .hikashop_product_waitlist_main #hikashop_add_wishlist tr:first-child td:first-child + td {	display: none;}
.hikashop_product_page .hikashop_product_waitlist_main #hikashop_add_wishlist .hikashop_cart_input_button {	background: none;	box-shadow:  none !important;}
.item .content-item-description .hikashop_product_stock { overflow: hidden; padding-bottom: 5px;}
.item .content-item-description .hikashop_cart_input_button { margin-top: 0; float: left;}
.item .content-item-description #hikashop_add_wishlist {margin-left: 5px;}
.item .content-item-description #hikashop_add_wishlist:after { line-height: 1;}
.item .content-item-description #hikashop_add_wishlist .btn {height: 34px;}


.shop-custom-detail{    border-bottom: 1px solid #dddddd;    margin-bottom: 20px;	padding-bottom:20px; clear:both;}
.shop-custom-detail .hikashop_product_quantity_main, .shop-custom-detail .hikashop_product_quantity_main .hikashop_product_stock {}
.shop-custom-detail #hikashop_product_contact_main, .shop-custom-detail  #hikashop_add_wishlist, .shop-custom-detail  .hikashop_cart_input_button { float:right; margin-left:5px;}

#sbox-window {   box-sizing: unset;  -webkit-box-sizing: unset;}
.sbox-content-iframe iframe { width:100% !important; height:100% !important;}
.hikashop_notice_box_content #hikashop_add_to_cart_continue_div { float:left; margin-bottom:5px;}
.hikashop_notice_box_content #hikashop_add_to_cart_checkout_div { float: right;  margin-bottom:5px;}


 
 .form-horizontal .control-label { padding-top:0; line-height:36px;}
 .hikashop_registration_email_line #register_email, .form-group .input-group input { width:100%;}
 
.btnShowSubcategoriesMobile { margin-bottom:10px;}
.subcategoriesMobile { display:none;}
 
.hikashop_product_contact_page dd { margin-bottom:20px;} 
.list-footer select { margin:0 10px;}

/*hikashop_notice_box*/
div.hikashop_messages {	border: 1px solid transparent;	border-radius: 5px;	font-weight: normal;	padding: 5px 10px;	margin: 5px 0 0 0;}
div.hikashop_messages ul {	list-style: none;	padding: 0;	margin: 0;}
.hikashop_messages li {	list-style-type : none;	padding: 10px;}
div.hikashop_warning {	color: #8a6d3b;	background-color: #fcf8e3;	border-color: #faebcc;}
div.hikashop_success {	color: #3c763d;	background-color: #dff0d8;	border-color: #d6e9c6;}
div.hikashop_info {	color: #31708f;	background-color: #d9edf7;	border-color: #bce8f1;}
div.hikashop_error {	color: #a94442;	background-color: #f2dede;	border-color: #ebccd1;}


/*Form Comment / Vote*/
.hikashop_product_vote_form {	clear: both;	padding-top: 20px;}
.hikashop_product_vote_form .hikashop_vote_stars {	width: auto !important;	float: right;}
.hikashop_product_vote_form .hikashop_form_comment {	margin-bottom: 0;}
.hikashop_vote_notification {	color: #ee7602;	height: 16px;	font-size: 12px;	min-width: 10px;	display: block;	line-height: 16px;	margin: 0 0 5px;}
.hikashop_vote_form .btn-primary {	margin-top: 15px;}
.hikashop_product_vote_listing {}
.hikashop_product_vote_listing .pagination { 	margin: 0;	display: block;margin-bottom: 20px;}
.tab-pane .hikashop_product_vote_listing .pagination * {	padding: 0;	margin: 0;}
.tab-pane .hikashop_product_vote_listing .pagination .list-footer {	float: left;}
.tab-pane .hikashop_product_vote_listing .pagination .list-footer .page-number .pagination-list {	padding: 10px 0;}

.hikashop_product_vote_form  input { width:100%;}
.hikashop_product_vote_form  textarea { width:100%; height:100px; padding:10px;}




.hikashop_product_vote_listing .limit  { display: none;}

.hikashop_product_vote_listing  .hika_comment_listing {    border-top: 1px solid #dddddd;    margin-top: 30px;   padding-top: 30px;    position: relative;}
.hikashop_product_vote_listing  .hika_comment_listing h5 { margin: 0 0 5px; font-weight: 700;}
.hikashop_product_vote_listing  .date-vote { margin-bottom: 5px;}
.hikashop_product_vote_listing .hikashop_listing_comment h4 { line-height: 36px; margin: 0;}


.tab-pane .hikashop_product_vote_listing .pagination .list-footer a:hover,  .table .pagination .list-footer .pagination .page-number .pagination-list a:hover,  .modal_jform_contenthistory:hover,  #editor-xtd-buttons .btn:hover,  .edit.item-page .control-group .btn:hover {	color: #fff !important;	background: #43474d;	box-shadow: 0 2px 0 0 #000000;}

.tab-pane .hikashop_product_vote_listing .pagination .list-footer span:hover,  .table .pagination .list-footer .pagination .page-number .pagination-list span:hover,  #hikashop_add_to_cart_checkout_div .btn:hover {	color: #fff !important;}
.tab-pane .hikashop_product_vote_listing .pagination .results {	float: right;	padding-top: 13px;}
.tab-pane .hikashop_product_vote_listing .hika_comment_listing {	margin: 0;border: 1px solid #dcdcdc;	border-radius: 5px;	padding: 15px;	position: relative;}
.tab-pane .hikashop_product_vote_listing .hika_comment_listing + div {	margin-bottom: 20px;}
.tab-pane .hikashop_product_vote_listing .hika_comment_listing_stars {	width: 85px;	position: absolute;	top: 17px;	right: 15px;}
.hika_comment_listing_notification {	display: none;}
.tab-pane .hikashop_product_vote_listing .date-vote {	font-size: 12px;}
.tab-pane .hikashop_product_vote_listing .hika_vote_listing_username {	font-size: 16px;}
.tab-pane .hikashop_product_vote_listing .hikashop_sort_listing_comment {	font-weight: 100;	min-width: 140px;}
#hikashop_product_description_main { padding-top: 0 !important} 
.hikashop_product_file_link { display: block; border: 1px solid #dcdcdc; padding: 5px 10px; border-radius: 5px;}
.hikashop_product_file_link .fa { margin: 0 6px;}



/*User Profile*/
.profile .panel.panel-default,  .k2AccountPage .panel.panel-default {	box-shadow: none;	margin-bottom: 0;}
.profile .panel.panel-default + .bottom-border,  .k2AccountPage .panel.panel-default + .bottom-border {	margin-bottom: 20px;}
.profile .btn-primary {	margin-top: 10px;	margin-right: 10px;}

/*Hikashop Header*/
#hikashop_cart_listing {	margin-top: 0 !important}
#hikashop_carts_listing .header, #hikashop_affiliate_main .header, #hikashop_address_listing .header, #hikashop_order_listing .header {	padding: 0;}
#hikashop_carts_listing .header .titlePage, #hikashop_affiliate_main .header .titlePage, #hikashop_address_listing .header .titlePage, #hikashop_order_listing .header .titlePage {	padding: 0;margin: 0;	line-height: 50px;	padding-bottom: 25px;}
.header.hikashop_header_title {	padding: 0;}
#content .hikashop_header_buttons {	float: right;	margin-bottom: 25px;}
div.toolbar.hikashop_header_buttons a {	margin: 0 !important;	padding: 5px 10px !important;	margin-left: 5px !important;	font-size: 16px !important;	border: none !important;}
div.toolbar.hikashop_header_buttons a .fa {	margin-right: 10px !important;}

/*Address*/
.hikashop_address_listing_div {	width: 100%;}
.hikashop_address_listing_table,  .table_checkout_address {	border-collapse: separate !important;	border-spacing: 0 !important; width:100%}
.hikashop_address_listing_table .hikashop_address_listing_item td,  .table_checkout_address td {	border: 1px solid #dcdcdc;	border-style: solid solid solid none;	padding: 10px;}
.hikashop_address_listing_table tr.hikashop_address_listing_item td.hikashop_address_listing_item_default,  .table_checkout_address tr.table_checkout_address_item td.first-child {	border-left: 1px solid #dcdcdc;}
.hikashop_address_listing_table tr.hikashop_address_listing_item td.hikashop_address_listing_item_details {	border-radius: 0;}

.hikashop_address_listing_table tr:first-child td {	border-top-style: solid;}
.hikashop_address_listing_item_default,  .table_checkout_address td.first-child,  .table_checkout_address td.last-child {	text-align: center;}
.hikashop_address_listing_item_default input[type="radio"],  .table_checkout_address input[type="radio"] {	display: inline-block;}
.hikashop_address_listing_item_details span br:first-child {	display: none;}
.hikashop_address_listing_item_actions {	text-align: center;}
.hikashop_address_listing_item_actions a {	display: inline-block;	margin: 0 5px;}
.table_checkout_address .bottom td {	border: none !important;	padding: 0 0 20px;}
.hikashop_address_listing_table .bottom-border {	margin-bottom: 20px;}
.hikashop_address_form_span_iframe div { position:relative}
.hikashop_address_form_span_iframe .hikashop_field_required {	color: #a94442;     font-size: 48px;    position: absolute; left:91%; margin:0;   top: 22px;}
.hikashop_address_form_span_iframe .hikashop_field_dropdown, .hikashop_address_form_span_iframe .inputbox {width: 90%; height:36px;	}
.category-list .btn-primary {	display: inline-block;	color: #fff !important;		font-weight: 500;	text-align: center;	padding: 5px 30px 5px 30px;	font-size: 1.2em;	border: 0 none;	border-radius: 3px;	cursor: pointer;	margin: 0 0 10px 0 !important}

/*Order*/
#hikashop_order_listing table#hikashop_order_listing {	margin-top: 0;}
.hikashop_header_title + .hikashop_header_buttons {clear: both;}
.filter > * {	float: left; margin-right:5px;}
.filter .btn-primary,  .filter .button-dark {	padding: 4px 15px 4px 15px;	margin-left: 5px;}
.filter .title {	line-height: 34px;	display: block;	margin-right: 5px;	text-transform: uppercase;}
.filter .form-control {	height: 30px;}
.table th {	text-align: center !important;	padding: 12px 5px 12px !important;	color: #43474d !important;		font-weight: 500 !important;}
.hikashop_orders.adminlist .hikashop_order_num_value {	text-align: center;}
 .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th { background-color: rgba(249, 249, 249, 0.47) !important;}
 .hikashop_orders.adminlist .hikashop_order_listing_status {	display: inline-block;padding: .2em .6em .3em;	font-size: 85%;	line-height: 1;	color: #fff;	text-align: center;	white-space: nowrap;	vertical-align: baseline;	border-radius: .25em;	text-shadow: none;	background-color: transparent;}
 .hikashop_orders.adminlist [class*=" hikashop_order_status_"]:not(.hikashop_order_status_) {background-color: #777;}
.hikashop_orders.adminlist .hikashop_order_listing_status.hikashop_order_status_created {	background-color: #5bc0de;}
.hikashop_orders.adminlist .hikashop_order_listing_status.hikashop_order_status_cancelled {	background-color: #d9534f;}
.hikashop_orders.adminlist .hikashop_order_listing_status.hikashop_order_status_refunded {	background-color: #f0ad4e;}
.hikashop_orders.adminlist .hikashop_order_listing_status.hikashop_order_status_shipped {	background-color: #5cb85c;}
.hikashop_orders.adminlist .hikashop_order_listing_status.hikashop_order_status_confirmed {	background-color: #428bca;}
.table .pagination {	margin: 0 !important;	padding: 0 !important;	width: 100%;}
.table td {	vertical-align: middle !important;}
.table td > .pagination {	padding: 15px 15px 8px 15px !important;}
.table .pagination .list-footer:after {	content: "";	display: block;	clear: both;}
.table .pagination .list-footer .limit {	float: left;	line-height: 34px;}
.table .pagination .list-footer .pagination {	float: right;	width: auto;}
.table .pagination .list-footer .pagination .page-number {	margin: 0;	padding: 0;	height: auto;}
.table .pagination .list-footer .pagination .page-number .pagination-list {	padding: 0 0 5px !important;}

.hikashop_order_number_value a {	color: #d9534f;text-decoration: underline;	font-weight: 400;}
.table .pagination .pagination-results {	display: none;}
#hikashop_order_main #adminForm fieldset {	margin-right: 5px;}

/*Cart*/
#hikashop_cart_product_listing a {	font-size: 14px;	text-decoration: none !important;}
#hikashop_cart_product_listing .hika_show_cart_total_price {	color: #ee7602;	font-size: 16px;		font-weight: 500;}
.hikashop_show_cart_quantity {	border-radius: 3px;	border: 1px solid #dcdcdc;	padding: 5px 10px;}
#hikashop_show_cart_form .hikashop_cart_input_button {	margin-right: 5px !important;}
#hikashop_checkout_status { margin-bottom: 25px; display: block;}

/*affiliate*/
#hikashop_affiliate_main input[type="radio"] {	display: block;}
#datauseruser_currency_id {border: 1px solid #dcdcdc;	border-radius: 5px;	padding: 5px 10px;}

/*Order detail*/
#htmlfieldset_products .hikashop_order_item_total_value, #htmlfieldset_products .hikashop_order_subtotal_value, #htmlfieldset_products .hikashop_order_shipping_value {	color: #ee7602 !important;}
#htmlfieldset_products .hikashop_order_total_value {	color: #ee7602;	font-size: 14px;		font-weight: 500;}

.form_shop_detail .hikashop_cart_input_button { height:48px;}
.form_shop_detail .price span { font-size:30px;}

/*================ Checkout =================*/
.hikashop_cart_bar_work {	position: relative;	margin-bottom: 30px}
.hikashop_cart_bar_work:before {	content: "";	display: block;	height: 4px;	width: 100%;	position: absolute;	border-radius: 5px;	bottom: 17px;}
.hikashop_cart_bar_work:after {	content:"";	display:block;	clear: both;}
.hikashop_cart_step_work {	float: left;	position: relative;	text-align: center;}
.hikashop_cart_step_work span {	padding-bottom: 34px;	display: block;}
.hikashop_cart_step_work a {	display: block;}
.hikashop_cart_step_work:before {	content: "";	display: block;	position: absolute;	bottom: 9px;	width: 20px;	height: 20px;	left: 50%;	margin-left: -10px;	border: 2px solid #000;	border-radius: 100%;	background: #fff}
.hikashop_cart_step_work:after {	content: "";	display: block;	position: absolute;	bottom: 13px;	width: 12px;	height: 12px;	left: 50%;	margin-left: -6px;	border: 2px solid transparent;	border-radius: 100%;	background: transparent;}
.hikashop_cart_step_current:after {	background: #f6931f;}
.hikashop_cart_step_finished:after {	content: "\f00c";	color: #fff;border: none;	margin-left: -7px;	bottom: 14px;}
.hikashop_cart_product_image_thumb, .hikashop_product_cart_image { width: 80px;}


/*Login/register*/
 .hikashop_checkout_page .form-control {	margin: 0 !important}
#hikashop_checkout_page .hikashop_cart_input_button {	padding: 5px 30px !important}
#hikashop_checkout_page .input-group-addon:first-child {	min-width: 40px;}
#hikashop_checkout_page input[type="checkbox"]:checked + label {	left: 0;} 



.hikashop_registration_address_info_line ~ select, .hikashop_registration_address_info_line ~ span select, .hikashop_registration_address_info_line ~ .inputbox { float: right; width: 74.5% !important;  }
.hikashop_registration_address_info_line ~ label {   clear: both;    float: left;    line-height: 36px;    margin-bottom: 15px;    padding: 0 0;    text-align: right;    width: 22.5%;	margin-right:0}
.hikashop_registration_address_info_line ~ .hikashop_field_required {    float: left;    line-height: 34px;    margin:0;}
.hikashop_user_registration_page .input .col-sm-9 input { width:100%}
 
 /*Address*/
.hikashop_checkout_address .col-info {	font-size: 13px;	text-align: left !important;}
.hikashop_checkout_address .col-info .hikashop_checkout_billing_address_info {	font-size: 16px;	font-weight: 300;}

/*Shipping*/
.shipping_item {	border: 1px solid #dcdcdc;	border-radius: 5px;	padding: 15px;}
.shipping_item label.btn-primary {	display: inline-block;	position: relative;	left: 0;	padding-top: 4px;	padding-bottom: 4px;	padding-right: 10px;	padding-left: 35px;}
.shipping_item label.btn-primary:before {	left: 8px !important;	content: "\f10c";	color: #fff;	background: none;	top: 8px;}
.shipping_item input[type="radio"]:checked + label.btn-primary:before {	content: "\f192";}
.shipping_item + div {	margin-bottom: 20px;}

/*coupon*/
#hikashop_checkout_page .hikashop_checkout_coupon .hikashop_cart_input_button {	font-size: 14px !important;	border-radius: 0 3px 3px 0 !important;	padding: 6px 30px !important;	margin: 0!important;}
#hikashop_checkout_coupon_input { height:48px; width:100%}

/*Cart*/
.hikashop_checkout_cart span.hikashop_product_price,  .hikashop_checkout_cart .hikashop_checkout_cart_shipping,  .hikashop_checkout_cart .hikashop_checkout_cart_final_total {	color: #f6931f;		font-weight: 500;	font-style: inherit;}
.hikashop_checkout_cart .hikashop_product_quantity_field { width:50px; text-align:center}
.hikashop_show_cart_add input[type="checkbox"] {	display: inline-block;	opacity: 1;}
.hikashop_checkout_additional_info .hikashop_contentpane input[type="text"],  .hikashop_checkout_additional_info .hikashop_contentpane textarea {	border: 1px solid #dcdcdc;	border-radius: 5px;	padding: 6px 10px;}
.hikashop_checkout_additional_info .hikashop_contentpane {	width: 100%;}
.hikashop_checkout_additional_info .hikashop_contentpane textarea {	width: 100%;}
.hikashop_checkout_additional_info .hikashop_contentpane td.key {	width: 200px;}
.ui-datepicker {	padding: 0;}
.ui-widget-header {	color: #fff;		font-weight: 500;	font-size: 12px;	}
.ui-datepicker th {		font-weight: 300;}

.table-responsive th, .table-responsive td { text-align:center}
.table-responsive .hikashop_cart_product_image_title { width:100px}
.table-responsive .hikashop_cart_product_name_title {}
.table-responsive .hikashop_cart_product_price_title { width:10%}
.table-responsive .hikashop_cart_product_quantity_title { width:15%}
.table-responsive .hikashop_cart_product_total_title { width:10%}

.table-responsive td.hikashop_cart_product_name_value { text-align:left}
.table-responsive td.hikashop_cart_product_name_value p { margin:0;}
 
.table-responsive .hikashop_cart_product_quantity_refresh,.table-responsive  .hikashop_cart_product_quantity_delete { display:inline-block}



/*color*/
.color-1{color:#8B8D90;}
.sidebar-right h3.title-module{text-transform:uppercase}
/*margin*/
.margin-top-0px{margin-top:0px !important}
.padding-top-0px{padding-top:0px !important}

.border-custom{border: 1px solid #dcdcdc;padding:10px; display:block; margin-bottom:10px;}
.sidebar  .border-custom{border: none;padding:0; display:block; margin-bottom:8px; font-family: Roboto Slab,serif;}


.hikashop_subcategories_listing { margin-bottom:20px;}



/*endclass selectbox*/
.hikashop_subcontainer.thumbnail{border:none;padding:0;margin:0}
.hikashop_container .thumbnail:hover{box-shadow:none}
.hikashop_product_image .jvresslide > ul.items{background:#f5f5f5}
.hikashop_product_image .jvresslide > ul.items img{width:100%;}
.hikashop_product_image .jvresslide ul.thumbs li{width: 25%;max-height:35px}
.hikashop_product_image .jvresslide .nav{	opacity:0;	-webkit-transition: all 0.2s ease;	-moz-transition: all 0.2s ease;	-ms-transition: all 0.2s ease;	-o-transition: all 0.2s ease;	transition: all 0.2s ease;}

.gridItem .item .innerItem:hover .hikashop_product_image .jvresslide .nav{opacity:1;}
.shop-content-item-container:hover .shop-content-item-description {padding-top: 15%;}
.shop-content-item-container:hover .hikashop_subcontainer.thumbnail{border: 1px solid #DCDCDC;}
.shop-content-item-container:hover .shop-content-item-description{border:none;}

.hikashop_product_image .jvresslide ul.thumbs li a{width: 100%;height: 35px;overflow: hidden;}
.shop-content-item-description{padding-left:15px;padding-bottom:0 !important}
	.shop-content-item-description *,	.shop-content-item-description .price span{	text-align:left !important;	padding:0;	margin:0	}
	.shop-content-item-description .related-categories-list{font-style:italic;padding-bottom:8px}
	.shop-content-item-description .hikashop_product_vote{display:block}
		.hikashop_vote_stars{padding: 10px 0 5px 0;  color: #8b8d90;}
	.shop-content-item-description > h3 a {padding: 0px;color: #43474D !important;font-weight:300}
	.hikashop_products_listing_main .hikashop_vote_notification_mini { display: none;}

.shop-content-item-container{min-height:457px;height:auto !important}
.hikashop_product_image_subdiv{position:relative}
[class^='hikashop_badge_']{
z-index:100 !important
}

.gridItem .content-item-description { overflow: hidden}

/*product list active grid 1 columns*/
.control-custom{position: relative;border: 1px solid #dcdcdc;border-bottom: 0;border-top:0;margin-top: -70px;margin-bottom:-20px;padding:20px 0}
.gridactive .innerItem{border:1px solid #dcdcdc;border-bottom:0}
.gridItem.gridactive .content-item-description{border:none;}
.gridItem.gridactive .content-item-description .hikashop_product_vote_row{height:40px}
.shop-content .gridItem .content-item-description{border-top:0; }
.gridactive .control-custom {border: 0px;padding: 10px;margin: 0;opacity: 1;}
.gridactive  .control-custom .bx-controls {top: 15%;}
.gridactive .hikashop_product_image.moduleItemImage ,
.gridactive .content-item-description{position:relative !important; top:0 !important}
.gridactive {height:auto !important}
.gridactive > div {position:relative !important ; top:0 !important;width:100% !important} 

/*module wishlist - cart*/
.block .jv-module.top-bar-nav-wishlist,
.block .jv-module.top-bar-nav-shop-card{margin:0}


		
/*--------------------------right column module*/


/*module filter product*/
.ui-slider .ui-slider-handle {    cursor: default;    height: 1.2em;    position: absolute;    width: 1.2em;    z-index: 2;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {    border: 1px solid #d3d3d3;    color: #555555;    font-weight: normal;}
.ui-slider-horizontal .ui-slider-range {    height: 100%;    top: 0;}
.ui-slider .ui-slider-range {    background-position: 0 0;    border: 0 none;    display: block;    font-size: 0.7em;   position: absolute;    z-index: 1;}


.hikashop_filter_main_Filter_by_Price {    float: none !important;    margin-bottom: 10px;    min-height: 20px;    width: 100% !important;}
.hikashop_filter_main_Filter_by_all { width:100% !important}
.filter-all.filter-product span.hikashop_filter_title{display: none;}


.filter-all .hikashop_filter_Filter_by_all::before{content: "\f002";display: inline-block;font-family: FontAwesome;font-style: normal;font-weight: normal;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;position: absolute;right: 10px;top: 55%;cursor: pointer;}
.filter-product .hikashop_filter_Filter_by_Price > div {    margin: 0 5px 20px !important;    position: relative;    width: auto !important; background-color:#ddd;}
.filter-product .ui-slider-range {top: 0px;height: 5px;}
.filter-product a.ui-slider-handle {border:none !important;margin: -5px 0 0 -7px;height: 15px;width: 15px;border-radius: 100%;border: none;background: #ccc; cursor: w-resize;transition: all 0s ease 0s;-webkit-transition: all 0s ease 0s;}
.filter-product a.ui-slider-handle:before {    background: #fff;    border-radius: 100%;    content: "";    display: inline-block;    height: 6px;    left: 50%;    margin: -3px 0 0 -3px;    position: absolute;    top: 50%;    width: 6px;}
.filter-product .ui-widget-content{border:none; height:5px;}


.filter-product span.hikashop_filter_title{display:block;    font-size: 14px;      position: relative; text-transform: uppercase; color:#333;}
.filter-product .hikashop_filter_module{position:relative}
.filter-product .hikashop_filter_button_inside{ clear:both; float:none !important; margin:0 !important; text-align:right}
.filter-product .hikashop_filter_button_inside input { margin:0 !important}

.hikashop_filter_Filter_by_Price span.hikashop_filter_title{display: inline-block; }


.filter-by-characteristics .hikashop_filter_checkbox { display:block}
.filter-by-characteristics .hikashop_filter_checkbox input { float:left; margin-right:5px;}
.filter-by-characteristics .hikashop_filter_checkbox label  { line-height: 22px;   display: block;    font-weight: normal;    margin-bottom: 0;    text-transform: capitalize; color:#333}

.sidebar .hikashop_filter_main_Filter_by_size { padding-top:30px; margin-top:20px; position:relative}
.sidebar .hikashop_filter_main_Filter_by_size:after {    background: #dddddd;    content: "";    height: 1px;    left: 0;   position: absolute;    top: 0;    width: 30px;}


.hikashop_filter_main_Sort_by { min-height:36px !important;}

/*sort by*/
.filter-sort-by  .hikashop_filter_main > div > br,
.filter-sort-by  .hikashop_filter_main > div > span{display:none}
.filter-sort-by  .hikashop_filter_main select{width:100%}


/*module list categories*/
.categories-listing-custom .contentmod.clearfix::before {display: none;}
.sidebar .jv-module.categories-listing-custom {margin: 0;}
.categories-listing-custom .toggles1{padding:0}



/*fix slide*/
.shop-slider-pager{margin-top:0 !important}
.bxslider-paging > a {margin-left: 1px; margin-bottom: 1px;}
.bxslider-paging .active{border: 1px solid #000;}
.control-custom{margin-top:-27%;opacity:0;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;transition: all .2s ease;}
.control-custom .bx-controls{display:block !important;top:25%;left:0}
.control-custom .bx-wrapper{margin:0 auto}
.gridItem .item:hover .control-custom{margin-top:0;opacity:1}
.jv-slide-hikashop .bx-viewport { min-height: 49px;}

/*menu categories*/
.accordion-parent-activenot .opened .minus,
.accordion-parent-active .toggle-content{display:block}

.accordion-parent-activenot .minus,
.accordion-parent-activenot .opened .minus:nth-child(1),
.accordion-parent-activenot .plus:nth-child(2),
.opened .plus{display:none}

/*add 10/9*/
.margin-reset{margin-right:0}
span#hikashop_product_code_main {text-overflow: ellipsis;white-space: nowrap;overflow: hidden;display: inline-block;width: 160px;margin-left: 5px;}
.rtlmargin-custom.date-vote .margin-reset {margin-right: 3px;}
/*add 11/9*/
.hikashop_footer{margin:20px}
.top-bar-nav-shop-card .margin-reset-all{margin:0px}
.shop-content .gridItem .item .moduleItemImage img{border-radius:0; width:100%}
[class*="hikashop_badge"] img {    border-radius: 100% !important; width:40px; height:40px;}

.module_products_list_slider .owl-nav > div {    top: 150px;}

.work-price {font-style:normal;font-weight: 300;     font-size: 16px;  line-height:normal;   }
.hikashop_product_discount, span.hikashop_product_price_before_discount {	text-decoration:line-through; font-size:90%;	margin-right: 10px;	}

.hikashop_product_price_per_unit { display:none}
.i_choose_options {   line-height: normal;    position: relative;    top: 3px;  margin: 0 5px;}
.moduleItemImage { position:relative}

.ui-rating {    padding-right: 10px;}


.hikashop_product_stock_count {
    display: block;
    margin-bottom: 5px;
}

/*add 16/9*/
	/*fix for menu categories list*/
		/*fix categories*/
		.categories-menu-list-custom{margin:15px 0}
		

.shop-content { clear:both}	
		/*next-pre*/
		.form-product-detail .hikashop_btn_product {      background: url(../images/icons.png) no-repeat scroll 8px -345px #262626;     height: 25px;    width: 25px; position:absolute; top:15px;  right:15px}
		.form-product-detail .hikashop_previous_product { background-position:  6px -295px;   right:42px}

		/*rating*/
		.ui-rating {    display: inline-block;    margin: auto;}
		.ui-rating-star { background-color: rgba(0, 0, 0, 0) !important;    cursor: pointer;   background-image: url(../images/hikashop/star.png) !important;    background-repeat: no-repeat;    display: inline-block !important;    font-size: 2px;    height: 16px;   width: 16px;   text-decoration: none;    vertical-align: bottom;   }
		.ui-rating-empty {    background-position: left -32px;}
		.ui-rating-hover {    background-position: left 0 !important;}
		.ui-rating-full {    background-position: left -48px;}
		.ui-rating-mid {    background-position: left -64px;}


		.shop .rating span > span {	margin: 0;}
		.shop-single .hikashop_vote_stars {	padding: 0;}
		.ui-rating {	display: inline-block;	margin-top: -2px;	float: left;}


.hikashop_products_pagination .limit { float:right;}
.hikashop_products_pagination .limit .selectify  { display:inline-block !important; width:auto !important; vertical-align:middle; margin-left:10px;}
.hikashop_products_pagination .limit .selectify, .selectify .header-f, .hikashop_products_pagination .limit .selectify .options, .hikashop_products_pagination .limit .selectify .option { min-width:80px !important}
.hikashop_products_pagination .hikashop_results_counter { display:none;}
.hikashop_products_pagination_bottom .limit {    margin-top: 22px;}		

.toggle {    margin-bottom: 30px;}
.toggle h4 { font-size:14px; margin:0 0 5px}
.toggle h4 i {    cursor: pointer;   margin-right: 5px;}
.toggle h4 i:before {    content: "";}
.toggle h4.opened i:before {    content: "";}
.toggle-content {    display: none;    padding: 25px 0 0 45px;    position: relative;}
.toggle-content .features-list {    display: block;    margin: 0; list-style:none; padding: 10px 0 0 20px;  }
.toggle-content .features-list li { margin-bottom:8px;}


.toggles1 {    padding-bottom: 0;}
.toggles1 > .toggle {    margin-bottom: 15px;}
.toggles1 > .toggle:last-child, .toggles1 > .toggle:last-child > h4 {    margin-bottom: 0;}
.toggles1 > .toggle .toggle-opened {    display: block;}
.toggles1 .toggle > .toggle-content {    margin-bottom: 1px;    padding: 0;}









.jv_ajax_search_hikashop {}
.jv_ajax_search_hikashop .jvajax_search_hikashop_block input {    float: none;    width: 100%;}
.jv_ajax_search_hikashop .jvajax_search_hikashop_block > div { margin:0 !important}
.jv_ajax_search_hikashop .jvhikashop_name_block:before {top: 50%; margin-top:-10px;}
.jv_ajax_search_hikashop .jvajax_search_hikashop_block {    position: relative;}
.jv_ajax_search_hikashop .jvajax_search_hikashop_block:before {    color: #ccc;    content: "\eb3b";    display: block;    font-size: 18px;    height: 20px;    left: 50%;    line-height: 20px;    margin-left: -10px;    margin-top: -10px;    position: absolute;    text-align: center;    top: 50%;    width: 20px;    font-family: icomoon !important;    font-style: normal;    font-variant: normal;    font-weight: 400;    line-height: 1;    text-transform: none;}

.jv_ajax_search_hikashop.jvhikashop_popup .jvhikashop_name_block {    margin-bottom: 10px;}
.jvhikashop_popup {    position: relative;}
.jvhikashop_popup .jv_ajax_content_hikashop {    border-color: transparent;    border-radius: 5px;    z-index: 9999; left:0; right:auto}
.jv_ajax_content_hikashop .item .image {    background: none repeat scroll 0 0 #fff;    display: block;    margin-bottom: 5px;    padding: 0;}
.jv_ajax_content_hikashop .item .image.left {    float: left;    margin-right: 10px; width: 70px; height: 70px; overflow: hidden;}
.jv_ajax_content_hikashop .item .image.right {    float: right;    margin-left: 10px;}
.jv_ajax_content_hikashop .div_list_products .item {    background: none repeat scroll 0 0 #fff;    border: 1px solid #dcdcdc;    border-radius: 5px;    margin-bottom: 0;    padding: 10px;}
.jv_ajax_content_hikashop .item + .bottom-border {    margin-bottom: 20px;}
.jv_ajax_content_hikashop .item .title, .jv_ajax_content_hikashop .item .price {    font-size: 16px;    font-weight: 300 !important;    margin-bottom: 5px;    padding: 0;}
.jv_ajax_content_hikashop .item .price, .form_add_to_cart, .jv_ajax_content_hikashop .item .short_desc {    padding: 0;}
.jv_ajax_content_hikashop .item .short_desc {    font-size: 13px;    line-height: 18px;}
.jv_ajax_content_hikashop .form_add_to_cart {    float: right;}
.jv_ajax_content_hikashop .form_add_to_cart .hikashop_product_stock .hikashop_cart_input_button {    font-size: 14px;    margin-left: 0;    padding: 3px 10px;}
.jv_ajax_content_hikashop .item .price {      font-size: 14px;    margin-top: 10px;}
.jv_ajax_content_hikashop .hikashop_products_pagination div.pagination-list span.pagenav, .jv_ajax_content_hikashop .hikashop_products_pagination div.pagination-list a.pagenav {    font-size: 14px;}
.jv_ajax_content_hikashop .hikashop_products_pagination {    margin-top: 0;}
.jvhikashop_module .hikashop_products_pagination div.pagination-list span.pagenav, .jvhikashop_module .hikashop_products_pagination div.pagination-list a.pagenav, .jvhikashop_module .hikashop_products_pagination div.pagination-list span {    display: none;}
.jvhikashop_module .hikashop_products_pagination div.pagination-list span.pagenav:first-child + a, .jvhikashop_module .hikashop_products_pagination div.pagination-list a.pagenav:last-child {    display: inline-block;}
.jvhikashop_module .hikashop_products_pagination div.pagination-list span.pagenav:first-child + a {    float: left;    margin-left: 0;}
.jvhikashop_module .hikashop_products_pagination div.pagination-list a.pagenav:last-child {    float: right;    margin-right: 0;}
.jvhikashop_module .div_list_products.row.cols1 > div:last-child .bottom-border {    margin-bottom: 0;}



#hikashop_social { margin-bottom:20px;}
#hikashop_social span iframe { height:20px !important}





.hikashop_product_custom_item_info { border: 1px solid #ddd; }
.hikashop_product_custom_item_info [class*="hikashop_item"] + [class*="hikashop_item"] { border-top: 1px solid #ddd;  margin: 0;  line-height: 31px;}
.hikashop_product_custom_item_info .title_custom_field { background-color: #f6f6f6; float: left; width: 200px; text-align: right; padding: 10px; border-right: 1px solid #e9e9e9;  min-height: 32px;}
.hikashop_product_custom_item_info .hikashop_product_custom_item_value { overflow: hidden; padding: 10px; min-height: 32px; position: relative;}

.hikashop_product_custom_item_info .hikashop_product_custom_item_value input { width: 100%; background: none; position: relative; }

.hikashop_product_custom_item_info .hikashop_product_custom_item_value .hikashop_field_required { display: none;}
.hikashop_product_custom_item_info [class*="delivery_date"] .hikashop_product_custom_item_value:before {       font-family: icomoon !important;    font-style: normal;    font-variant: normal;    font-weight: 400;    text-transform: none; content: "\eacc";    position: absolute;    right: 11px; top: 11px; height: 34px; width: 50px; text-align: center; background-color: #f5f5f5;}


