/* Rating */ 
.ItemRatingBlock, .catItemRatingBlock { overflow:hidden}
.itemRatingForm {    display: inline-block;    line-height: 25px;    vertical-align: middle;}
.itemRatingLog { display: inline-block;    font-size: 11px;    margin: 0;    padding: 0 0 0 4px;}
div.itemRatingForm .formLogLoading {    background: url(../images/default/loading.gif) no-repeat scroll left center rgba(0, 0, 0, 0);    height: 25px;    padding: 0 0 0 20px;}
.itemRatingList, .itemRatingList a:hover, .itemRatingList .itemCurrentRating {    background: url(../images/default/transparent_star.gif) repeat-x scroll left -1000px rgba(0, 0, 0, 0);}
.itemRatingList {    background-position: left top;    float: left;   height: 25px;    list-style: none outside none;    margin: 0;    overflow: hidden;    padding: 0;    position: relative;    width: 125px;}
.itemRatingList li {    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);    display: inline;    padding: 0;}
.itemRatingList a, .itemRatingList .itemCurrentRating {    border: medium none;    cursor: pointer;    height: 25px;    left: 0;    line-height: 25px;    outline: medium none;    overflow: hidden;    position: absolute;    text-indent: -1000px;    top: 0;
-webkit-transition: none;	-moz-transition:none;	-o-transition:none;	transition:none;  }

.itemRatingList a:hover {    background-position: left bottom;}
.itemRatingList a.one-star {    width: 20%;    z-index: 6;}
.itemRatingList a.two-stars {    width: 40%;    z-index: 5;}
.itemRatingList a.three-stars {    width: 60%;    z-index: 4;}
.itemRatingList a.four-stars {    width: 80%;    z-index: 3;}
.itemRatingList a.five-stars {    width: 100%;    z-index: 2;}
.itemRatingList .itemCurrentRating {    background-position: 0 center;    margin: 0;    padding: 0;    z-index: 1;}

.genericItemView { margin-bottom:20px;}






.k2FeedIcon { float:right}


.itemViewdetail > div { margin-bottom:20px;}
.itemViewdetail .itemBody > * { display:block; margin-bottom:20px;}
.itemViewdetail .itemImage { text-align:center; margin-bottom:20px;}
.itemBody .ItemLinks { border-bottom:1px dashed #ddd; padding:10px 0; margin-bottom:10px;}



#mailtoForm .formelm { overflow:hidden; margin-bottom:20px;}
#mailtoForm .formelm label { float:left; width:150px; line-height:36px;}


#k2Container .admintable td { padding:10px;}

.k2ItemsBlock ul { margin:0}
.k2ItemsBlock ul li { list-style-type:none}
.moduleItemTitle ,.moduleItemIntrotext ,.moduleItemImage { display:block; margin-bottom:10px;}


.k2AccountPage #description_ifr  { height:100px !important;}


