body {
  color: #666666;
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
font-weight: normal;
}

p {
  margin: 0 0 20px;
}


ul li, ol li { margin-bottom:5px;}

a {
  color: #333333;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}


a:hover {
  text-decoration: none;
}

a:focus {
  color: #333333;  
  text-decoration: none;
}


address {
  line-height: 2.4;
}

small, .post-meta {
  font-size: 95%;
}


input, select, textarea {
  background: #fff;
  border: 1px solid #dddddd;
  height:36px;
  padding:0 10px;
}

select[multiple], select[size]  {  height:36px;}

textarea {
  resize: none;
  padding:10px;
  min-height: 80px;
  width: 100%
}
textarea:focus { border-color:#000}

blockquote p {
  line-height: 1.4;
}




