#block-mainnav {  margin:0; float:right;}
#block-mainnav ul.fxmenu {  height:85px; }
#block-mainnav ul.fxmenu li.level1 {margin: 0 0 0 5px;}
#block-mainnav ul.fxmenu li { margin:0}
#block-mainnav li li + li { border-top: 1px solid rgba(255, 255, 255, 0.1);}


#block-mainnav ul.fxmenu li.level1[class*="cols"] > .fx-subitem {    width: auto;    left: 15px;    right: 15px;}


	/* Item level 1 */
	#block-mainnav ul.fxmenu li .level1 {    display: block; overflow:hidden;    font-size: 12px;    line-height: 85px;    padding: 0 20px;    text-transform: uppercase; position:relative;	}
	#block-mainnav ul.fxmenu li.hasChild  .level1:after {content: "\f107";    display: inline-block;    font-family: FontAwesome;    font-style: normal;    font-weight: normal;    line-height: 1;	  margin: 0 -5px 0 10px;}
	#block-mainnav ul.fxmenu li.hasChild .level1:before {
  height: 0;
  border-bottom: 6px solid #181818;
  border-left: 5px solid rgba(0, 0, 0, 0) !important;
  border-right: 5px solid rgba(0, 0, 0, 0) !important;
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;

  bottom:-6px;
  transition: all 0.3s ease 0.2s;
  -webkit-transition: all 0.3s ease 0.2s;
  
}

	#block-mainnav ul.fxmenu li.hasChild:hover .level1:before {

  bottom:0;
  
}

#block-mainnav .fx-subitem  { color:#666}
#block-mainnav .fx-subitem .fxcolumn { padding: 20px;}
#block-mainnav .fx-subitem.cols4 > .insubitem > ul { position: relative;}
#block-mainnav .fx-subitem.cols4 > .insubitem > ul > li.fxcolumn {position: static;}
#block-mainnav .fx-subitem.cols4 > .insubitem > ul > li.fxcolumn + li.fxcolumn:after { content: ""; position: absolute; top: 0; bottom: 0;  margin-left: -20px; width: 1px; background: #282828;}

	

	#block-mainnav ul.fxmenu li > .iconImage { padding-left:40px; position:relative;}
	#block-mainnav ul.fxmenu li > .iconImage img.icon  {    left: 5px;    margin-top: -15px;    max-height: 30px;    max-width: 40px;    position: absolute;    top: 50%; }
	#block-mainnav ul.fxmenu li > .fx-desc { line-height:18px; padding-top:7px; padding-bottom:7px;}
	#block-mainnav ul.fxmenu li > .fx-desc .fx-desc { font-size:13px; font-weight:normal; display:block}
	
	/* Item level sub */
	#block-mainnav ul.fxmenu .fx-subitem { padding:0;       background: #000;  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2); -webkit-box-shadow:0 0 12px rgba(255, 255, 255, 0.2); }
	#block-mainnav ul.fxmenu .fx-subitem.cols1 {    padding: 0;    width: 220px;}
    #block-mainnav ul.fxmenu .fx-subitem .fx-subitem {    left: 95%;}

	#block-mainnav .fx-subitem.cols1 .fxcolumn {    display:block !important;}
	
	
	#block-mainnav ul.fxmenu .fx-subitem .levelsub { display:block;    text-decoration: none; position:relative; overflow:hidden;   padding:10px 20px;  color: #fff; 	}


	
	
	#block-mainnav ul.fxmenu .fx-subitem li.hasChild > .iconsubmenu { }
	#block-mainnav ul.fxmenu .fx-subitem li.hasChild:hover > .iconsubmenu {}
	#block-mainnav ul.fxmenu .fx-subitem li.fxcolumn > .iconsubmenu  { display:none !important}
	#block-mainnav ul.fxmenu .fx-subitem li:first-child > .levelsub {} /* First-child */
	#block-mainnav ul.fxmenu .fx-subitem li:hover > .levelsub, #block-mainnav ul.fxmenu .fx-subitem li.active > .levelsub { } /* Hover and active */


	#block-mainnav ul.fxmenu .fx-subitem li.hasChild > .iconsubmenu {      margin-top: -8px;    right: 10px;    top: 50%;    z-index: 10; color: #fff;}	
	#block-mainnav ul.fxmenu .fx-subitem li.hasChild:hover > .iconsubmenu, #block-mainnav ul.fxmenu .fx-subitem li.hasChild.active > .iconsubmenu { }	

	

	/* Item Group */
	#block-mainnav ul.fxmenu .fx-subitem .group-title, #block-mainnav ul.fxmenu .fx-subitem h3.title-module { font-size:18px !important; text-transform:uppercase; background: none !important ; margin:0 0 20px ; color:#fff;  }
	#block-mainnav ul.fxmenu .fx-subitem li:hover > .group-title, #block-mainnav ul.fxmenu .fx-subitem li.active > .group-title {  color: #43474d !important; } 
	
	#block-mainnav ul.fxmenu .fx-subitem .group-content > li > .levelsub {font-size:14px	;   padding: 6px 20px;}	
	

	/* Sub Module */
	#block-mainnav ul.fxmenu .fx-subitem .jv-module {  font-size: 14px;   }
	#block-mainnav ul.fxmenu .fx-subitem .jv-module .contentmod .levelsub { padding-left:0; padding-right:0;}

	#block-mainnav  .moduleItemTitle a { color:#fff;}

	



#block-mainnav .hikashop_categories_listing_main { margin:0}
#block-mainnav .hikashop_product_list, #block-mainnav  .hikashop_category_list { display:block}
#block-mainnav .hikashop_product_list li, #block-mainnav  .hikashop_category_list li { border: none;}
#block-mainnav .hikashop_category_list li a { color: #666; padding: 6px 0; display: block;}
#block-mainnav .k2ItemsBlock { padding:0 12px;}
#block-mainnav .k2ItemsBlock .moduleItemImage {    max-height: 95px;    overflow: hidden;}

#block-mainnav ul.fxmenu li:hover .btnsearchtop, #block-mainnav ul.fxmenu li.active .btnsearchtop  { background: none !important; color: #43474d !important;}
#block-mainnav ul.fxmenu li .btnsearchtop  .fx-title , #block-mainnav ul.fxmenu li .iconlogin   .fx-title { display:none}


.fxsubmenu ul.menu-sliders  li { border:none !important; padding:0 !important}
.fxsubmenu ul.menu-sliders  li a { color:#666; padding:5px 0;}
.fxsubmenu ul.menu-sliders ul a {    padding-left: 10px;}
.fxsubmenu ul.menu-sliders ul ul a {    padding-left: 20px;}

#fx-item382  .fx-subitem_ { display: block !important; opacity:1 !important}


