/* SHOP */
.clear{clear:both}
.div_list_products .item { margin-bottom:30px;}

.product-price > *  { display:none}
.product-price > .PricesalesPrice   { display: block}



.gridItem { overflow:hidden }
.gridItem .owl-item { padding:0 15px;} 
.gridItem .moduleItemImage { position:relative; overflow:hidden} 
h3.moduleItemTitle   {   font-size: 16px;    line-height: normal;    margin-bottom: 5px;}
.gridItem .price { float:right; margin-left:10px;}
.gridItem .price span {font-style:normal;font-weight: 300;     font-size: 16px;  line-height:normal;   }
.price .span.hikashop_product_price { font-weight:normal}
.price .hikashop_product_price_per_unit { display:none}


.gridItem .related-categories-list {    color: #999;    font-size: 95%;}
.gridItem .product-info { z-index: 10;  left: 0;  position: absolute;  text-align: center;  top: 50%;  margin-top: -25px;  right:0;}
.gridItem .product-info > * { overflow: hidden;  background: #fff;  color: #333;  display: inline-block;  height: 50px;  line-height: 50px;  margin: 0 5px;  width: 50px;  -webkit-transition: -webkit-transform 0.3s;  transition: transform 0.3s;  -webkit-transform: translate3d(0, 750%, 0);  transform: translate3d(0, 750%, 0); }

.gridItem .product-info > *:hover,.gridItem .product-info > *:focus {  color: #fff;}
.gridItem .product-info > *:nth-child(2) {  -webkit-transition: -webkit-transform 0.5s;  transition: transform 0.5s;}
.gridItem .product-info > *:nth-child(3) {  -webkit-transition: -webkit-transform 0.7s;  transition: transform 0.7s;}

.gridItem .product-info .addtocart { position:relative;}

.gridItem .product-info .addtocart-bar { margin:0; bottom:0;}
.gridItem .product-info .product-fields { display:none}
.gridItem .product-info span.addtocart-button { position:absolute; width:100%; height:100%; top:0; left:0; margin:0}
.gridItem .product-info .addtocart form {    opacity: 0;    overflow: hidden;    width: 100%;	bottom: 0;    left: 0;    margin: 0;    padding: 0;    position: absolute;    right: 0;    top: 0;}
.gridItem .product-info .addtocart form input {    background: none;    border: medium none;    bottom: 0;    height: 100%;    left: 0;    margin: 0;    padding: 0;    position: absolute;    right: 0;    top: 0;}
.gridItem .item:hover .product-info > * {  -webkit-transform: translate3d(0, 0, 0);  transform: translate3d(0, 0, 0);}

.gridItem .moduleItemImage .hikashop_product_listing_image, .gridItem .moduleItemImage .ProductImage {-webkit-transition: -webkit-transform 0.3s;  transition: transform 0.3s;}
.gridItem .moduleItemImage:hover .hikashop_product_listing_image, .gridItem .moduleItemImage:hover .ProductImage {    transform: scale(1.1); -webkit-transform: scale(1.1); }



.colsItem1 .product-info { display:none}
.colsItem1 .item, .colsItem1 .itemproduct { margin:0; position:relative;}
.colsItem1 .innerItem { overflow:hidden}
.colsItem1 .moduleItemImage { margin-bottom: 0;  max-width: 50px;  position: relative;  display: block;  float: left; margin-right:10px; overflow:hidden}
.colsItem1 .moduleItemImage a, .colsItem1 .moduleItemImage a img {  display: block;}
.colsItem1 .content-item-description { overflow:hidden}
.colsItem1 .item + .item, .colsItem1 .itemproduct + .itemproduct {    border-top: 1px dotted #000;    margin-top:20px;    padding-top: 20px; border-color: rgba(0, 0, 0, 0.1);}
.colsItem1 .div_list_products.vmproduct > div .item {    border-top: 1px dotted #000;    margin:20px 0 0;    padding: 20px  0 0; border-color: rgba(0, 0, 0, 0.1);}
.colsItem1 .div_list_products.vmproduct > div:first-child .item { border:none; padding:0; margin:0;}
.colsItem1 .gridItem .price { float:none; margin:0 0 5px;}

	/* Cart */
	.moduleMiniCart {  width:400px !important; line-height:normal !important; padding:20px 0 !important}
	.vm_cart_products, .hikashop_cart_products {max-height: 600px;    overflow: auto;  padding:0 20px !important;}
	.moduleMiniCart ul { margin:0;    }
	.moduleMiniCart li + li{    border-top: 1px dotted #666;    margin-top: 20px !important;    padding-top: 20px !important;}
	.ajax-vmcontainer + .ajax-vmcontainer {    border-top: 1px dotted #666;   padding-top: 20px !important;}
	.moduleMiniCart li:last-child { padding-bottom:20px;}
	.moduleMiniCart .itemtrash { font-size:18px;}
	.moduleMiniCart .moduleItemTitle { min-height:0}
	.moduleMiniCart .chart-custom { overflow:hidden; margin-bottom:5px; display:block;}
	.moduleMiniCart .chart-custom span { display:inline-block; color:#fff}
	
	.moduleMiniCart  .price span { display:inline-block; } 
	.moduleMiniCart  .price .hikashop_product_discount { font-size:85%; color:#fff;}
	.moduleMiniCart  .cart-subtotal { text-align:right; text-transform:uppercase; font-size:18px;  }
	.moduleMiniCart  .cart-subtotal span { display:inline-block}
	.moduleMiniCart  .module-topcart { border:none; margin-top:0 !important; cursor:auto !important; overflow:hidden; margin:0 20px 20px; padding-bottom:20px;  border-bottom: 1px dotted #666; line-height:34px; overflow:hidden }


	




	@media (min-width: 992px) {
		.colsItem2 [class*="col-md"]:nth-child(2n+1),
		.colsItem3 [class*="col-md"]:nth-child(3n+1),
		.colsItem4 [class*="col-md"]:nth-child(4n+1),
		.colsItem6 [class*="col-md"]:nth-child(6n+1) 	 { clear:both}
	}
	
	@media (max-width: 991px) {  /* Tablet and Mobile */
	
	.div_list_products .col-sm-2:nth-child(6n+1),.div_list_products  .col-xs-2:nth-child(6n+1)	 { clear:both}
	.div_list_products .col-sm-3:nth-child(4n+1),.div_list_products  .col-xs-3:nth-child(4n+1)	 { clear:both}
	.div_list_products .col-sm-4 :nth-child(3n+1),.div_list_products  .col-xs-4:nth-child(3n+1)	 { clear:both}
	.div_list_products .col-sm-6:nth-child(2n+1), .div_list_products .col-xs-6:nth-child(2n+1)	 { clear:both}
	}
	

.wraptable { overflow:auto; margin-bottom:20px;}
.wraptable .table { min-width:610px}

#mod_virtuemart_search  { width:100%}
	
.jvajax_shop_search_block > div { margin:0 !important}	
	
.hikashop_products_pagination_top, .orderby-displaynumber { line-height:36px; padding-bottom:20px;     border-bottom: 1px solid #dddddd;    margin-bottom: 30px;}	
.jvajax_shop_search_content .item .image.left {    float: left;    height: 70px;    margin-right: 10px;    overflow: hidden;    width: 70px;}
.jvajax_shop_search_fields  .jvajax_shop_search_block:before {    color: #ccc;    content: "\eb3b";    display: block;    font-size: 18px;    height: 20px;    left: 50%;    line-height: 20px;    margin-left: -10px;    margin-top: -10px;    position: absolute;    text-align: center;    top: 50%;    width: 20px;    font-family: icomoon !important;    font-style: normal;    font-variant: normal;    font-weight: 400;    line-height: 1;    text-transform: none;}