#block-panel .position-panel-1 .jv-module, .ui-rating,.quantity-block .hikashop_product_quantity_field, .quantity-block > a, .quantity-block,.hikashop_notice_box_content #hikashop_add_to_cart_continue_div, .hikashop_cart_step_work, .moduleMiniCart .chart-custom span
{    float: right;}

#block-panel .position-panel-2 .jv-module, #block-mainnav, .position-footer,.hikashop_products_pagination .limit, .hikashop_notice_box_content #hikashop_add_to_cart_checkout_div, #search-beack , #style-switcher .themecolor a,
.shop-single .btnOverflow
{    float: left;}

#block-panel .position-panel-2 ul.dropdownMenu .divsubmenu, .position-header-right ul.dropdownMenu .divsubmenu {    right: auto; left:0;}
#logo {    right: 15px;	left:auto;}
#block-mainnav ul.fxmenu .fx-subitem li.hasChild > .iconsubmenu {    left: 10px;	right:auto;	}
#block-mainnav ul.fxmenu li.hasChild .level1:after {    margin: 0 10px 0 -5px;}
.owl-wrapper-outer .item { direction:rtl}
.owlSlideshow  .owl-wrapper-outer .item {    direction: ltr !important;}
.div_products_item_n .owl-controls {    left:0;    right: auto;}
.colsItem1 .moduleItemImage {    float: right;    margin-left: 20px;	margin-right:0}
.gridItem .price {    float: left;    margin-right: 10px;	margin-left:0}
.JVTab-nav .nav-content ul > li {   margin: 0 5px 0 0  !important; }
.JVTab-nav .nav-content ul > li:first-child { margin-right:0 !important; margin-left:5px !important }
.nav-slide > .JVTab-nav .nav-prev:before {content: "\f105";}
.nav-slide > .JVTab-nav .nav-next:before {content: "\f104";}
blockquote {    border-left: 5px solid #eee;	border-right:none;}
#block-footer div.copyright { text-align:right}
.filter-by-characteristics .hikashop_filter_checkbox input {    float: right;    margin-left: 5px;	margin-right:0}	
.jvajax_shop_search_fields .jvajax_shop_search_block:before {  content: "\eb38";}
.pagination-list {    text-align: right;}


ul.menu-sliders ul a:before {    margin-left: 5px;	margin-right:0}

.pagination-list .hikashop_previous_link:before, .icon-angle-left:before {  content: "\f105";} 
.pagination-list .hikashop_start_link:before, .icon-angle-double-left:before  {  content: "\f101";}

.pagination-list .hikashop_next_link:before, .icon-angle-right:before {  content: "\f104";}
.pagination-list .hikashop_end_link:before, .icon-angle-double-right:before  {  content:"\f100";}


/* vm */
.orderby-displaynumber .activeOrder, .orderby-displaynumber .Order {    padding: 0 15px 0 30px;}
.orderby-displaynumber .activeOrder:before {    left: 10px;	right:auto;}
.productdetails-view .moreicons > * {    float: left;}

.product-neighbours .next-page:after {content: "\f104"; margin:-2px 5px 0 0; margin-left:0; float: left }
.product-neighbours .previous-page:before {content: "\f105"; margin: -2px 0 0 5px; float: right; }
.moreinfo-details span {    margin-left: 10px;	margin-right:0}




.selectify .header-f .icon {    left: 10px;    right: auto;}
.bx-viewport { direction: ltr !important;}
.shop-single table.hikashop_product_characteristics_table tr:first-child {    margin-left: 0 !important;}
.shop-single table.hikashop_product_characteristics_table tr {    float: right;    margin-right: 20px !important;    margin-left: 0 !important;}
.shop-custom-detail #hikashop_product_contact_main, .shop-custom-detail #hikashop_add_wishlist, .shop-custom-detail .hikashop_cart_input_button {    float: left;    margin-right: 5px;    margin-left: 0;}
#hikashop_checkout_page .hikashop_checkout_coupon .hikashop_cart_input_button {    border-radius: 3px 0 0 3px !important;    -webkit-border-radius: 3px 0 0 3px !important;    }
.rowform > label {    float: right;    margin: 0  0 0 20px;}
.divremember #remember {    float: right;    margin-left: 10px;    margin-right: 0;    }
.ItemLinksTop:after {    right: 0;    left: auto;}


.icon-chevron-right:before {    content: "\ecff";}

.contact .contact-address dd { margin-left: 0; margin-right: 50px;}
.jvhikashop_name_block:before {    left: 10px;    right: auto;}
.loginform {    left: -520px;    right: auto;}
.loginform.show { left: 0; right: auto;}

.toggle-content .features-list {    padding: 10px 20px 0 0 ;}
#style-switcher {    left: -174px;	right:auto;}
#style-switcher .iconSwitcher {    right: -40px;	left:auto;}
#style-switcher.show {    right: auto; left:0}
.mini-sidebar .blogThumbnail {    float: right;    margin: 0  0 0 20px;}
.ModuleMiniSidebar .blogThumbnail {    margin: 0  0 0 15px;}

.searchK2-form button {    right: auto;    left: 1px;}

.position-header-right , .position-header-right .jv-module  { float: left;}
#vmCartModule .cartProceed a { float:left !important}

#block-mainnav .fx-subitem.cols4 > .insubitem > ul > li.fxcolumn + li.fxcolumn:after {    margin-right: -20px;	margin-left:0}
.sidebar .hikashop_filter_main_Filter_by_size:after,
.jvhikashop_popup .jv_ajax_content_hikashop {    right: 0; left:auto;}
ul.menu-sliders .showsubmenu {    left: 0; right:auto;}


ul.menu-sliders ul a { padding-left:0}
ul.menu-sliders ul a {    padding-right: 15px;}
ul.menu-sliders ul ul a {    padding-right: 25px;}
ul.menu-sliders ul ul ul a {    padding-right: 35px;}
ul.menu-sliders ul ul ul ul a {    padding-right: 45px;}

.form_contact .form p { float:right}
.ContactVersion-2 .form_contact .form p.input-message {    left: 0;	right:auto;}

/* shop */
.hikashop_address_listing_table .hikashop_address_listing_item td,  .table_checkout_address td {		border-style: solid none solid solid ;	}
.hikashop_address_listing_table tr.hikashop_address_listing_item td.hikashop_address_listing_item_default, .table_checkout_address tr.table_checkout_address_item td.first-child {    border-right: 1px solid #dcdcdc; }

/* Blog */
.k2FeedIcon { float:left}
.userAdditionalInfo div .fa {    float: right;    line-height: 19px;    margin:0 0  0 10px;}
.userView .userBlock .thumb {    float: right;    margin:0 0 0 15px;}
.ItemLinksInline > * {    display: inline-block;    margin-right:0;	margin-left:10px;}

.itemNavigation a.itemNext {    float: left;    padding-right: 30px; padding-left:0;	text-align:left;}
.itemNavigation a.itemPrevious {    float: right;    padding-left: 30px; padding-right:0;    text-align: right;}
.pp_content_container { text-align:right}


/* switcher */
#switcher {    left: -330px; right:auto;}
#switcher.show-switcher {    right: auto; left:0}
#switcher .show-switcher-icon {    right: -40px;	left:auto;}

.scroll-to-top {    left: 20px;	right:auto}


body.isBreadcrumb #block-breadcrumb  h1.titlePage  {   float: left; }

/*-----------------------------------------------------------------RESPONSIVE-------------------------------------------------------------------*/

@media (max-width: 1199px) {  /* Tablet and Mobile */

	#block-header .font-size, #block-header .timer { display:none}
	#block-header .container {    min-height: 50px;	 padding-top: 5px;	  padding-bottom: 5px;}
	#block-header #logo {		display: block;		left: auto;		position: relative;		right: auto;		text-align: center;		top: auto;	}
	.position-header-right { position:absolute; top:50%; margin-top:-20px; left:15px; right:auto;}
	.position-header-right .headericon a { line-height:40px;}
	.index-4 #block-header  #logo { top: auto;}
	#block-header  a.flexMenuToggle { display:block !important;}
	.div_list_products .item { max-width:360px; margin:0 auto 20px;}
	.gridItem .product-info {    bottom: 10px;    margin-top:0;    top: auto;}
	.gridItem .item .product-info > * {  -webkit-transform: translate3d(0, 0, 0);  transform: translate3d(0, 0, 0);}
	
	.module_products_list_slider { padding-top:0}
	.owl-theme .owl-controls { display:none !important}
	
	.moreInfoShop li {    width: 50%;}
	
	body.index-3 #logo { 	padding:0 0;      left: 15px; right:auto;    position: absolute;
    top: 25px;	 border-bottom: none;}
	body.index-3 #block-mainnav { float: none}
	body.index-3 #block-mainnav ul.fxmenu li.liRight { float: left}

}

@media (min-width: 992px) and (max-width: 1199px) { 	.jvajax_shop_search_popup .jvajax_shop_search_content { max-width:940px;} }

@media (max-width: 991px) {  /* Tablet and Mobile */

	ul.dropdownMenu > li > .item-text, .topMiniCart .view_cart_link {    padding: 0 15px;}
	#main-content { margin-bottom:50px;}

}

@media (max-width: 767px) { /* Mobile */
#block-header #logo { border-top:2px solid #ddd; padding-top:10px;}
#block-header .container { padding-top:40px !important;}
.position-header-right, a.flexMenuToggle {    margin-top: 0;    top: 0;}

    .jvresslide .nav, #block-header .font-size, #block-header .timer { display:none}
    div.item-image { float:none; margin:0 0 10px}
    div.pagination p.counter { display:none}
    #block-panel .position:after { content:""; clear:both; display:block ;  margin: 0 -15px;}
    #block-panel .position-panel-1:after  { border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
    #block-panel .position-panel-2 .jv-module {        float: right;    }
    #block-panel  .hikashop_cart_module ul.dropdownMenu .divsubmenu {        left: auto;    }
    
    .loginform { width:100%; left:-100%; right:auto; padding:10px;}
    #form-login-submit .btn  { margin-bottom:5px; }
    .row > div { margin-bottom:30px;}
    #owl-text-slide .item blockquote { font-size:24px;}
    .titleCenter .title-module span {        padding: 0 10px;        }
    .owl-carousel .description h2, .tp-caption h2 {        font-size: 34px;    }    
    #block-panel  .equal-column [class*="col-md"] { margin-bottom:0;}
    h1.titlePage {        font-size:24px;        }
    #block-breadcrumb { margin-bottom:20px;}
    .gridItem .price { float:none; margin:0}
    #hikashop_product_image_main { max-width:400px;}
    .mini-sidebar .blogThumbnail { float:none; width:auto; height:auto;    margin: 0 0 20px;}
    .form_contact { margin-bottom:20px;}
    .form_contact .form p, .form_contact .form p {        float: none !important;        width: auto !important;    }
    .ContactVersion-2 .form_contact .form p.input-message {        position: relative;        top:auto;        width: auto;    }
    .ContactVersion-2 .form_contact .form p textarea {        height: 100px;    }
    .jvmapcontain { height:200px !important}
    .jv_ajax_content_hikashop .item .image, .jv_ajax_content_hikashop .item .price { display:none}

	
    ul.dropdownMenu li {        position: static;    }    
    .moduleLanguage ul.dropdownMenu li { position: relative !important;}
    ul.dropdownMenu .divsubmenu {        width: 100% !important;    }
    .ModuleMiniSidebar  .blogThumbnail { display: none;}

	#block-panel .btnPanel {    bottom: -24px;    display: block;    height: 24px;    right: 50%; left:auto;    line-height: 24px;    margin: 0 auto 0 -15px;    position: absolute;    text-align: center;    width: 30px; cursor:pointer;	border-radius:0 0 3px 3px}
	#block-panel.show .btnPanel .fa-chevron-down:before {    content: "";} 
	#block-panel .container { display:none} 
	.itemMasonry .blogThumbnail .owl_slideshow1 .item, .itemMasonry .blogThumbnail .owl_slideshow1 .item .sigProImg {    max-height: 150px;}
	.itemMasonry .ItemBody {    padding: 10px 10px 5px;}
	.itemMasonry .blogThumbnail iframe {    max-height: 200px;}
	.divblockquote blockquote {    border-left: medium none;    font-size: 16px;    line-height:22px;}	
	.divblockquote blockquote p{	padding:20px;}
	.itemNavigation a.itemNext {    padding-right: 10px; padding-left:0}
	.itemNavigation a.itemPrevious {    padding-left: 10px; padding-right:0}
	
	.blogThumbnail iframe, .blogThumbnail .sigProImg { max-height:200px}
	
	body.shortcodes #block-breadcrumb h1, body.ContactVersion-2 #block-breadcrumb h1 {    border: none;    padding:0;}
	
	
	.position-footer {     float: none;}
	
	.jvajax_shop_search_popup .jvajax_shop_search_content {    max-width: 100%;}
	
	/**/
	.div_list_products .item, .module_products_list_slider { max-width:100%}	
	.gridItem .product-info { display: none}
	.gridItem .moduleItemImage { max-height:200px;}
	
	.hikashop_products_pagination_bottom .limit { display:none}
	
	.rowform > label {    float: none;    margin: 0 0  5px;    width: auto;}
	.loginform { top:100px;}
	
	
	#facebox { left:10px !important; right:10px !important}

	#block-breadcrumb .innercontainer h1 {	height: 80px;	}

}

@media (min-width: 480px) and (max-width: 767px) { /* Mobile  larger */

    .div_list_products [class*="col-md"]{ float: right; width:50%}


}

@media (max-width: 479px) { /* Mobile small */

	.col-xs-6 {        width: 100% !important;    }
	.moduleMiniCart .btn { min-width:0; margin:0 !important;}
	.itemMasonry  { position:relative !important; left:auto !important; top:auto !important}

	.position-header-right .divsubmenu  { text-align:right;}

	
	.moreInfoShop li {    width: 100%; padding:10px;}
	
	.module_products_list_slider { max-width:360px; margin:0 auto;}
	.module_products_list_slider  .owl-item { padding:0}


	#hikashop_product_quantity_main.quantity-block  {    float: none; overflow:hidden;    margin-bottom: 10px;}
	
	
	.gridItem .moduleItemImage { float:right; width:80px; margin-left:10px;} 
	body.index-4 #block-panel .btnPanel {    right: 100px; left:auto;    margin: 0;}
	table.user-details td.key {    width: 125px;}


}

@media (max-width: 359px) { 
	#facebox .btn { padding:0 5px; font-size:12px;}
}

