@import url('font-awesome.css');	
@import url('owl.carousel.css');	
@import url('owl.transitions.css');	

@import url("prettyPhoto.css");
@import url("selectify.css");
@import url("layout.css");
@import url('blog.css');	
@import url('shop.css');	
@import url('hikashop.css');	
@import url('virtuemart.css');	



#mainsite { overflow:hidden; position:relative} 

.container { position:relative}

.owl-carousel .description .item-cat, .owl-carousel .description h2, .tp-caption h2,.border-style-news .intro-title ,  #owl-text-slide .item blockquote p, #owl-text-slide .item .intro h2,.hikashop_filter_main_div,.aboutShop .introtext h1,.aboutShop .description h3,h3.moduleItemTitle ,.price .span.hikashop_product_price ,#block-footer  .title-module , .divblockquote  blockquote footer ,.sidebar  .border-custom, .price span, .work-price, .hikashop_subcategories , .hikashop_subcategories h4,.moduleMiniCart  .cart-subtotal,
#block-mainnav-mobile ul li .level1, #block-mainnav-mobile ul li > .levelsub
{  font-family: Roboto Slab, serif; }

/*--CLASS PUBLIC
-------------------------------------------------------------------*/
.btn, .button{  background-color: #fff; text-transform: uppercase;   vertical-align:middle;  border: 2px solid #333333;  color: #333333;  font-size: 13px;  font-weight: 700;  padding:0 15px;   text-align:center;  height:48px;  line-height:44px; border-radius:0;  -webkit-transition: all 300ms;  -moz-transition: all 300ms;  transition: all 300ms;}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill  { background:#fff !important;}
.btn.active { color:#fff}

button, input.btn, .button { line-height:normal !important}  
a.btn, div.btn, span.btn, p.btn { height:auto !important}

.panel-title a { display:block}
  
.btn:hover, .button:hover {  color: #fff ;}
.btn-default {  background-color: #333333;  color: #fff;}
.btn-primary, .shop-custom-detail  .hikashop_cart_input_button {  color: white !important;}
.btn-primary:hover, .btn-primary:focus, .shop-custom-detail  .hikashop_cart_input_button:hover {  background-color: #333 !important;  border-color: #333 !important; }
.btn-white {  background-color: transparent;  border-color: #fff;  color: #fff;}
.btn-grey {  background-color: #f5f5f5;  border-color: #f5f5f5;  color: #666666;  min-width: 50px;}
.btn-black {  background-color: #000;  border-color: #000;  color: #fff;  }

.btn-xs {   height:30px;  line-height:26px;  }
.btn-sm {   height:36px;  line-height:32px; }
.btn-lg {  height:58px;  line-height:54px;}

#form-login-submit .btn, .jvslidecustom .btn, .hikashop_cart_input_button, .tp-caption .btn { min-width:140px;}


#mainsite { position:relative; background:#fff;}	


.divsubmenu.empty { display:none !important}
.module-topcart .show_cart a {  background-color: #333; text-transform: uppercase;   vertical-align:middle;  border: 2px solid #333333;  color: #fff;  font-size: 13px;  font-weight: 700;  padding:0 15px;   text-align:center; height:36px;  line-height:32px; border-radius:0;  -webkit-transition: all 300ms;  -moz-transition: all 300ms;  transition: all 300ms;}
.module-topcart .show_cart a:hover {  background-color: #333 !important;  border-color: #333 !important;}


/*
    Background image for Boxed, Framed, Rounded
    */
.body-bg-0 { background-color:#fff;  }
.body-bg-1 {  background: url(../images/background/body-bg-1.png)   center center;}
.body-bg-2 {  background: url(../images/background/body-bg-2.png)   center center;}
.body-bg-3 {  background: url(../images/background/body-bg-3.png)   center center;}
.body-bg-4 {  background: url(../images/background/body-bg-4.png)   center center;}
.body-bg-5 {  background: url(../images/background/body-bg-5.png)   center center;}
.body-bg-6 {  background: url(../images/background/body-bg-6.png)   center center;}
.body-bg-7 {  background: url(../images/background/body-bg-7.png)   center center;}
.body-bg-8 {  background: url(../images/background/body-bg-8.png)   center center;}
.body-bg-9 {  background: url(../images/background/body-bg-9.png)   center center;}
.body-bg-10 {  background: url(../images/background/body-bg-10.png)   center center;}

.body-bg-11 {  background: url(../images/background/body-bg-11.png)   center center;}
.body-bg-12 {  background: url(../images/background/body-bg-12.png)   center center;}
.body-bg-13 {  background: url(../images/background/body-bg-13.png)   center center;}
.body-bg-14 {  background: url(../images/background/body-bg-14.png)   center center;}
.body-bg-15 {  background: url(../images/background/body-bg-15.png)   center center;}
.body-bg-16 {  background: url(../images/background/body-bg-16.png)   center center;}
.body-bg-17 {  background: url(../images/background/body-bg-17.png)   center center;}
.body-bg-18 {  background: url(../images/background/body-bg-18.png)   center center;}
.body-bg-19 {  background: url(../images/background/body-bg-19.png)   center center;}

.body-bg-20 {  background: url(../images/background/body-bg-20.png)   center center;}

.body-bg-21 {  background: url(../images/background/body-bg-21.png)   center center;}
.body-bg-22 {  background: url(../images/background/body-bg-22.png)   center center;}
.body-bg-23 {  background: url(../images/background/body-bg-23.png)   center center;}
.body-bg-24 {  background: url(../images/background/body-bg-24.png)   center center;}
.body-bg-25 {  background: url(../images/background/body-bg-25.png)   center center;}
.body-bg-26 {  background: url(../images/background/body-bg-26.png)   center center;}
.body-bg-27 {  background: url(../images/background/body-bg-27.png)   center center;}
.body-bg-28 {  background: url(../images/background/body-bg-28.png)   center center;}
.body-bg-29 {  background: url(../images/background/body-bg-29.png)   center center;}

/*--PANEL
-------------------------------------------------------------------*/
#block-panel {    background:#181818;    color: #fff; line-height:52px;    font-size: 11px;    text-transform: uppercase; margin:0; position:relative; z-index:1000}
#block-panel .btnPanel  { display:none}
#block-panel .position { position:relative}
#block-panel .position-panel-1 .jv-module { float: left;}
#block-panel .position-panel-2 .jv-module { float: right;   border-left: 1px solid rgba(255, 255, 255, 0.1); padding:0 20px}
#block-panel .position-panel-2 .jv-module:first-child {    border-right: 1px solid rgba(255, 255, 255, 0.1);}

#block-panel p, #block-panel li  { margin:0}
.top-bar a { color:#fff} 

.moduleMenu { padding:0 !important}
#block-panel .position-panel-2 ul.dropdownMenu .divsubmenu,
.position-header-right ul.dropdownMenu .divsubmenu { right:0; }

#block-panel .position-panel-2 .topMiniCart { padding:0;}
.topMiniCart .view_cart_link { display:block; padding:0 20px; position:relative; font-size:18px;} 
.topMiniCart .view_cart_link span {     border-radius: 100%;    color: #fff !important;    height: 15px;	font-size:11px;    line-height: 13px;    position: absolute;    right: 5px;    text-align: center;    top: 5px;    min-width: 15px; } 

.position-header-right { float:right}
.position-header-right .jv-module { float: right; line-height: 40px; }
.position-header-right .moduleMiniCart .moduleItemTitle { color: #fff;}
.position-header-right .headericon a { display: inline-block;  width: 50px; text-align: center; line-height:85px;}

/* MENU TOUCH
 --------------------------------------------------------------------------------------------- */
 
    a.flexMenuToggle { background: none !important; padding: 12px 8px 5px; position: absolute; top:50%;  margin-top: -20px;}
    a.flexMenuToggle span {    background:#333; height: 2px;    border-radius: 1px;}    
 
	#block-mainnav-mobile{  z-index: 9999;		background: #000;}
    ul.fxmenu-touch:before, .touch-btnBack { margin:0; box-shadow:none; -webkit-box-shadow:none}
    #block-mainnav-mobile li { border-top: 1px solid rgba(255, 255, 255, 0.1);}
    
	#block-mainnav-mobile ul li { margin:0; box-shadow:none; -webkit-box-shadow:none}
	#block-mainnav-mobile ul li .level1, #block-mainnav-mobile ul li .levelsub {	color: #fff; text-shadow: initial;		}
	#block-mainnav-mobile  a { color:#fff}
    
    #block-mainnav-mobile ul .hikashop_category_list_item a {line-height:20px; padding:10px; display:block}
    
 
	#block-mainnav-mobile .jv-module {	color: #fff; padding: 10px;	}
	#block-mainnav-mobile .jv-module  h3.title-module { margin-bottom:10px;}
	#block-mainnav-mobile .itemproduct { border-color:#fff}
	#block-mainnav-mobile .jv-module  .levelsub { padding-left:0; padding-right:0}

	#block-mainnav-mobile .loginform {    background: none repeat scroll 0 0 #000;    color: #fff;    overflow: hidden;    padding: 30px;    position: relative;    right: auto;    width: auto;    }
    #block-mainnav-mobile  ul.unstyled { margin-bottom: 20px;}
    #block-mainnav-mobile .iconlogin  { display: none;}
    #block-mainnav-mobile #form-login-submit .btn { width: 100%;}
	#block-mainnav-mobile  ul.unstyled li{  box-shadow: none !important;  -webkit-box-shadow: none !important;} 
	
	
	#block-mainnav-mobile ul li .group-title.levelsub, #block-mainnav-mobile ul .jv-module h3.title-module {    background:#333 !important;    color: #e8e8e8;    line-height: 40px;    margin: 0 -10px 20px;    padding: 0 15px !important; text-shadow: inherit;}

/* DROPDOWN
 --------------------------------------------------------------------------------------------- */
ul.dropdownMenu > li > .item-text{  text-transform:uppercase; padding:0 20px; display:block; outline:none;text-decoration:none;}
ul.dropdownMenu ul li .item-text{ line-height:normal; display:block; padding:6px 20px; font-size:10px;   text-transform: uppercase; font-weight:normal;}


/*--------------------------------------------------------------------------------------------------------------------------------*/
ul.dropdownMenu {	margin: 0;	padding: 0; height:52px; }
ul.dropdownMenu > li { position:relative; }
ul.dropdownMenu  li {	display: block;	 float:left;  margin-right:1px;  list-style-type:none; position:relative }
ul.dropdownMenu li.parent > .item-text:after {    content: "";    display: inline-block;    font-family: FontAwesome;    font-style: normal;    font-weight: normal;    line-height: 1;    margin: 0 0 0 5px;}

ul.dropdownMenu .divsubmenu {  width: 180px;	position: absolute; opacity:0;  visibility: hidden;	transform: scale(0); -webkit-transform: scale(0);  z-index: 99; padding:10px 0;	   background:#282828; -webkit-transition: all 300ms;  -moz-transition: all 300ms;  transition: all 300ms;}
ul.dropdownMenu li:hover > .divsubmenu { opacity:1; visibility:visible; transform: scale(1);-webkit-transform: scale(1);	}

ul.dropdownMenu .divsubmenu .divsubmenu {  transform: translateX(50px);-webkit-transform: translateX(50px); }
ul.dropdownMenu .divsubmenu li:hover > .divsubmenu {  transform: translateX(0);-webkit-transform:translateX(0);  }


ul.dropdownMenu ul { margin: 0; padding:0; }



ul.dropdownMenu ul li {float:none; width:auto;} 
ul.dropdownMenu ul li:first-child {}
ul.dropdownMenu ul span { display:block;}

ul.dropdownMenu ul ul { margin: -25px 0 0 95%;}
ul.dropdownMenu ul li.parent > a > span {background: url(../images/arrow.png) no-repeat right  center; }

.moduleLanguage ul.dropdownMenu  .divsubmenu { width:100%}
.moduleLanguage .divsubmenu ul > li { padding:5px 0}
.moduleLanguage .divsubmenu ul > li + li {    border-top: 1px solid #333333; }

#block-panel ul.dropdownMenu li.parent > .item-text:after {
    font-size: 12px;

}

/*--HEADER
-------------------------------------------------------------------*/

#block-header { position:relative;  background-color: #fff;  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.5);   z-index: 200; margin:0 !important}
#logo {    left: 15px;    position: absolute;    top: 25px; }
#block-mainnav .loginform  { display:none !important}

.loginform {  background:#000; color:#fff;  padding: 30px;  position: absolute;  overflow: hidden;  right: -520px;   width: 520px;  z-index: 9999;  -moz-transition: all 0.3s ease 0s;  -webkit-transition: all 0.3s ease 0s;  transition: all 0.3s ease 0s;}
.loginform.show {  right: 0; }
.loginform h3 {    color: #fff;    font-size: 18px;    font-weight: 700;    text-transform: uppercase;}  
.loginform .pretext { margin-bottom:20px;}
.loginform .form-group{  margin-bottom: 30px;}  
.loginform label {    color: #999999;    display: block;	font-weight:300;	margin:0;}
.loginform .inputbox {    background: #000;    width: 100%;  height: 48px;      border: 2px solid  #ddd; 	width:100%; padding:0 10px;}
.loginform .inputbox:focus {  border-color: #666666;  box-shadow: none;}
.loginform 	ul.unstyled { margin:0 0 20px; font-size:13px;}
.loginform 	ul.unstyled > li {    display: inline-block !important;  margin-right: 15px;  line-height:30px;}
.loginform 	ul.unstyled > li a { color:#fff}






#searchtop {    background:  #000;    bottom: 0;    display: none;    left: 0;  overflow: auto;    position: fixed;    top: 0;    width: 100%;    z-index: 99999;}
#searchtop .jvajax_shop_search_content { width:100% !important; max-width:100% !important;}
#searchtop .jvajax_shop_search_content { background:#fff;   border-radius: 5px;    position: absolute; z-index:1000;    padding:15px;	border: 1px solid #ddd;	-moz-box-shadow: -2px 2px 6px rgba(0,0,0,.13);	-webkit-box-shadow: -2px 2px 6px rgba(0,0,0,.13);	box-shadow: -2px 2px 6px rgba(0,0,0,.13);}

#searchtop .position  { clear:both}
#searchtop .jvajax_shop_search_fields  input {    background-color: rgba(0, 0, 0, 0); height:50px;    border: medium none;    color: #fff;     margin: 0;    padding: 0 10px; border:2px solid #fff;    width: 100%;}

#search-beack {       cursor: pointer;   float:right;       color: #fff;  opacity:0.2;   line-height: normal;    font-size: 44px;    font-weight: 700;}  
#search-beack:hover {  opacity:1}


body.index-3 #logo {    left: auto;	padding:30px 0;    position: relative;    top: auto;	display:block; text-align:center;	 border-bottom: 3px solid #282828;}
body.index-3 #block-mainnav { float: none}
body.index-3 #block-mainnav ul.fxmenu li.liRight { float:right}

#block-mainnav {    position: static !important;}




/*--SWITCHER
-------------------------------------------------------------------*/
#switcher {  background:#181818;  color:#fff; top:0;  padding: 0;  position: fixed;   right: -330px; bottom:0;  width: 330px;  z-index: 9999;   -moz-transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s;  transition: all 0.3s ease 0s;}
#switcher.show-switcher { right:0 }
#switcher .inner-switcher { position:absolute; top:30px; bottom:30px; width:100%; overflow:auto; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; -o-overflow-scrolling: touch;-ms-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar;}
#switcher .show-switcher-icon { cursor:pointer; width:40px; height:40px; top:25%; line-height:40px; text-align:center; display:block; position: absolute; left:-40px;  background:#252525;    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);}

#switcher.show-switcher .icon-pencil7:before {    content: "x" !important;    font-family: arial !important; font-weight: bold; font-size: 18px;}

#switcher  .minicolors {    display: block;}
#switcher   .minicolors input[type="text"]  { width:100%; color:#000;      background: none repeat scroll 0 0 #fff;    border: 1px solid #dddddd;    height: 36px; }


#switcher ul { margin:0; padding:0; list-style:none}
#switcher .switcher-box {    padding:0 20px 20px;    position: relative; margin:0 }
#switcher .switcher-box:last-child {    border-bottom: medium none;    margin: 0;}
#switcher h5 {   display: block; margin: 0 -20px 15px;   font-size: 16px !important; text-align:center;      background: #333;    color: #e8e8e8;  	line-height:20px; padding:10px }

.switcher-box:first-child h5 {    float: none;}
.switcher-box .first {    padding: 2px;}

	/* Layout Colors */
	#switcher .themecolor  {  display: block;    margin: 0; overflow:hidden; padding: 0 20px 20px ;}
	#switcher .themecolor:before {    content: "Style Switcher";    display: block; margin: 0 -20px 15px;   font-size: 16px !important; text-align:center;      background: #333;    color: #e8e8e8;    letter-spacing: -1px; 	line-height:40px;}
	#switcher .themecolor a {    height: 30px;    width: 30px; margin:0 4px 8px;	float:right;}
	#switcher .themecolor a img { display:none} 
	#switcher .themecolor .green { background-color:#1abc9c}
	#switcher .themecolor .brown { background-color:#c2a772}
	#switcher .themecolor .blue { background-color:#3598db}
	#switcher .themecolor .orange { background-color:#e99b1f}
	#switcher .themecolor .red { background-color:#f64243}
	#switcher .themecolor .violet { background-color:#a57bcd}
	#switcher .themecolor .yellow { background-color:#e9bf1d}

	/* Layout bg */
	#demo-list-bg li {    display: inline-block;    margin: 2px;}
	#demo-list-bg a {    border: 1px solid #fff;    display: block;    height: 28px;    width: 28px;}
	#demo-list-bg a:hover, #demo-list-bg a.active {    border-color: #000;}
	#switcher  .minicolors-theme-bootstrap .minicolors-swatch { top:8px !important}
	#switcher  .minicolors .minicolors-panel {    height: 163px !important;    width: 185px !important; left:0 !important; right:auto !important; top:35px !important}


	/* Layout Box */
	.body-wide #mainsite { margin: 0 auto;  width: 100%; }
	.body-boxed #mainsite {  background: #FFFFFF;  border: 1px solid #C7C7C7;  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);  margin: 0 auto;  max-width: 1200px !important; }
	.body-framed #mainsite {  background:  #FFFFFF;  border: 1px solid #C7C7C7;  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);  margin: 20px auto;  max-width: 1200px;  width: 100%;   }
	.body-rounded #mainsite {  background:  #FFFFFF;  border: 1px solid #C7C7C7;  border-radius: 10px;  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);  margin: 20px auto;  max-width: 1200px; overflow: hidden; }

	#demo-list-box {    list-style-type: none;    padding: 10px 0 10px 25px;    position: relative;}
	#demo-list-box  li.row { margin:0 -5px; }
	#demo-list-box  li.row div { padding:0 5px; margin-bottom:10px;}
	#demo-list-box a {    display: block;   position: relative; min-width:0}


	/* Fix Fonts */	
	#demo-fonts li +  li { margin-top:15px; }
	#demo-fonts li .font-title { margin:0 0 5px }
	
	


	/*========== Template Fix demo ==================*/

	body[demofont-body="f1"] { font-family: "Raleway" !important;  }
	body[demofont-body="f2"] { font-family: 'Roboto Slab' !important; }	
	body[demofont-body="f3"] { font-family: 'Open sans' !important;  }
	body[demofont-body="f4"] { font-family: 'Oswald' !important; }
	body[demofont-body="f5"] { font-family: 'Lato', sans-serif !important; }
	body[demofont-body="f6"] { font-family: 'Raleway', sans-serif !important; }
	body[demofont-body="f7"] { font-family: 'Source Sans Pro', sans-serif !important; }
	body[demofont-body="f8"] { font-family: 'PT Sans', sans-serif !important; }
	body[demofont-body="f9"] { font-family: 'Droid Serif', serif !important; }

	body[demofont-menu="f1"] #block-mainnav ul.fxmenu li .level1 { font-family: "Raleway" !important;  }
	body[demofont-menu="f2"] #block-mainnav ul.fxmenu li .level1  { font-family: 'Roboto Slab' !important; }	
	body[demofont-menu="f3"] #block-mainnav ul.fxmenu li .level1  { font-family: 'Open sans' !important;  }
	body[demofont-menu="f4"] #block-mainnav ul.fxmenu li .level1  { font-family: 'Oswald' !important; }
	body[demofont-menu="f5"] #block-mainnav ul.fxmenu li .level1  { font-family: 'Lato', sans-serif !important; }
	body[demofont-menu="f6"] #block-mainnav ul.fxmenu li .level1  { font-family: 'Raleway', sans-serif !important; }
	body[demofont-menu="f7"] #block-mainnav ul.fxmenu li .level1  { font-family: 'Source Sans Pro', sans-serif !important; }
	body[demofont-menu="f8"] #block-mainnav ul.fxmenu li .level1  { font-family: 'PT Sans', sans-serif !important; }
	body[demofont-menu="f9"] #block-mainnav ul.fxmenu li .level1  { font-family: 'Droid Serif', serif !important; }	
	

	body[demofont-header="f1"] .owl-carousel .description .item-cat, 	body[demofont-header="f1"] .owl-carousel .description h2, .tp-caption h2,	body[demofont-header="f1"] .border-style-news .intro-title,	body[demofont-header="f1"] #owl-text-slide .item blockquote p,	body[demofont-header="f1"] #owl-text-slide .item .intro h2,	body[demofont-header="f1"] .hikashop_filter_main_div,	body[demofont-header="f1"] .aboutShop .introtext h1,	body[demofont-header="f1"] .aboutShop .description h3,	body[demofont-header="f1"] h3.moduleItemTitle,	body[demofont-header="f1"] .price .span.hikashop_product_price,	body[demofont-header="f1"] #block-footer .title-module,	body[demofont-header="f1"] .divblockquote blockquote footer,	body[demofont-header="f1"] .sidebar .border-custom,	body[demofont-header="f1"] .price span,	body[demofont-header="f1"] .work-price,	body[demofont-header="f1"] .hikashop_subcategories,	body[demofont-header="f1"] .hikashop_subcategories h4,	body[demofont-header="f1"] .moduleMiniCart .cart-subtotal	 { font-family: "Raleway" !important;  }
	
	
	body[demofont-header="f2"] .owl-carousel .description .item-cat, 	body[demofont-header="f2"] .owl-carousel .description h2, .tp-caption h2,	body[demofont-header="f2"] .border-style-news .intro-title,	body[demofont-header="f2"] #owl-text-slide .item blockquote p,	body[demofont-header="f2"] #owl-text-slide .item .intro h2,	body[demofont-header="f2"] .hikashop_filter_main_div,	body[demofont-header="f2"] .aboutShop .introtext h1,	body[demofont-header="f2"] .aboutShop .description h3,	body[demofont-header="f2"] h3.moduleItemTitle,	body[demofont-header="f2"] .price .span.hikashop_product_price,	body[demofont-header="f2"] #block-footer .title-module,	body[demofont-header="f2"] .divblockquote blockquote footer,	body[demofont-header="f2"] .sidebar .border-custom,	body[demofont-header="f2"] .price span,	body[demofont-header="f2"] .work-price,	body[demofont-header="f2"] .hikashop_subcategories,	body[demofont-header="f2"] .hikashop_subcategories h4,	body[demofont-header="f2"] .moduleMiniCart .cart-subtotal  { font-family: 'Roboto Slab' !important; }	
	body[demofont-header="f3"] .owl-carousel .description .item-cat, 	body[demofont-header="f3"] .owl-carousel .description h2, .tp-caption h2,	body[demofont-header="f3"] .border-style-news .intro-title,	body[demofont-header="f3"] #owl-text-slide .item blockquote p,	body[demofont-header="f3"] #owl-text-slide .item .intro h2,	body[demofont-header="f3"] .hikashop_filter_main_div,	body[demofont-header="f3"] .aboutShop .introtext h1,	body[demofont-header="f3"] .aboutShop .description h3,	body[demofont-header="f3"] h3.moduleItemTitle,	body[demofont-header="f3"] .price .span.hikashop_product_price,	body[demofont-header="f3"] #block-footer .title-module,	body[demofont-header="f3"] .divblockquote blockquote footer,	body[demofont-header="f3"] .sidebar .border-custom,	body[demofont-header="f3"] .price span,	body[demofont-header="f3"] .work-price,	body[demofont-header="f3"] .hikashop_subcategories,	body[demofont-header="f3"] .hikashop_subcategories h4,	body[demofont-header="f3"] .moduleMiniCart .cart-subtotal  { font-family: 'Open sans' !important;  }
	body[demofont-header="f4"] .owl-carousel .description .item-cat, 	body[demofont-header="f4"] .owl-carousel .description h2, .tp-caption h2,	body[demofont-header="f4"] .border-style-news .intro-title,	body[demofont-header="f4"] #owl-text-slide .item blockquote p,	body[demofont-header="f4"] #owl-text-slide .item .intro h2,	body[demofont-header="f4"] .hikashop_filter_main_div,	body[demofont-header="f4"] .aboutShop .introtext h1,	body[demofont-header="f4"] .aboutShop .description h3,	body[demofont-header="f4"] h3.moduleItemTitle,	body[demofont-header="f4"] .price .span.hikashop_product_price,	body[demofont-header="f4"] #block-footer .title-module,	body[demofont-header="f4"] .divblockquote blockquote footer,	body[demofont-header="f4"] .sidebar .border-custom,	body[demofont-header="f4"] .price span,	body[demofont-header="f4"] .work-price,	body[demofont-header="f4"] .hikashop_subcategories,	body[demofont-header="f4"] .hikashop_subcategories h4,	body[demofont-header="f4"] .moduleMiniCart .cart-subtotal  { font-family: 'Oswald' !important; }
	body[demofont-header="f5"] .owl-carousel .description .item-cat, 	body[demofont-header="f5"] .owl-carousel .description h2, .tp-caption h2,	body[demofont-header="f5"] .border-style-news .intro-title,	body[demofont-header="f5"] #owl-text-slide .item blockquote p,	body[demofont-header="f5"] #owl-text-slide .item .intro h2,	body[demofont-header="f5"] .hikashop_filter_main_div,	body[demofont-header="f5"] .aboutShop .introtext h1,	body[demofont-header="f5"] .aboutShop .description h3,	body[demofont-header="f5"] h3.moduleItemTitle,	body[demofont-header="f5"] .price .span.hikashop_product_price,	body[demofont-header="f5"] #block-footer .title-module,	body[demofont-header="f5"] .divblockquote blockquote footer,	body[demofont-header="f5"] .sidebar .border-custom,	body[demofont-header="f5"] .price span,	body[demofont-header="f5"] .work-price,	body[demofont-header="f5"] .hikashop_subcategories,	body[demofont-header="f5"] .hikashop_subcategories h4,	body[demofont-header="f5"] .moduleMiniCart .cart-subtotal  { font-family: 'Lato', sans-serif !important; }
	body[demofont-header="f6"] .owl-carousel .description .item-cat, 	body[demofont-header="f6"] .owl-carousel .description h2, .tp-caption h2,	body[demofont-header="f6"] .border-style-news .intro-title,	body[demofont-header="f6"] #owl-text-slide .item blockquote p,	body[demofont-header="f6"] #owl-text-slide .item .intro h2,	body[demofont-header="f6"] .hikashop_filter_main_div,	body[demofont-header="f6"] .aboutShop .introtext h1,	body[demofont-header="f6"] .aboutShop .description h3,	body[demofont-header="f6"] h3.moduleItemTitle,	body[demofont-header="f6"] .price .span.hikashop_product_price,	body[demofont-header="f6"] #block-footer .title-module,	body[demofont-header="f6"] .divblockquote blockquote footer,	body[demofont-header="f6"] .sidebar .border-custom,	body[demofont-header="f6"] .price span,	body[demofont-header="f6"] .work-price,	body[demofont-header="f6"] .hikashop_subcategories,	body[demofont-header="f6"] .hikashop_subcategories h4,	body[demofont-header="f6"] .moduleMiniCart .cart-subtotal  { font-family: 'Raleway', sans-serif !important; }
	body[demofont-header="f7"] .owl-carousel .description .item-cat, 	body[demofont-header="f7"] .owl-carousel .description h2, .tp-caption h2,	body[demofont-header="f7"] .border-style-news .intro-title,	body[demofont-header="f7"] #owl-text-slide .item blockquote p,	body[demofont-header="f7"] #owl-text-slide .item .intro h2,	body[demofont-header="f7"] .hikashop_filter_main_div,	body[demofont-header="f7"] .aboutShop .introtext h1,	body[demofont-header="f7"] .aboutShop .description h3,	body[demofont-header="f7"] h3.moduleItemTitle,	body[demofont-header="f7"] .price .span.hikashop_product_price,	body[demofont-header="f7"] #block-footer .title-module,	body[demofont-header="f7"] .divblockquote blockquote footer,	body[demofont-header="f7"] .sidebar .border-custom,	body[demofont-header="f7"] .price span,	body[demofont-header="f7"] .work-price,	body[demofont-header="f7"] .hikashop_subcategories,	body[demofont-header="f7"] .hikashop_subcategories h4,	body[demofont-header="f7"] .moduleMiniCart .cart-subtotal  { font-family: 'Source Sans Pro', sans-serif !important; }
	body[demofont-header="f8"] .owl-carousel .description .item-cat, 	body[demofont-header="f8"] .owl-carousel .description h2, .tp-caption h2,	body[demofont-header="f8"] .border-style-news .intro-title,	body[demofont-header="f8"] #owl-text-slide .item blockquote p,	body[demofont-header="f8"] #owl-text-slide .item .intro h2,	body[demofont-header="f8"] .hikashop_filter_main_div,	body[demofont-header="f8"] .aboutShop .introtext h1,	body[demofont-header="f8"] .aboutShop .description h3,	body[demofont-header="f8"] h3.moduleItemTitle,	body[demofont-header="f8"] .price .span.hikashop_product_price,	body[demofont-header="f8"] #block-footer .title-module,	body[demofont-header="f8"] .divblockquote blockquote footer,	body[demofont-header="f8"] .sidebar .border-custom,	body[demofont-header="f8"] .price span,	body[demofont-header="f8"] .work-price,	body[demofont-header="f8"] .hikashop_subcategories,	body[demofont-header="f8"] .hikashop_subcategories h4,	body[demofont-header="f8"] .moduleMiniCart .cart-subtotal  { font-family: 'PT Sans', sans-serif !important; }
	body[demofont-header="f9"] .owl-carousel .description .item-cat, 	body[demofont-header="f9"] .owl-carousel .description h2, .tp-caption h2,	body[demofont-header="f9"] .border-style-news .intro-title,	body[demofont-header="f9"] #owl-text-slide .item blockquote p,	body[demofont-header="f9"] #owl-text-slide .item .intro h2,	body[demofont-header="f9"] .hikashop_filter_main_div,	body[demofont-header="f9"] .aboutShop .introtext h1,	body[demofont-header="f9"] .aboutShop .description h3,	body[demofont-header="f9"] h3.moduleItemTitle,	body[demofont-header="f9"] .price .span.hikashop_product_price,	body[demofont-header="f9"] #block-footer .title-module,	body[demofont-header="f9"] .divblockquote blockquote footer,	body[demofont-header="f9"] .sidebar .border-custom,	body[demofont-header="f9"] .price span,	body[demofont-header="f9"] .work-price,	body[demofont-header="f9"] .hikashop_subcategories,	body[demofont-header="f9"] .hikashop_subcategories h4,	body[demofont-header="f9"] .moduleMiniCart .cart-subtotal  { font-family: 'Droid Serif', serif !important; }		
	
	/* and Font style */

		

/*--MENU
-------------------------------------------------------------------*/
body.isBreadcrumb #block-breadcrumb { background-image:none}
body.isBreadcrumb #block-breadcrumb .innercontainer { display:block}
body.isBreadcrumb #block-breadcrumb  h1.titlePage  {     line-height: 80px; display:block; height:auto; float:right; width:auto;     font-size: 22px;}



ul.breadcrumb  { margin:0; padding:0; background:none; color:#fff}
ul.breadcrumb  li { margin:0}
ul.breadcrumb  > li + li:before {    color: #fff;  opacity:0.8;  }
ul.breadcrumb a { opacity:0.8; color: #fff;}
ul.breadcrumb a:hover { color:#333;}

	/* Arcodion Menu */
	ul.menu-sliders { margin:0; padding:0; }
	ul.menu-sliders ul { margin:0; padding:0; display:none;}
	ul.menu-sliders li {    display: block;    position: relative;  margin:0; border-top: 1px solid #ddd;}
	
	ul.menu-sliders > li { border: 1px solid #ddd; margin-bottom:10px;}
	
	ul.menu-sliders > li:first-child{}
	
	ul.menu-sliders li a {      display: block;    line-height: 20px; padding:10px; position:relative;}
	ul.menu-sliders ul a:before { content:""; width:6px; height:6px; background-color:#444; display: inline-block; border-radius:100%; margin-right:5px; position:relative; top:-2px;}
	ul.menu-sliders .showsubmenu { cursor: pointer;  z-index:2;    font-size: 18px ;    height: 40px;    line-height: 40px;    position: absolute;    right: 0;    text-align: center;    top: 0;    width: 40px;}
	ul.menu-sliders .showsubmenu:hover { }
	ul.menu-sliders .parent-showsub > .showsubmenu:before {content: "\f106";}
	
	ul.menu-sliders  li.parent-showsub > ul { display:block}

	ul.menu-sliders ul a { padding-left:15px;}
	ul.menu-sliders ul ul a { padding-left:25px;}
	ul.menu-sliders ul ul ul a { padding-left:35px;}
	ul.menu-sliders ul ul ul ul a { padding-left:45px;}
	



/*--SLIDESHOW
-------------------------------------------------------------------*/
#block-slide { margin:0;}

.owl-wrapper-outer, .owl-controls { direction:ltr}

.owlSlideshow .item {  text-align: center; position:relative; background-position:center center; background-repeat:no-repeat; -webkit-background-size: cover;	-moz-background-size: cover;	-o-background-size: cover;	background-size: cover;}
.owlSlideshow .item img { max-width:none}

.owl-carousel { overflow:hidden}
.owl-carousel .description .item-cat, .owl-carousel .description h2, .tp-caption h2 { text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);}
.owl-carousel .description .item-cat {  margin-bottom: 10px;}
.owl-carousel .description h2, .tp-caption h2 {  color: #fff; font-size: 52px;  text-transform: uppercase;  letter-spacing: 3px;  margin-bottom: 40px;}



.owl-carousel .description { color: #fff;  text-align: center;  text-transform: uppercase;   bottom: 0;    display: table;    height: 100%;    left: 0;    position: absolute;    right: 0;    text-align: center;    top: 0;    width: 100%;}
.owl-carousel .description-inner {    display: table-cell;    height: 100%;    vertical-align: middle;    width: 100%;}
.owl-carousel  .description .item-cat a, .tp-caption .item-cat a {  color: #fff; text-transform:uppercase}



.owlSlideshow .owl-controls {  margin-top: -25px; top: 50%;}
.owlSlideshow .owl-controls .owl-buttons div { position:absolute;}
.owlSlideshow .owl-controls .owl-buttons .owl-prev { left:-50px;}
.owlSlideshow .owl-controls .owl-buttons .owl-next { right:-50px;}

.owlSlideshow:hover .owl-controls .owl-buttons .owl-prev { left:0;}
.owlSlideshow:hover .owl-controls .owl-buttons .owl-next { right:0;}



#block-slide-full .owlSlideshow .item, #block-slide .owlSlideshow .item {    height: 490px;}
.owlSlideshow .item img {    width: auto;}

/*--BLOCK TOP
-------------------------------------------------------------------*/
#block-top {    background: #f5f5f5;    border-bottom: 1px solid #dddddd;    border-top: 1px solid #dddddd;    margin-bottom: 50px;    padding: 50px 0;}
.moduleAds p { margin:0;}

body.isSlideshow #block-top { margin-top:-40px; }

/*--MODULE
-------------------------------------------------------------------*/
.title-module {    font-size: 14px;    font-weight: 700; line-height:20px; padding:10px 0;    text-transform: uppercase;  position: relative;}

.titleCenter .title-module {    font-size:22px;    margin-bottom: 45px;      text-align: center;   }
.titleCenter .title-module:after {    border-top: 1px solid #dddddd;    content: "";    left: 0;    position: absolute;    top: 50%;    width: 100%;   z-index: 1;}
.titleCenter .title-module span {    background: #fff;    padding: 0 40px;    position: relative;   z-index: 2;}

.sidebar .jv-module {    padding-top: 20px;	border-top:1px solid #dddddd;	margin-top:40px;		}
.sidebar .jv-module:first-child {    padding-top: 0;	border-top: none;	margin-top:0;		}

.jvlatestnews .intro-title {   font-size: 110%;}


.category-module { margin:0; padding:0; list-style:none;}
.category-module li { margin-bottom:10px;}

/* border style news */
.border-style-news {   text-align: center;}
.border-style-news .intro-title {font-size: 15px; line-height:normal;  margin-bottom: 25px; text-transform: uppercase;}
.border-style-news .content_intro {  margin-bottom: 25px;}

.border-thumbnail-image {  display: block;  margin-bottom: 30px;  overflow: hidden;  position: relative;}
.border-thumbnail-image:after {  border: 1px solid #fff;  bottom: 5px;  content: ""; position: absolute;   left: 5px;   right: 5px;  top: 5px;  -webkit-transition: all 0.3s;  transition: all 0.3s;}

.border-thumbnail-image img {  -webkit-transition: all 0.3s; transition: all 0.3s;}
.border-thumbnail-image:hover img {  opacity: 0.7;  -webkit-transform: scale(1.1);  transform: scale(1.1);}
.border-thumbnail-image:hover:after {  -webkit-transform: scale(0.5);  transform: scale(0.5);  filter: alpha(opacity=0);  opacity: 0;}

.border-style-news  .btn { font-size:13px; text-transform:uppercase; font-weight:700;}

/* owl carousel */
.owl-theme .owl-controls {  left: 0;  position: absolute;  width: 100%; text-align:center; }
.owl-theme .owl-controls .owl-buttons > div {  display:inline-block;  background: #333333;  border-radius: 0;  color: #fff;  font-size: 18px;  height: 50px;  line-height: 50px;  margin: 0;  filter: alpha(opacity=100);  opacity: 1;  padding: 0;  width: 50px;  -webkit-transition: all 300ms;  -moz-transition: all 300ms;  transition: all 300ms;}
.owl-theme .owl-controls .owl-buttons > div [class^="icon-"]:before,
.owl-theme .owl-controls .owl-buttons > div [class*=" icon-"]:before { line-height:normal !important}


.div_products_item_n { overflow: visible !important;}
.div_products_item_n  .owl-controls {    top: -55px; width:auto; right:0; left:auto}
#block-topb .div_products_item_n  .owl-controls {    top: -60px; }
.div_products_item_n  .owl-controls .owl-buttons > div { width:30px; height:30px; line-height:30px; margin-left:5px;}


/* Tabs  */

.JVTab { margin-bottom:0;}
.nav-top > .JVTab-nav { height:50px; margin-bottom:10px;}
.JVTab-nav .nav-content ul {  border-bottom: none; margin:0 !important; height:50px; }
.JVTab-nav .nav-content ul > li {  display:block;  float: left; border:none !important;  margin: 0 0 0 5px !important; }
.JVTab-nav .nav-content ul > li:first-child { margin-left:0 !important; }

.h-nav.nav-slide > .JVTab-nav .nav-content {    margin: 0 25px;}
.nav-slide > .JVTab-nav > a[class*="nav-"] { text-align:center;  width: 20px;   height: 44px; border:none; background-color:#f0f0f0; border-radius:0 !important;
    font-family: icomoon !important;    font-style: normal;    font-variant: normal;    font-weight: 400;    line-height: 1;    text-transform: none;	    line-height: 44px;
}
.nav-slide > .JVTab-nav > a[class*="nav-"]:hover { color:#fff }
.nav-slide > .JVTab-nav > a[class*="nav-"].disabled {background-color:#f0f0f0 !important; opacity:0.6}
.nav-slide > .JVTab-nav > a[class*="nav-"] span { display:none !important}
.nav-slide > .JVTab-nav .nav-prev:before { content: "\f104";}
.nav-slide > .JVTab-nav .nav-next:before {content: "\f105";}

.h-nav > .JVTab-nav .nav-content ul li a {  border-radius: 0 !important; padding:0 15px; line-height:44px;  background: #f0f0f0;  border: none !important;  color: #000;  font-size:13px;  font-weight: 700;  display: block;  position: relative;  text-align: center;  text-transform: capitalize;  min-width: 0;  }

.JVTab-nav .nav-content ul > li.active > a {  color: #fff !important;}
.JVTab-nav .nav-content ul > li.active > a:after {  bottom: -5px;  height: 0;  border-top: 5px solid #000;  border-left: 5px solid rgba(0, 0, 0, 0) !important;  border-right: 5px solid rgba(0, 0, 0, 0) !important;  content: "";  left: 50%;  margin-left: -5px;  position: absolute;  width: 0;}

.JVTab-content {    border: none;}
.JVTab-content {    padding: 0 !important;}
.JVTab-content > div { padding:0}

	/* tabs Products */
	.titleCenter .nav-slide > .JVTab-nav > a[class*="nav-"] { height:44px; line-height:44px;}
	.titleCenter .nav-top > .JVTab-nav { height:70px; margin-bottom:30px;}
	.titleCenter .JVTab-nav .nav-content ul {  border-bottom: none;  margin:0 auto !important;}
	.titleCenter .h-nav > .JVTab-nav .nav-content ul li a {  border-radius: 0 !important;   color: #000;  font-size:13px;  font-weight: 700;  display: inline-block;  position: relative;  text-align: center;  text-transform: uppercase;  min-width: 170px;    line-height:44px;  }
	.titleCenter .JVTab-nav .nav-content ul > li.active > a, .titleCenter .JVTab-nav .nav-content ul > li.active > a:hover {  background: #000 !important;  color: #fff;  border-color:#000 !important;}
	.titleCenter  .JVTab-nav .nav-content ul > li.active > a:after { display:none} 
	

	
	


/* lookbook */

.position-content-top { margin-bottom:30px;}
.moduleLookbook {  background: url(../images/bg-lookbook.jpg) repeat;  color: #fff;  padding: 30px 30px 10px;  position: relative;  text-align: center;}
.moduleLookbook h2 {  color: #fff;  font-size: 24px;  font-weight: 700;  margin-bottom: 10px;  position: relative;  text-transform: uppercase;}
.moduleLookbook h2 a {  color: #fff;}

.moduleLookbook:after {  border: 3px solid white;  bottom: 10px;  content: "";  left: 10px;  position: absolute; right: 10px;  top: 10px;  z-index: 1;}
.moduleLookbook .contentmod  { position:relative; z-index:2;}

.moduleLookbook.bgRed {    background:  #d55357;}


/* parallax */
.sectionParallax1 {  background-position: 50% 0%;  background-size: cover;  background-repeat: no-repeat;  background-attachment: fixed;  background-image: url(../images/bg-parallax.jpg);  color: #fff;}
.sectionParallax2 {  background-position: 50% 0%;  background-size: cover;  background-repeat: no-repeat;  background-attachment: fixed;  background-image: url(../images/bg-parallax-2.jpg);  color: #fff; position:relative;}

.sectionParallax2:after {    background-color: rgba(0, 0, 0, 0.5);    content: "";    left: 0;    position: absolute;    top: 0;	bottom:0;	right:0;    z-index: 1;}
.sectionParallax2 .container { position:relative; z-index:2}

 #owl-text-slide .item {  display: table;  height: 400px;}
 #owl-text-slide .item blockquote {  border-left: 0;  display: table-cell;  font-size: 2.571em;  margin: 0;  padding: 0;  text-align: center;  vertical-align: middle;}

 #owl-text-slide .item blockquote footer {  color: #fff;  font-size: .5em;  padding: 15px 0 0;  position: relative;}
 #owl-text-slide .item blockquote footer:after {  border-top: 1px solid white;  content: "";  left: 50%;  margin-left: -25px;  position: absolute;  top: 0;  width: 50px;}
 #owl-text-slide .item .intro {  display: table-cell; text-align: center;  vertical-align: middle;}
 #owl-text-slide .item .intro h2 {  color: #fff;    font-size: 52px;    text-transform: uppercase;  letter-spacing: 3px;}
 

.div-list-photo {    margin: 0 -3px;    padding: 0;	list-style:none}
.div-list-photo li {    display: inline-block;    margin: 0 3px 10px;}

	/* More Info Shop */
	.moreInfoShop {    list-style: none;    overflow: hidden;    padding: 0;     color: #fff;	margin:0;}
	.moreInfoShop li {    float: left;    overflow: hidden;    padding: 20px 0 20px 25px;    width: 20%;	position:relative;}
	.moreInfoShop li .inner { position: relative}
	.moreInfoShop li strong {    display: block;}
	.moreInfoShop li span {    font-size: 12px;    opacity: 0.5;}
	.moreInfoShop li .fa {    float: left;    font-size: 2.571em;    margin-right: 10px;}
	.moreInfoShop li:before { content:""; position:absolute; top:0; left:0; right:0; bottom:0;}
	.moreInfoShop li:nth-child(2):before { opacity:0.9}
	.moreInfoShop li:nth-child(3):before { opacity:0.8}
	.moreInfoShop li:nth-child(4):before { opacity:0.7}
	.moreInfoShop li:nth-child(5):before { opacity:0.6}
	.moreInfoShop li:nth-child(6):before { opacity:0.5}
	.moreInfoShop li:nth-child(7):before { opacity:0.4}


/*--CONTAINER
-------------------------------------------------------------------*/
section {    margin-bottom: 40px;}
.shopFullContent #main-content { width:100% !important; margin:0 !important}

.home.isSlideshow #block-main  { margin:0;}

#system-message-container #system-message {    margin-bottom: 25px;}
#system-message-container #system-message.alert {    padding: 15px;}
.alert p {    margin-bottom: 10px;}
.alert-error {    background-color: #f2dede;    border-color: #ebccd1;    color: #a94442;}
.alert-notice {    background-color: #fcf8e3;    border-color: #faebcc;    color: #8a6d3b;}
.alert-message {    background-color: #d9edf7;    border-color: #bce8f1;    color: #31708f;}

h1.titlePage {  font-size:48px;   font-weight: 700;       text-transform: uppercase;   }
#content h1.titlePage_  { display:none}
#search-searchword { width:100%; height:48px;}

h2.ItemTitle {font-size: 26px;  font-weight: 700;}


#block-breadcrumb h1.titlePage {  color:#fff;  text-align:center;   margin: 0; }
#block-breadcrumb { margin-bottom:60px;  background:  url(../images/bg-blog.jpg) no-repeat center center;  -webkit-background-size: cover;	-moz-background-size: cover;	-o-background-size: cover;	background-size: cover;}
#block-breadcrumb .innercontainer {  display:table; width:100%;}
#block-breadcrumb .innercontainer h1 { display:table-cell; height:200px; vertical-align: middle; width:100%; text-align:center; } 
#block-breadcrumb .position-breadcrumb {    display: table-cell;    height: 80px;    padding: 20px 0;    vertical-align: middle;}

.com_hikashop #block-breadcrumb, .com_virtuemart #block-breadcrumb {  background-image:  url(../images/bg-shop.jpg); }
body.isSlideshow #block-breadcrumb { margin:0 !important}

body.shortcodes  #block-breadcrumb ,
body.ContactVersion-2  #block-breadcrumb  {    background-color: #333;    background-image:  url(../images/bg-contact.jpg);}
body.shortcodes  #block-breadcrumb .container h1,
body.ContactVersion-2  #block-breadcrumb .container h1 {height: 384px; text-align:center;}
body.shortcodes  #block-breadcrumb h1 span,
body.ContactVersion-2  #block-breadcrumb h1 span  {    display: inline-block;    padding: 10px 32px; border:2px solid #fff;}



 

.moduleAddress { line-height:30px; }
.moduleAddress p { margin:0}	
.moduleAddress [class^="icon-"]:before, .moduleAddress [class*=" icon-"]:before { margin-right:5px;}


.rowlabel  { display:block; margin-bottom:20px;}
.spanlable {    display: block;    font-weight: 300;    margin-bottom: 5px;}

.fontawesome-icon-list [class*="col-sm"] , .fontawesome-icon-list h2 { margin-bottom:20px;}

#member-profile-work  { padding-top:20px;}
#member-profile-work .form-group input , #member-profile-work .form-group select { width:100%} 
.panel-heading h3.panel-title, .panel-heading  h4.panel-title { line-height:26px; text-transform:uppercase; font-weight:700}
.dl-horizontal dd, .dl-horizontal dt { line-height:30px}


	/* Login */
	.rowform {    margin-bottom: 20px;    overflow: hidden;    position: relative;}
	.rowform > label {    float: left;    font-size: 21px;    font-weight: 300;    line-height: 32px;    margin: 0 20px 0 0;    min-height: 1px;    text-transform: uppercase;    width: 180px;}
	.rowform .wrapinput {    overflow: hidden;    padding-bottom: 8px;    position: relative;}
	.rowform input {    width: 100%;}
	.rowform .lineinput {    position: relative;}
	.rowform a {    text-decoration: underline;}
	
	.divremember { line-height:28px;}
	.divremember #remember { float:left; margin-right:10px;} 


	/* About Shop */

	.aboutShop {	  margin-bottom: 30px;	}
	.aboutShop .introtext {	  margin-bottom: 50px; text-align:center	}
	.aboutShop .introtext p {	  margin: 0;	}
	.aboutShop .introtext p strong {	  font-size: .928em;	  text-transform: uppercase;	}
	.aboutShop .introtext h1 {	  font-size: 4.285em;	  text-transform: uppercase; position:relative;	}
	.aboutShop .introtext h1:after {		content:"";	    background-color: #555;    display: block;    height: 1px;    margin: 0 auto 15px;    width: 50px;	}
	.aboutShop .row {	  margin-left: -5px;	  margin-right: -5px;	}
	.aboutShop .row div[class^="col-"] {	  padding-left: 5px;	  padding-right: 5px;	}
	.aboutShop .description {	  background-color: rgba(0, 0, 0, 0.8);	  bottom: 0;	  color: #fff;	  left: 0;	  padding: 20px;	  position: absolute;	  text-align: center;	  width: 100%;		  -webkit-transition: -webkit-transform 0.35s;	  transition: transform 0.35s;	  -webkit-transform: translate3d(0, 100%, 0);	  transform: translate3d(0, 100%, 0);	}
	.aboutShop .description h3, .aboutShop .description a {		display:block;	  -webkit-transition: -webkit-transform 0.5s;	  transition: transform 0.5s;	  -webkit-transform: translate3d(0, 200%, 0);	  transform: translate3d(0, 200%, 0);	}
	.aboutShop .description h3 {	  color: #fff;	    margin-bottom: 5px;	}
	.aboutShop .description a {	  color: rgba(255, 255, 255, 0.5);	  font-size: 12px;	  font-weight: 700;	  text-transform: uppercase;	  text-decoration: underline;	}
	.aboutShop .catItem {	  margin-bottom: 10px;	  overflow: hidden;	  position: relative;	}
	.aboutShop .catItem:hover  .description, .aboutShop  .catItem:hover h3, .aboutShop  .catItem:hover a {	  -webkit-transform: translate3d(0, 0, 0);	  transform: translate3d(0, 0, 0);	}
	
	/*404*/
	.page-404 #block-breadcrumb .container { display:none}
	.page-404 .top404 { font-size:10em; color:#000; opacity:0.1}
	.page-404 h2 { font-size:5em; font-weight:700}
	
	



/*class style select box*/
.selectify,
.selectify .header-f,
.selectify .options,
.selectify .option{min-width:180px;width:auto !important;overflow: inherit;text-transform:capitalize; }
.selectify .options{width:100% !important; line-height:normal }
.selectify .option{border: 1px solid #DCDCDC;border-top:none;border-bottom:none;padding: 10px 10px 10px 15px;}
.selectify .option:last-child{border-bottom: 1px solid #DCDCDC;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}
.selectify .header-f{border: 1px solid #DCDCDC;border-radius: 0;}
.selectify {color: #43474D;font-family: Open Sans, sans-serif;font-weight: 300;}
.selectify .header-f .selected{color: #43474D;line-height: 36px;padding: 0 15px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.selectify .header-f .icon { background:none;   height: 20px;    line-height: 20px;    margin-top: -10px;    position: absolute;    right: 10px;    top: 50%;    width: 12px;}
.selectify .header-f .icon::before{content: "";display: inline-block;font-family: FontAwesome;font-style: normal;font-weight: normal;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; color:#999}
.selectify .option.hover{background: #f9f9f9;}



/*endclass selectbox*/

#block-fullbottom, #block-fullbottom .jvmapcontain { margin:0}

#block-topb  h3.title-module {    border-bottom: 2px solid #000;    padding-bottom: 15px;}

ul.btn-toolbar { margin: 0;}


.profile ul.btn-toolbar.pull-right { margin:-10px -10px 0 0}

/*--LAYOUT MOBILE
-------------------------------------------------------------------*/

	#mainsite {transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s;}
	#layoutMobile #block-header { margin-bottom:30px !important; }
	#block-sidebar {    background:  #181818; color:#fff;    bottom: 0;    margin: 0;    position: fixed;    right: 0;    top: 0;    width: 280px;   z-index: 10000;transition: all 0.3s ease-out 0s; -webkit-transition: all 0.3s ease-out 0s; transform: translateX(280px); -webkit-transform: translateX(280px); }
	#block-sidebar .inner-sidebar {    bottom: 0; padding:15px; left: 0;    margin: 0;    position: absolute;    right: 0;    top: 0;  overflow:auto;-webkit-overflow-scrolling: touch; overflow-scrolling: touch; -o-overflow-scrolling: touch; -ms-overflow-scrolling: touch; }
	
	#block-sidebar .sidebarToggle { cursor: pointer; border-radius:5px 0 0 5px; position:absolute; left:-40px; width:40px; text-align: center; line-height: 40px; height:40px; top:30%;background:  #181818; z-index:1000;}
	body.showmenu #block-sidebar .sidebarToggle { display:none}
	
	
	body.showSidebar #mainsite  {transform: translateX(-280px); -webkit-transform: translateX(-280px);}
	body.showSidebar #block-sidebar  {transform: translateX(0); -webkit-transform: translateX(0);}
	
	#block-sidebar input { color:#000;}
	#block-sidebar  a, #block-sidebar  h3, #block-sidebar  .filter-by-characteristics .hikashop_filter_checkbox label, #block-sidebar .filter-product span.hikashop_filter_title { color:#fff;}
	
	
	#block-sidebar  h3.title-module {    background:#333;    color: #e8e8e8;    line-height: 40px;    margin: 0 -15px 20px;    padding: 0 15px;}
		
	#block-sidebar .jv-module + .jv-module { margin-top:30px;}
    
    
    #block-sidebar .div_list_products [class*="col-md"] { width: 100% !important;}
	#block-sidebar .div_list_products .item a { color: #444;}
	
	#block-sidebar .jvajax_search_hikashop_block .col-xs-6 { width:50% !important} 
    
	#block-sidebar .jvajax_shop_search_content .item, #block-sidebar .jvajax_shop_search_content .item a { color:#666 !important;}
	
	#block-sidebar  .pagination-list { margin-bottom:20px;}
	#block-sidebar  .pagination-list a, #block-sidebar  .pagination-list span {    line-height: 30px;    padding: 0 10px;}

/* owl-logo-partner */    
#owl-logo-partner a { display:block; text-align:center}
#owl-logo-partner a img { width:auto;}


/* MODULE VARIATIONS
 --------------------------------------------------------------------------------------------- */
 
.ModuleVariations .row  {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.ModuleVariations h2 {     border-bottom: 1px solid #cccccc; padding-bottom:10px; }

.ModuleVariations [class*="col-sm-"], .ModuleVariations [class*="col-md-"] {
    margin-bottom: 20px;
    margin-top: 0;
}

.ModuleVariations .contentmod strong {
    background-color: #fff;
    color: #f00 !important;
    font-weight: normal;
    padding: 2px; text-shadow:none !important; border-radius: 3px;
}

.title-module[class*="icon-"]:before { margin-right:5px;} 

.moduleBox {padding:10px !important; background-color:#fff; border: 1px solid #d5d5d5; border-radius: 4px;}
.moduleBox .title-module {    border-bottom: 1px solid #ddd;}

.bShadowIn {	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1) inset;	-webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1) inset;}
.bShadowOut {	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1) ;	-webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);}
.wShadowIn {	box-shadow: 0 2px 12px rgba(255, 255, 255, 0.1) inset;	-webkit-box-shadow: 0 2px 12px rgba(255, 255, 255, 0.1) inset;}
.wShadowOut {	box-shadow: 0 2px 12px rgba(255, 255, 255, 0.1) ;	-webkit-box-shadow: 0 2px 12px rgba(255, 255, 255, 0.1);}


	/*Module Background*/
	[class*="BgColor"] { color:#fff; border:none}
	.BgColor1 {  background-color: #363636;   text-shadow: 0 2px 2px #000000;}
	.BgColor2 { background-color: #3598db; }
	.BgColor3 {  background-color: #c2a772;  }
	.BgColor4 { background-color: #1abc9c;}
	.BgColor5 { background-color: #e99b1f; }
	.BgColor6 { background-color: #f64243;  }
	.BgColor7 {  background-color: #a57bcd; }
	.BgColor8 {  background-color: #e9bf1d; }
	
	[class*="BgColor"] .title-module {     color: #ffffff;}
	.BgColor1 .title-module {    border-color:#212121;   box-shadow: 0 1px 0 #4c4c4c;    text-shadow: 1px 1px 1px #000000;}
    
	/*Title Background*/
	.moduleBox[class*="BgTitle"] .title-module {    border-radius: 4px 4px 0 0;    margin: -11px -11px 10px;}
	[class*="BgTitle"] .title-module { color:#fff; padding:10px; margin-bottom:10px; }
	.BgTitle1 .title-module {  background-color: #363636;}
	.BgTitle2 .title-module { background-color: #3598db; }
	.BgTitle3 .title-module {  background-color: #c2a772;  }
	.BgTitle4 .title-module { background-color: #1abc9c;}
	.BgTitle5 .title-module { background-color: #e99b1f; }
	.BgTitle6 .title-module { background-color: #f64243;  }
	.BgTitle7 .title-module {  background-color: #a57bcd; }
	.BgTitle8 .title-module {  background-color: #e9bf1d; }
	



/* HOME VERSION 4
 --------------------------------------------------------------------------------------------- */

 body.index-4 #wrapper {    bottom: auto !important;    left: auto !important;    position: relative !important;   right: auto !important;    top: auto !important;    overflow: hidden;} 
 body.index-4 #block-mainnav { display: none;}
 body.index-4 #block-mainnav-mobile {    position: fixed !important;}
 .slideshowV4 .item img { min-width: 100%;}    
 body.index-4 #block-header .container { padding-top: 30px; padding-bottom: 30px !important;}
 body.index-4 #logo {   left: 300px;    right: 300px;    text-align: center;    top: auto;}
 body.index-4 .position-header-right .headericon a { line-height:40px;}


/*--FOOTER
-------------------------------------------------------------------*/

#block-footer {    background: none repeat scroll 0 0 #181818;    color: #999999;    padding: 50px 0 30px;	font-size:13px; } 
#block-footer  #block-bottom, #block-footer  #block-bottomb { border-bottom: 1px solid #383838;    padding-bottom: 25px; margin-bottom:20px;}


#block-footer  .title-module {    color: #fff;   font-size: 1em;    text-transform: uppercase;	margin:0 0 20px;	} 
#block-footer  .title-module  span { background:none; padding:0;}
#block-footer  .title-module:after { display:none}
#block-footer ul { margin:0; padding:0; list-style:none}
#block-footer a {color: #999999;} 
.position-footer { float:right}
#block-footer div.copyright { padding:0; text-align:left; line-height: 30px; margin:0}
#block-footer .copyright a:hover {color: #999999;}

#block-footer .social {font-size: 24px; margin:0; list-style:none}
#block-footer .social li { display:inline-block}
#block-footer .social a { margin-left:5px; display:inline-block}


.jvnewsletter-group { position:relative;}

#block-footer input {    border: medium none;    color: #333;    font-size: 12px;    padding-right: 45px;    width: 100%;}
#block-footer  .jvnewsletter_subscribe_pre_text { color:#999 !important; margin-bottom:20px !important}
#block-footer .jvnewsletter-group button {    background: #fff;    border: medium none;    height: 36px;    min-width: 40px;    position: absolute;    right: 0;    text-align: center;    top: 0;	    color: #333 !important;    font-size: 12px;}


/* Contact */
	.form_contact .form { overflow: hidden; margin:0 -15px 20px; position:relative}
	.form_contact .form p { float:left; width:50%; padding:0 15px;}
	.form_contact .form p input { width:100%; margin-top:5px;}
	.form_contact .form p.input-message {  width:100%; }
	.form_contact .form p textarea { width:100%; height:100px; padding:10px; margin-top:5px}
	
	.ContactVersion-2  .form_contact .form  { min-height:220px;}
	.ContactVersion-2  .form_contact .form p { width:30%; clear:both }
	.ContactVersion-2 .form_contact .form p.input-message {  width:70%; position:absolute; top:0; right:0 }
	.ContactVersion-2 .form_contact .form p textarea {  height:195px;}
	
	.lineTitle .title-module{    border-bottom: 2px solid black;    padding-bottom: 15px;    text-transform: uppercase;}
	
	
	#toTop { background-image:none !important; border-radius:0; box-shadow:none; -webkit-box-shadow:none; text-indent:0;    bottom: 20px;    color: #fff; font-weight:700;    display: block;    font-size: 16px;    height: 50px;    line-height: 50px;    opacity: 0;    position: fixed;    right: 20px;    text-align: center;    text-decoration: none;    transition: all 300ms ease 0s; -webkit-transition: all 300ms ease 0s;    width: 50px;    z-index: 1040;	}
	#toTop:before {	content: "\f106";	    display: inline-block;    font-family: FontAwesome !important;    font-feature-settings: normal;    font-kerning: auto;    font-language-override: normal;    font-size: inherit;    font-size-adjust: none;    font-stretch: normal;    font-style: normal;    font-synthesis: weight style;    font-variant: normal;    font-weight: normal;    line-height: 1;    text-rendering: auto;}
	#toTop:hover, #toTop:active, #toTop:focus { color:#000 !important}
	#toTop.visible {    opacity: 1;}



/* Animation */
	.div_list_products .item2 {    animation-delay: 0.2s !important; -webkit-animation-delay: 0.2s !important;}
	.div_list_products .item3 {    animation-delay: 0.4s !important; -webkit-animation-delay: 0.4s !important;}
	.div_list_products .item4 {    animation-delay: 0.6s !important; -webkit-animation-delay: 0.6s !important;}
	.div_list_products .item5 {    animation-delay: 0.8s !important; -webkit-animation-delay: 0.8s !important;}
	.div_list_products .item6 {    animation-delay: 1s !important; -webkit-animation-delay: 1s !important;}


/* SHOP */
#PopupPDetail{display:none;	background:#fff;  }
#PopupPDetail .container {height:680px; padding:20px 15px;}
#PopupPDetail iframe { width:100% !important; height:100% !important;}
.module_products_list_slider {  padding-top: 100px;  width:auto; margin: 0 -15px;}
.module_products_list_slider .owl-controls {  top: 0;}
.module_products_list_slider .owl-controls .owl-buttons > div {  background: #fff !important;  border: 2px solid #333333;  color: #333333;  font-size: 2.2em;  line-height: 45px;  margin: 0 2px;}

