.vm2-stars0 {    background-position: 0 -358px;    height: 13px;    width: 64px;}
.vm2-stars1 {    background-position: 0 -421px;    height: 13px;    width: 64px;}
.vm2-stars2 {    background-position: 0 -484px;    height: 13px;    width: 64px;}
.vm2-stars3 {    background-position: 0 -547px;    height: 13px;    width: 64px;}
.vm2-stars4 {    background-position: 0 -610px;    height: 13px;    width: 64px;}
.vm2-stars5 {    background-position: 0 -673px;    height: 13px;    width: 64px;}
.vm2-stars_0 {    background-position: 0 -736px;    height: 13px;    width: 64px;}
.vm2-stars_1 {    background-position: 0 -799px;    height: 13px;    width: 64px;}
.vm2-stars_2 {    background-position: 0 -862px;    height: 13px;    width: 64px;}
.vm2-stars_3 {    background-position: 0 -925px;    height: 13px;    width: 64px;}
.vm2-stars_4 {    background-position: 0 -988px;    height: 13px;    width: 64px;}
.vm2-stars_5 {    background-position: 0 -1051px;    height: 13px;    width: 64px;}


@media (max-width: 768px) {
.spacer-buy-area .ratingbox {    margin: 0 auto 15px;}
}

/* ICONS */
.vmicon, .vmiconFE {    background: url("../images/default/vm2-sprite.png") no-repeat scroll left top rgba(0, 0, 0, 0);}
.vm2-add_quantity_cart {    background-position: 0 0;    border: 0 none;    cursor: pointer;    height: 24px;    width: 24px;}
.vm2-arrow_down {    background-position: 0 -72px;    height: 16px;    width: 16px;}
.vm2-billto-icon {    background-position: 0 -138px;    border: 0 none;    height: 24px;    margin-right: 6px;    vertical-align: middle;    width: 24px;}
.vm2-remove_from_cart {    background-position: 0 -212px;    border: 0 none;    cursor: pointer;    display: inline-block;    height: 24px;    vertical-align: middle;    width: 24px;}
.vm2-shipto-icon {    background-position: 0 -284px;    height: 24px;    margin-right: 6px;    vertical-align: middle;    width: 24px;}
.vm2-lowstock {    background-position: 0 -1114px;    display: block;    height: 15px;    margin: 10px auto;    width: 62px;}
.vm2-nostock {    background-position: 0 -1179px;    display: block;    height: 15px;    margin: 10px auto;    width: 62px;}
.vm2-normalstock {    background-position: 0 -1244px;    display: block;    height: 15px;    margin: 10px auto;    width: 62px;}

.ratingbox {    background: url("../images/default/color-stars.png") repeat-x scroll 0 bottom transparent;    display: block;    height: 24px;    margin: 0 0 15px;    position: relative;    width: 120px;}
.ratingbox div, .ratingbox span {    background: url("../images/default/color-stars.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);    display: block;    height: 24px;    position: absolute;    width: 1%;}
.browse-view .ratingbox {    margin: 0 auto;}
.spacer-buy-area .ratingbox {    margin-bottom: 15px;}
div.vote, span.vote {   float: right; }
.category-ratingbox {    background: url("../images/default/color-stars-small.png") repeat-x scroll 0 bottom transparent;    display: block;    height: 12px;    position: relative;    width: 60px;}
.category-ratingbox div, .category-ratingbox span {    background: url("../images/default/color-stars-small.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);    display: block;    height: 12px;    position: absolute;    width: 1%;}
.stars-orange {    background-position: 0 0 !important;}
.stars-red {    background-position: 0 -54px !important;}
.stars-green {    background-position: 0 -108px !important;}
.stars-blue {    background-position: 0 -162px !important;}
.stars-purple {    background-position: 0 -216px !important;}



#ui-tabs ul#tabs {    list-style-type: none;    margin: 20px 0;    overflow: hidden;  }
#ui-tabs ul#tabs li {    background: none repeat scroll 0 0 #f2f2f2;    cursor: pointer;    display: inline-block; margin:0; padding:0 20px; line-height:40px; }
#ui-tabs ul#tabs li.current {    background:  #ccc;    color: #444; }
#ui-tabs .tabs {}
#ui-tabs .dyn-tabs {    display: none;    overflow: auto;}

/* SHOP STYLE */
.div_list_products .item {    margin-bottom: 30px;}

/* DETAILS */
#toolbar  { overflow:hidden; margin:0 0 20px}
#toolbar .btn-wrapper { float:left; margin-right:5px;}
.orderlistcontainer { float:left; margin-right:10px;    position: relative;}
.orderlistcontainer div.orderlist { margin-top:-1px;    background: #fff; width:100%; padding:10px 15px;    border: 1px solid #cac9c9;    cursor: pointer;    display: none;    position: absolute;    z-index: 1;}
.orderlistcontainer div.orderlist a { display:block}
.orderby-displaynumber .activeOrder, .orderby-displaynumber .Order  {    border: 1px solid #dcdcdc;    min-width: 170px;    padding: 0 30px 0 15px; position:relative;}
.orderby-displaynumber .Order + div { display:none !important}
.orderby-displaynumber .activeOrder:before {    color: #999;    content: "";    display: inline-block;    font-family: FontAwesome;    font-style: normal;    font-weight: normal;	position:absolute; right:10px;}


.additional-images  {    margin: 0 -10px !important;    overflow: hidden;}
.additional-images  a {    float: left;    padding: 10px !important;    width: 25%;}
.additional-images  a img { width:100%} 

.product-neighbours { overflow:hidden; margin-bottom:20px;     border-bottom: 1px solid #dddddd;     padding-bottom: 10px;}
.product-neighbours .next-page:after, .product-neighbours .previous-page:before {    font-family: icomoon !important;    font-style: normal;    font-variant: normal;    font-weight: 400;    text-transform: none;}
.product-neighbours .next-page:after {content: "\f105"; margin-left:5px;}
.product-neighbours .previous-page:before {content: "\f104"; margin-right:5px;}

.productdetails-view .addtocart-area, .productdetails-view .addtocart-area .product-fields {    border-bottom: 1px solid #dddddd;    margin-bottom: 20px;    padding-bottom: 20px;}
.productdetails-view .addtocart-area .product-field {    float: left;    margin-right: 20px !important;    width: 250px !important;}
.productdetails-view .product-field .product-fields-title-wrapper { display:block; margin-bottom:5px;}
.productdetails-view .product-field .selectify, .productdetails-view .product-field .selectify .header-f, .productdetails-view .product-field .selectify .options, .productdetails-view .product-field .selectify .option {    min-width: 80px !important;}

.category-view .category { margin-bottom:20px;}
.category-view .category  a {   text-align:center; display:block}
.category-view .category  a  .img, .product-related-category .item { display: block; padding:10px;   border: 1px solid #dcdcdc; border-bottom:none }

.category-view .category  a  .img span {    display: block;    max-height: 200px;    overflow: hidden;}
.category-view .category  a  img { display: block; width:100%; }
.category-view .category  a  .name { display: block;  padding:10px 0; color:#fff; }

.product-detail-related .product-field-display > *, .product-detail-related .product-field-display img { display:block; margin-bottom:5px;}
.product-detail-related .product-field-display a {    max-height: 300px;    overflow: hidden; margin-bottom:10px;}

.product-related-category .item { display: block; padding:10px;   border: 1px solid #dcdcdc; text-align:center }
.product-related-category .item img { margin-bottom:10px;}

.customfields_more .product-field  { margin-bottom:15px;} 



.addtocart-controls input {    background: #f5f5f5;    border: medium none;    text-align: center;    width: 48px;}
.addtocart-controls .quantity-controls { width:22px; }



.productdetails-view .spacer-buy-area .addtocart-bar { overflow:hidden}
.productdetails-view .spacer-buy-area .addtocart-bar a.ask-a-question { float:right; margin-left:5px;   font-size: 18px; width:44px; text-align:center}
.productdetails-view .spacer-buy-area .addtocart-button { float:right}
.productdetails-view .spacer-buy-area .addtocart-controls input {     height: 48px;   }


.moreinfo-details { margin-bottom:20px;}
.moreinfo-details > div { margin-bottom:5px;}
.moreinfo-details span { color:#666; margin-right:10px;}

.productdetails-view .row { margin-bottom:30px;}
.productdetails-view .moreicons { float:right; margin-top:8px}
.productdetails-view .moreicons > * { float:right}
.productdetails-view .moreicons a { float:right; margin-left:5px;}

.productdetails-view .ratingbox.dummy { float:right}

.productdetails-view .product-price, 
.productdetails-view .product-short-description { margin-bottom:20px;}
.productdetails-view .PricesalesPrice  { font-size:30px; line-height:normal;}
.productdetails-view .PricesalesPrice .vm-price-desc { display:none}

#reviewform textarea { width:100%; height:80px; margin-bottom:10px; padding:10px;}
#reviewform .write-reviews { margin-bottom:20px;}
.list-reviews .linereview {     border-top: 1px solid #ddd;    margin-bottom: 30px;    padding-top: 30px;}
.list-reviews .linereview .author {    display: block;    font-weight: 700;    margin-bottom: 10px;}


.content.my-groovy-style { max-width:800px;}

.product_s_desc { padding-top:10px;}

#block-mainnav .VMmenu li { border:none}
#block-mainnav .VMmenu li a { color: #666; padding: 6px 0; display: block;}

/* View cart */
.cart-summary .cart-images img {    width: 80px;}
.vm3-add_quantity_cart, .vm3-remove_from_cart { border:none !important; background:none !important}

.vm-cart-header-container, .control-buttons { margin-bottom:20px;}

.panel-output-billto  .panel-body, .panel-output-shipto   .panel-body { min-height:80px;}

.enterCouponCode .coupon {    height: 48px;    width: 100%;}

.divcartfields .panel-body { min-height:80px;}
.divcartfields textarea { padding:10px; width:100%; height:50px;}

.page-checkout-done .panel-body div { overflow:hidden; margin-bottom:15px;}
.page-checkout-done .panel-body div [class*="post_payment"] { float:left; width:150px;}

/* User */


table.user-details  { width:100%}
table.user-details td { padding:5px;}
table.user-details td.key { width:250px}
table.user-details select, table.user-details input { width:100% !important;}


.panel-vendor-ask-question label { display:block; margin-bottom:15px;}
.panel-vendor-ask-question label input { width:100%;}
.panel-vendor-ask-question label textarea { height:80px; padding:10px; width:100%; font-weight:normal}

select[multiple="multiple"] { height:130px;}

.panel-output-billto  .output-billto { margin-bottom:20px;}

.buttonBar-right { padding:20px 0}

#divadmintable .row { margin-bottom:30px;}
#divadmintable .toggle-editor { padding:5px;}
#divadmintable .btn-toolbar .btn { background:none !important; line-height:normal !important; padding:0 5px !important; border: none !important; height:auto; color:#333 !important; font-weight:normal !important}

#askform .askform td { padding: 10px 0}
#askform .askform input, #askform textarea { width: 100%}


.featured-view { padding-top:30px;}